Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

cleanup
  internal/injector/check.go
  internal/injector/injector.go
Due: Injector

chore: update generated files
  LICENSE-3rdparty.csv
Due: none

parse package name for FileMayMatch
  internal/injector/aspect/join/all-of.go
  internal/injector/aspect/join/configuration.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/expression.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/not.go
  internal/injector/aspect/join/one-of.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/struct.go
  internal/injector/aspect/join/testmain.go
  internal/injector/aspect/may/context.go
  internal/injector/aspect_filter.go
  internal/injector/filtering.go
  internal/injector/injector.go
  internal/injector/parse.go
Due: Aspects, Injector

parrallelize reading and parsing
  internal/injector/check.go
  internal/injector/filtering.go
  internal/injector/imports.go
  internal/injector/injector.go
  internal/injector/parse.go
  internal/injector/parse/mapped_filename.go
  internal/injector/parse/parse_test.go
  internal/injector/parse/parser.go
Due: Injector

release: v1.0.2
  internal/version/version.go
Due: none

release: v1.0.2 (#460)
  internal/version/version.go
Due: none

refactor(config): use different jsonschema dependency at runtime
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/injector/config/config_test.go
  internal/injector/config/validate.go
  internal/injector/config/validate_test.go
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Test Suite

refactor(config): use different jsonschema dependency at runtime (#456)
  LICENSE-3rdparty.csv
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/injector/config/config_test.go
  internal/injector/config/validate.go
  internal/injector/config/validate_test.go
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Test Suite

chore: update dd-trace-go to 1.71.0-rc.1
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

update release tga
  internal/version/version.go
Due: none

chore: update generated files
  _integration-tests/go.sum
  samples/go.sum
Due: Integration Test Suite

fix(injector): source import shadowed breaks build
  internal/injector/aspect/context/context.go
  internal/injector/check.go
  internal/injector/injector.go
  internal/injector/testdata/injector/chi5-newroute-dotimport/config.yml
  internal/injector/testdata/injector/import-shadowing/config.yml
  internal/injector/testdata/injector/import-shadowing/expected.diff
  internal/injector/typed/refmap.go
Due: Aspects, Injector

Update internal/injector/injector.go
  internal/injector/injector.go
Due: Injector

fix(injector): source import shadowed results in build error "X is not a type" (#463)
  internal/injector/aspect/context/context.go
  internal/injector/check.go
  internal/injector/injector.go
  internal/injector/testdata/injector/chi5-newroute-dotimport/config.yml
  internal/injector/testdata/injector/import-shadowing/config.yml
  internal/injector/testdata/injector/import-shadowing/expected.diff
  internal/injector/typed/refmap.go
Due: Aspects, Injector

fix: orchestrion fail to instrument if is not in the go.mod folder
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver

Update oncompile.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver

Add test
  main_test.go
Due: none

feat: improve context in error advice messages
  internal/injector/aspect/advice/assign.go
  internal/injector/aspect/advice/block.go
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/inject.go
  internal/injector/aspect/advice/wrap.go
  internal/injector/injector.go
Due: Aspects, Injector

fix(injector): fix file order
  internal/injector/parse/parser.go
Due: Injector

feat: improve context in error advice messages (#467)
  internal/injector/aspect/advice/assign.go
  internal/injector/aspect/advice/block.go
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/inject.go
  internal/injector/aspect/advice/wrap.go
  internal/injector/injector.go
Due: Aspects, Injector

fix: orchestrion fail to instrument if is not in the go.mod folder (#466)
  internal/toolexec/aspect/oncompile.go
  main_test.go
Due: Toolexec Driver

fix: failed to resolve argv0 ("/run/rosetta/rosetta")
  internal/goflags/flags.go
Due: Go Driver

fix: failed to resolve argv0 ("/run/rosetta/rosetta") (#474)
  internal/goflags/flags.go
Due: Go Driver

suggestions from @RomainMuller
  internal/injector/aspect/join/all-of.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/one-of.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/struct.go
  internal/injector/aspect/join/testmain.go
  internal/injector/aspect/may/context.go
  internal/injector/aspect/may/match.go
  internal/injector/builtin/integration_test.go
  internal/injector/check.go
  internal/injector/check_test.go
  internal/injector/imports.go
  internal/injector/injector.go
  internal/injector/injector_test.go
  internal/injector/parse/mappedfilename.go
  internal/injector/parse/parser.go
  internal/injector/testdata/injector/chi5-newroute-dotimport/config.yml
  internal/injector/testdata/injector/chi5-newroute/config.yml
  internal/injector/testdata/injector/database-sql/config.yml
  internal/injector/testdata/injector/grpc/config.yml
  internal/injector/testdata/injector/http-anonymous-handler/config.yml
  internal/injector/testdata/injector/http-default/config.yml
  internal/injector/testdata/injector/http-ignored/config.yml
  internal/injector/testdata/injector/http-line-info/config.yml
  internal/injector/testdata/injector/http-no-arg-name/config.yml
  internal/injector/testdata/injector/http-server/config.yml
  internal/injector/testdata/injector/import-shadowing/expected.diff
  internal/injector/testdata/injector/lang-level/config.yml
  internal/injector/testdata/injector/redigo/config.yml
  internal/injector/testdata/injector/struct-literal/config.yml
Due: Aspects, Injector

more docs
  internal/injector/parse/parser.go
Due: Injector

change copyright header
  internal/injector/check_test.go
Due: Injector

use suffixarray instead of bytes.Contains
  internal/injector/aspect/may/context.go
Due: Aspects, Injector

chore: test with go1.24-rc.1
  .github/workflows/validate.yml
Due: none

Fix semver expression
  .github/workflows/validate.yml
Due: none

Don't run lfi test if WAF is not supported
  _integration-tests/tests/os/lfi.go
Due: Integration Test Suite

chore: update generated files
  _integration-tests/go.mod
Due: Integration Test Suite

guard against no packages resolved
  internal/jobserver/pkgs/resolve.go
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/resolve.go
Due: Toolexec Driver, Job Server

Add packages.NeedCompiledFiles to pakages.Load mode
  internal/cmd/server.go
  internal/jobserver/pkgs/resolve.go
Due: Job Server

chore: test with go1.24-rc.1 (#475)
  .github/workflows/validate.yml
  _integration-tests/go.mod
  _integration-tests/tests/os/lfi.go
  internal/cmd/server.go
  internal/jobserver/pkgs/resolve.go
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/resolve.go
Due: Toolexec Driver, Job Server, Integration Test Suite

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Integration Test Suite: any of: _integration-tests/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
