Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Instruments, Go Driver, Toolexec Driver, Aspects, Injector

codecov.yml:

---
codecov:
  notify:
    wait_for_ci: true

ignore:
  - '**/generator/main.go' # Generators are not actually part of the product
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

comment:
  require_changes: true

component_management:
  individual_components:
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]

chore: set more realistic vault's traces (again)
  _integration-tests/tests/vault/main.go
Due: none

feat: add log/slog instrumentation
  _integration-tests/tests/slog/main.go
  _integration-tests/tests/suite.generated.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/stdlib/slog.yml
Due: Injector

feat: support instrumentation of hashicorp/vault (#189)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/suite.generated.go
  _integration-tests/tests/vault/main.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/vault.go.snap
  internal/injector/builtin/yaml/api/vault.yml
  samples/client/vault.go
  samples/go.mod
  samples/go.sum
Due: Injector

release: v0.7.4-rc.2
  .github/workflows/release.yml
  README.md
  _integration-tests/validator/trace/diff.go
  _integration-tests/validator/trace/span.go
  internal/injector/aspect/advice/code/template.go
  internal/version/version.go
Due: Aspects, Injector

Add test case that goes through numberLines
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/advice/code/testdata/parse_error.txt
Due: Aspects, Injector

Add missing env-var in mutation workflow
  .github/workflows/generate.yml
Due: none

chore: update generated files
  internal/injector/builtin/generated.go
Due: Injector

ci: setup reusable workflow for integration tests (#158)
  .github/workflows/workflow_call.yml
Due: none

release: v0.7.4-rc.2 (#207)
  .github/workflows/release.yml
  README.md
  _integration-tests/validator/trace/diff.go
  _integration-tests/validator/trace/span.go
  internal/injector/aspect/advice/code/template.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/advice/code/testdata/parse_error.txt
  internal/version/version.go
Due: Aspects, Injector

feat: add log/slog instrumentation (#208)
  .github/workflows/generate.yml
  _integration-tests/tests/slog/main.go
  _integration-tests/tests/suite.generated.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/stdlib/slog.yml
Due: Injector

feat: support instrumentation of `github.com/aws/aws-sdk-go/aws`
  _integration-tests/go.mod
  _integration-tests/tests/aws.v1/main.go
  _integration-tests/tests/go-redis.v7/main.go
  _integration-tests/tests/go-redis.v8/main.go
  _integration-tests/tests/mongo/main.go
  _integration-tests/tests/redigo/main.go
  _integration-tests/tests/suite.generated.go
  _integration-tests/tests/suite_test.go
  _integration-tests/tests/vault/main.go
  _integration-tests/utils/agent/agent.go
  _integration-tests/utils/containerlogs.go
  _integration-tests/validator/trace/diff.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/aws.go.snap
  internal/injector/builtin/yaml/cloud/aws-sdk.yml
  samples/client/aws.go
  samples/go.mod
Due: Injector

chore: update generated files
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: none

Fixup test snapshot
  internal/injector/builtin/testdata/client/aws.go.snap
Due: Injector

internal/injector/aspect/join: only compile Directive regex once
  internal/injector/aspect/join/directive.go
Due: Aspects, Injector

feat: add continuous profiler instrumentation (#178)
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/main.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/yaml/go-main.yml
  samples/go.mod
  samples/go.sum
Due: Injector

Feedback from @eliottness
  internal/cmd/server.go
  internal/jobserver/buildid/buildid.go
  internal/jobserver/buildid/version.go
  internal/jobserver/client/client.go
  internal/jobserver/client/env.go
  internal/jobserver/common/common.go
  internal/jobserver/common/fork.go
  internal/jobserver/common/handler.go
  internal/jobserver/pkgs/pkgs.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/run.go
  internal/jobserver/server.go
  internal/log/level.go
Due: none

Switch to suggested alternative form that does not use RegExps
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/directive_test.go
Due: Aspects, Injector

feat: orchestrion job server to reduce duplicated effort (#176)
  LICENSE-3rdparty.csv
  _integration-tests/go.mod
  _integration-tests/go.sum
  codecov.yml
  go.mod
  go.sum
  internal/cmd/server.go
  internal/cmd/toolexec.go
  internal/filelock/filelock.go
  internal/filelock/filelock_posix.go
  internal/filelock/filelock_test.go
  internal/filelock/filelock_windows.go
  internal/goproxy/proxy.go
  internal/jobserver/buildid/buildid.go
  internal/jobserver/buildid/version.go
  internal/jobserver/client/client.go
  internal/jobserver/client/env.go
  internal/jobserver/client/syscall_unix.go
  internal/jobserver/client/syscall_windows.go
  internal/jobserver/common/cache.go
  internal/jobserver/common/graph.go
  internal/jobserver/common/graph_test.go
  internal/jobserver/common/handler.go
  internal/jobserver/pkgs/pkgs.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/resolve_test.go
  internal/jobserver/server.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/resolve.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/link.go
  internal/toolexec/version.go
  internal/toolexec/version_test.go
  main.go
  samples/go.mod
  samples/go.sum
Due: Go Driver, Toolexec Driver

Fixup test case with new API
  internal/injector/aspect/advice/code/template_test.go
Due: Aspects, Injector

chore: use latest releases of `go1.21` and `go1.22`
  .github/workflows/tests.yml
Due: none

perf: switch to regexp-less directive matching (#212)
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/directive_test.go
Due: Aspects, Injector

feat: support instrumentation of `github.com/aws/aws-sdk-go/aws` (#209)
  _integration-tests/go.mod
  _integration-tests/tests/aws.v1/main.go
  _integration-tests/tests/go-redis.v7/main.go
  _integration-tests/tests/go-redis.v8/main.go
  _integration-tests/tests/mongo/main.go
  _integration-tests/tests/redigo/main.go
  _integration-tests/tests/suite.generated.go
  _integration-tests/tests/suite_test.go
  _integration-tests/tests/vault/main.go
  _integration-tests/utils/agent/agent.go
  _integration-tests/utils/containerlogs.go
  _integration-tests/validator/trace/diff.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/aws.go.snap
  internal/injector/builtin/yaml/cloud/aws-sdk.yml
  samples/client/aws.go
  samples/go.mod
Due: Injector

Collect integration test execution code coverage
  .github/workflows/tests.yml
  codecov.yml
Due: none

Correctly fingerprint injected dependencies with fancy build flags
  internal/goenv/gobin.go
  internal/goflags/flags.go
  internal/goproxy/proxy.go
  internal/jobserver/buildid/version.go
Due: Go Driver

feat(injector: stdlib): instrument os.OpenFile
  _integration-tests/testdata/rasp.json
  _integration-tests/tests/os/lfi.go
  internal/injector/builtin/yaml/stdlib/ossec.yml
Due: Injector

rework to pedantic operations
  _integration-tests/tests/os/lfi.go
  _integration-tests/tests/suite.generated.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/stdlib/ossec.yml
Due: Injector

trying to debug the injector
  _integration-tests/tests/os/lfi.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/ossec.yml
Due: Injector

feat: support instrumentation of `github.com/Shopify/sarama`
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/sarama/shopify.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/sarama.go.snap
  internal/injector/builtin/testdata/server/sarama.go.snap
  internal/injector/builtin/yaml/datastreams/sarama.yml
  samples/client/sarama.go
  samples/go.mod
  samples/go.sum
  samples/server/sarama.go
Due: Injector

chore: update generated files
  go.mod
  go.sum
Due: none

Fix coverprofile location
  .github/workflows/tests.yml
Due: none

unsafe has no export file
  internal/injector/injector.go
Due: Injector

Make directory if necessary
  internal/injector/injector.go
Due: Injector

feat: add profiling of Orchestrion
  main.go
Due: none

fix lfi tests
  .gitignore
  _integration-tests/go.mod
  _integration-tests/tests/os/lfi.go
  _integration-tests/tests/suite_test.go
  _integration-tests/utils/agent/agent.go
  _integration-tests/utils/agent/requirements.txt
  _integration-tests/validator/trace/span.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/directive/orchestrion-enabled.yml
  internal/injector/builtin/yaml/stdlib/ossec.yml
  internal/injector/testdata/injector/orchestrion-enabled/config.yml
  internal/injector/testdata/injector/orchestrion-enabled/expected.diff
Due: Injector

Implement new approach to line number preservation
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/injector/aspect/advice/wrap.go
  internal/injector/imports.go
  internal/injector/injector.go
  internal/injector/injector_test.go
  internal/injector/lineinfo/annotation.go
  internal/injector/lineinfo/canonicalize.go
  internal/injector/lineinfo/lineinfo.go
  internal/injector/resolver.go
  internal/injector/testdata/injector/chi5-newroute-dotimport/expected.diff
  internal/injector/testdata/injector/chi5-newroute/expected.diff
  internal/injector/testdata/injector/database-sql/expected.diff
  internal/injector/testdata/injector/directive/expected.diff
  internal/injector/testdata/injector/grpc/expected.diff
  internal/injector/testdata/injector/http-anonymous-handler/expected.diff
  internal/injector/testdata/injector/http-default/expected.diff
  internal/injector/testdata/injector/http-line-info/expected.diff
  internal/injector/testdata/injector/http-no-arg-name/expected.diff
  internal/injector/testdata/injector/http-server/expected.diff
  internal/injector/testdata/injector/name-conflict/expected.diff
  internal/injector/testdata/injector/preserve-line-info/config.yml
  internal/injector/testdata/injector/preserve-line-info/expected.diff
  internal/injector/testdata/injector/redigo/expected.diff
  internal/injector/typed/refmap.go
  samples/go.mod
  samples/go.sum
Due: Aspects, Injector

chore: update generated files
  LICENSE-3rdparty.csv
Due: none

Add sanity check after annotator visit
  internal/injector/lineinfo/lineinfo.go
Due: Injector

Adjust redundant directives caused by zero-width tokens
  internal/injector/builtin/testdata/client/aws.go.snap
  internal/injector/builtin/testdata/client/gorm.go.snap
  internal/injector/builtin/testdata/client/grpc.go.snap
  internal/injector/builtin/testdata/client/http.go.snap
  internal/injector/builtin/testdata/client/main.go.snap
  internal/injector/builtin/testdata/client/mongo.go.snap
  internal/injector/builtin/testdata/client/redis.go.snap
  internal/injector/builtin/testdata/client/vault.go.snap
  internal/injector/builtin/testdata/server/chiv5.go.snap
  internal/injector/builtin/testdata/server/database.go.snap
  internal/injector/builtin/testdata/server/echov4.go.snap
  internal/injector/builtin/testdata/server/fiberv2.go.snap
  internal/injector/builtin/testdata/server/gin.go.snap
  internal/injector/builtin/testdata/server/gorilla.go.snap
  internal/injector/builtin/testdata/server/grpc.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/testdata/server/other_handlers.go.snap
  internal/injector/lineinfo/annotation.go
  internal/injector/postprocess.go
  internal/injector/testdata/postprocess.yml
Due: Injector
