Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

chore: Address review comments
  .adr-dir
  _docs/content/adr/0001-record-architecture-decisions.md
  _docs/content/adr/0002-aspect-application-order.md
Due: none

feat: implement advice ordering system
  .typos.toml
  internal/injector/aspect/advice/advice.go
  internal/injector/aspect/advice/block.go
  internal/injector/aspect/advice/order.go
  internal/injector/aspect/advice/order_test.go
  internal/injector/config/schema.json
  internal/injector/injector.go
  internal/injector/testdata/injector/advice-ordering-basic/config.yml
  internal/injector/testdata/injector/advice-ordering-basic/modified.go.snap
  internal/injector/testdata/injector/advice-ordering-defer-lifo/config.yml
  internal/injector/testdata/injector/advice-ordering-defer-lifo/modified.go.snap
  internal/injector/testdata/injector/advice-ordering-mixed/config.yml
  internal/injector/testdata/injector/advice-ordering-mixed/modified.go.snap
  internal/injector/testdata/injector/advice-ordering-namespaces/config.yml
  internal/injector/testdata/injector/advice-ordering-namespaces/modified.go.snap
  internal/injector/testdata/injector/advice-ordering-stable-sort/config.yml
  internal/injector/testdata/injector/advice-ordering-stable-sort/modified.go.snap
Due: Aspects, Injector

chore(docs): Bootstrap Architectural Decisions (#702)
  .adr-dir
  _docs/content/adr/0001-record-architecture-decisions.md
  _docs/content/adr/0002-aspect-application-order.md
Due: none

fix(internal/injector): Fix named type issues discovered during integration testing
  internal/injector/aspect/advice/struct.go
  internal/injector/typed/namedtype_test.go
Due: Aspects, Injector

chore(cmd/diff): Improve diff build
  internal/cmd/diff.go
  internal/cmd/diff_test.go
  internal/goproxy/proxy.go
Due: Go Driver

Fix breaking pkg
  go.mod
  go.sum
Due: none

Fix breaking pkg in _docs
  _docs/go.mod
  _docs/go.sum
  instrument/go.mod
  instrument/go.sum
Due: Instruments

Also fix in samples
  samples/go.mod
  samples/go.sum
Due: none

chore: Address review comments
  internal/injector/typed/namedtype.go
  internal/injector/typed/namedtype_test.go
  internal/injector/typed/parse_test.go
Due: Injector

feat(injector/typed): add interface-based type system with parser
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/call_test.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/struct.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/aspect/join/struct.go
  internal/injector/typed/array.go
  internal/injector/typed/array_test.go
  internal/injector/typed/map.go
  internal/injector/typed/map_test.go
  internal/injector/typed/namedtype.go
  internal/injector/typed/namedtype_test.go
  internal/injector/typed/parse_test.go
  internal/injector/typed/parser.go
  internal/injector/typed/pointer.go
  internal/injector/typed/pointer_test.go
  internal/injector/typed/slice.go
  internal/injector/typed/slice_test.go
  internal/injector/typed/type.go
  internal/injector/typed/type_test.go
  internal/injector/typed/typed.go
  internal/injector/typed/typename.go
  internal/injector/typed/typename_test.go
Due: Aspects, Injector

fix(internal/injector): Use the typed.Type interface properly
  .gitignore
  Makefile
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/call_test.go
  internal/injector/aspect/advice/struct.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/aspect/join/struct.go
  internal/injector/typed/array.go
  internal/injector/typed/array_test.go
  internal/injector/typed/map.go
  internal/injector/typed/map_test.go
  internal/injector/typed/namedtype.go
  internal/injector/typed/namedtype_test.go
  internal/injector/typed/parse_test.go
  internal/injector/typed/parser.go
  internal/injector/typed/pointer.go
  internal/injector/typed/pointer_test.go
  internal/injector/typed/slice.go
  internal/injector/typed/slice_test.go
  internal/injector/typed/type.go
  internal/injector/typed/type_test.go
  internal/injector/typed/typed.go
Due: Aspects, Injector

chore(cmd/diff): Improve diff --build (#706)
  internal/cmd/diff.go
  internal/cmd/diff_test.go
  internal/goproxy/proxy.go
Due: Go Driver

chore(internal/injector): Address review comments
  .typos.toml
  internal/injector/aspect/advice/block.go
  internal/injector/aspect/advice/order.go
  internal/injector/aspect/advice/order_test.go
  internal/injector/config/schema.json
  internal/injector/injector.go
  internal/injector/testdata/injector/advice-ordering-mixed/config.yml
  internal/injector/testdata/injector/advice-ordering-mixed/modified.go.snap
Due: Aspects, Injector

chore: Fix formatting
  internal/injector/aspect/advice/order_test.go
Due: Aspects, Injector

chore(advice/block): Address review comment
  internal/injector/aspect/advice/block.go
Due: Aspects, Injector

chore(aspect/advice): Appease the linters
  internal/injector/aspect/advice/order_test.go
Due: Aspects, Injector

feat: Implement advice ordering system (#704)
  internal/injector/aspect/advice/advice.go
  internal/injector/aspect/advice/block.go
  internal/injector/aspect/advice/order.go
  internal/injector/aspect/advice/order_test.go
  internal/injector/config/schema.json
  internal/injector/injector.go
  internal/injector/testdata/injector/advice-ordering-basic/config.yml
  internal/injector/testdata/injector/advice-ordering-basic/modified.go.snap
  internal/injector/testdata/injector/advice-ordering-defer-lifo/config.yml
  internal/injector/testdata/injector/advice-ordering-defer-lifo/modified.go.snap
  internal/injector/testdata/injector/advice-ordering-mixed/config.yml
  internal/injector/testdata/injector/advice-ordering-mixed/modified.go.snap
  internal/injector/testdata/injector/advice-ordering-namespaces/config.yml
  internal/injector/testdata/injector/advice-ordering-namespaces/modified.go.snap
  internal/injector/testdata/injector/advice-ordering-stable-sort/config.yml
  internal/injector/testdata/injector/advice-ordering-stable-sort/modified.go.snap
Due: Aspects, Injector

feat(pin): Add minimum version selection logic
  internal/pin/pin.go
Due: none

[wip] chore: Upgrade dd-trace-go
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

chore: Add Makefile for local development
  Makefile
Due: none

chore(lint): Upgrade golangci-lint
  .github/workflows/validate.yml
  .golangci.yml
  internal/cmd/diff.go
  internal/cmd/lint.go
Due: none

chore(lint): Upgrade golangci-lint (#715)
  .github/workflows/validate.yml
  .golangci.yml
  internal/cmd/diff.go
  internal/cmd/lint.go
Due: none

chore(pin): Refactor and tests
  internal/ensure/requiredintegrations.go
  internal/ensure/requiredintegrations_test.go
  internal/gomod/gomod.go
  internal/integrations/integrations.go
  internal/pin/auto_test.go
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: Go Driver

chore: Address review comments
  internal/ensure/requiredintegrations.go
Due: none

chore(lint): Fix vet issues
  .golangci.yml
  internal/pin/auto_test.go
  internal/pin/pin_test.go
Due: none

chore: Address review comments
  internal/ensure/requiredintegrations.go
  internal/ensure/requiredintegrations_test.go
Due: none

fix(internal/ensure): Make sure we added replace when needed
  internal/ensure/requiredintegrations.go
  internal/ensure/requiredintegrations_test.go
  internal/gomod/gomod.go
Due: Go Driver

feat(pin): Add version selection logic for dd-trace-go (#711)
  .golangci.yml
  internal/ensure/requiredintegrations.go
  internal/ensure/requiredintegrations_test.go
  internal/gomod/gomod.go
  internal/integrations/integrations.go
  internal/pin/auto_test.go
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: Go Driver

chore: Add Makefile for local development (#712)
  Makefile
Due: none

upgrade to v2.3.0-rc.2
  go.mod
  go.sum
  internal/version/version.go
Due: none

fix ddtracego version
  _docs/go.mod
  _docs/go.sum
  _tools/go.mod
  _tools/go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

fix(samples): Fix snapshot regression tests
  samples/testdata/client/gorm.go.snap
  samples/testdata/client/http.go.snap
  samples/testdata/client/main.go.snap
  samples/testdata/server/main.go.snap
Due: none

--wip-- [skip ci]
  .github/workflows/validate.yml
  .gitignore
  Makefile
  internal/jobserver/nbt/nbt.go
  internal/jobserver/nbt/nbt_test.go
  internal/toolexec/proxy/compile.go
  test/e2e/.gitignore
  test/e2e/README.md
  test/e2e/helpers.go
  test/e2e/pgo_test.go
  test/e2e/testdata/pgo/.gitignore
  test/e2e/testdata/pgo/go.mod
  test/e2e/testdata/pgo/go.sum
  test/e2e/testdata/pgo/main.go
Due: Toolexec Driver, Job Server

fix(nbt): Allow building multiple versions of the package to support PGO
  internal/jobserver/nbt/nbt.go
  internal/jobserver/nbt/nbt_test.go
  internal/toolexec/proxy/compile.go
Due: Toolexec Driver, Job Server

test(e2e): Initialize e2e tests and add a regression test for PGO
  .github/workflows/validate.yml
  .gitignore
  Makefile
  test/e2e/.gitignore
  test/e2e/README.md
  test/e2e/helpers.go
  test/e2e/pgo_test.go
  test/e2e/testdata/pgo/.gitignore
  test/e2e/testdata/pgo/go.mod
  test/e2e/testdata/pgo/go.sum
  test/e2e/testdata/pgo/main.go
Due: none

fix(ci): Add nats connection retry
  .github/workflows/validate.yml
  internal/jobserver/client/client.go
  internal/jobserver/server.go
Due: Job Server

chore(jobserver): Increase the retry count
  .github/workflows/validate.yml
  Makefile
  internal/goproxy/proxy.go
  internal/jobserver/client/client.go
  internal/jobserver/server.go
  test/e2e/helpers.go
  test/e2e/pgo_test.go
Due: Go Driver, Job Server

fix(pgo): Allow building multiple versions of the package to support PGO (#722)
  .github/workflows/validate.yml
  .gitignore
  Makefile
  internal/goproxy/proxy.go
  internal/jobserver/client/client.go
  internal/jobserver/nbt/nbt.go
  internal/jobserver/nbt/nbt_test.go
  internal/jobserver/server.go
  internal/toolexec/proxy/compile.go
  test/e2e/.gitignore
  test/e2e/README.md
  test/e2e/helpers.go
  test/e2e/pgo_test.go
  test/e2e/testdata/pgo/.gitignore
  test/e2e/testdata/pgo/go.mod
  test/e2e/testdata/pgo/go.sum
  test/e2e/testdata/pgo/main.go
Due: Go Driver, Toolexec Driver, Job Server

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Integration Test Suite: any of: _integration-tests/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
