Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server

feat(runtime/taint): add request generations, scalar transfer and reader/sql sinks
  runtime/taint/buffer.go
  runtime/taint/buffer_test.go
  runtime/taint/builder.go
  runtime/taint/bytes_test.go
  runtime/taint/constructors.go
  runtime/taint/lifecycle.go
  runtime/taint/lifecycle_test.go
  runtime/taint/range.go
  runtime/taint/reader.go
  runtime/taint/reader_test.go
  runtime/taint/registry.go
  runtime/taint/registry_test.go
  runtime/taint/runes.go
  runtime/taint/scalar.go
  runtime/taint/scalar_transfer.go
  runtime/taint/scalar_transfer_test.go
  runtime/taint/sink.go
  runtime/taint/sink_test.go
  runtime/taint/sql.go
  runtime/taint/sql_test.go
  runtime/taint/string.go
  runtime/taint/string_test.go
  runtime/taint/transforms.go
  runtime/taint/transforms_test.go
Due: none

test(runtime/taint): extend the instrumented e2e matrix to 114 cases
  runtime/taint/instrument/instrument_test.go
  runtime/taint/instrument/orchestrion.yml
  runtime/taint/instrument/testdata/dependency/dependency.go
  runtime/taint/instrument/testdata/e2e/case_000_strconv_quote_clean_output.go
  runtime/taint/instrument/testdata/e2e/case_000_strings_builder_clean_write.go
  runtime/taint/instrument/testdata/e2e/case_036_scalar_channel.go
  runtime/taint/instrument/testdata/e2e/case_036_scalar_direct_call.go
  runtime/taint/instrument/testdata/e2e/case_036_scalar_map.go
  runtime/taint/instrument/testdata/e2e/case_049_strconv_quote.go
  runtime/taint/instrument/testdata/e2e/case_051_fresh_allocation_in_uninstrumented_dependency.go
  runtime/taint/instrument/testdata/e2e/case_059_strings_builder_write.go
  runtime/taint/instrument/testdata/e2e/case_064_method_value_buffer_grow.go
  runtime/taint/instrument/testdata/e2e/case_065_method_expression_buffer_grow.go
  runtime/taint/instrument/testdata/e2e/case_073_buffer_read.go
  runtime/taint/instrument/testdata/e2e/case_073_buffer_read_bytes.go
  runtime/taint/instrument/testdata/e2e/case_073_buffer_read_from.go
  runtime/taint/instrument/testdata/e2e/case_073_buffer_read_string.go
  runtime/taint/instrument/testdata/e2e/case_074_buffer_write_byte_or_rune.go
  runtime/taint/instrument/testdata/e2e/case_122_open_file_sink.go
  runtime/taint/instrument/testdata/e2e/case_126_multiple_exact_source_root_sets.go
  runtime/taint/instrument/testdata/e2e/case_131_url_query_escape_fresh_string.go
  runtime/taint/instrument/testdata/e2e/case_132_regexp_replace_all_string_fresh_string.go
  runtime/taint/instrument/testdata/e2e/case_133_base64_encode_to_string.go
  runtime/taint/instrument/testdata/e2e/case_134_json_marshal_bytes.go
  runtime/taint/instrument/testdata/e2e/case_135_xml_marshal_bytes.go
  runtime/taint/instrument/testdata/e2e/case_136_bufio_reader_read_string.go
  runtime/taint/instrument/testdata/e2e/case_137_database_sql_scan_driver_bytes.go
  runtime/taint/instrument/testdata/e2e/case_138_io_copy_into_bytes_buffer.go
  runtime/taint/instrument/testdata/e2e/case_139_buffer_write_to_bytes_buffer.go
  runtime/taint/instrument/testdata/e2e/case_141_no_inline_prebuilt_fresh_string_function.go
  runtime/taint/instrument/testdata/e2e/case_156_path_clean_fresh_string.go
  runtime/taint/instrument/testdata/e2e/harness.go
  runtime/taint/instrument/testdata/e2e/orchestrion.yml
Due: none

feat(iast): advance the patched Go shadow toolchain to v28
  experiments/go-shadow/go-taint-shadow.patch
Due: none

docs(iast): correct the coverage ledger and generate the report from it
  experiments/go-shadow/COVERAGE-LEDGER.md
  experiments/go-shadow/README.md
  experiments/go-shadow/report/main.go
  experiments/go-shadow/report/template.go
  runtime/taint/README.md
Due: none

chore(iast): add the missing license header to four shadow fixtures
  experiments/go-shadow/fixture/bytescalarthroughlocalvariable/main.go
  experiments/go-shadow/fixture/directstringbyteindexreconstruction/main.go
  experiments/go-shadow/fixture/dirtyindexedbyteassignedtocleanslice/main.go
  experiments/go-shadow/fixture/runescalarthroughlocalvariable/main.go
Due: none

feat(iast): add a differences-only filter to the coverage report
  experiments/go-shadow/report/main.go
  experiments/go-shadow/report/template.go
Due: none

test(runtime/taint): cover the default reporter's value redaction
  runtime/taint/sink_test.go
Due: none

test(iast): record what each case observed, not just whether it passed
  experiments/go-shadow/suite/taint_test.go
  runtime/taint/instrument/testdata/e2e/harness.go
Due: none

docs(iast): measure 94 cells that were carrying inherited claims
  experiments/go-shadow/COVERAGE-LEDGER.md
Due: none

fix(toolexec): finalize test variant resolution
  internal/cmd/toolexec.go
  internal/cmd/toolexec_test.go
  internal/goflags/flags.go
  internal/jobserver/pkgs/overlay.go
  internal/jobserver/pkgs/overlay_test.go
  internal/jobserver/pkgs/pkgs.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/resolve_internal_test.go
  internal/jobserver/pkgs/resolve_test.go
  internal/jobserver/pkgs/testvariants.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
  main_test.go
Due: Go Driver, Toolexec Driver, Job Server

fix(jobserver): allow GOROOT test overlays
  internal/jobserver/pkgs/overlay.go
  internal/jobserver/pkgs/overlay_test.go
Due: Job Server

fix(jobserver): scope vendor overlay checks
  internal/jobserver/pkgs/overlay.go
  internal/jobserver/pkgs/overlay_test.go
Due: Job Server

fix(toolexec): resolve link deps for test variants (#863)
  internal/cmd/toolexec.go
  internal/cmd/toolexec_test.go
  internal/goflags/flags.go
  internal/jobserver/pkgs/overlay.go
  internal/jobserver/pkgs/overlay_test.go
  internal/jobserver/pkgs/pkgs.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/resolve_internal_test.go
  internal/jobserver/pkgs/resolve_test.go
  internal/jobserver/pkgs/testvariants.go
  internal/jobserver/pkgs/testvariants_test.go
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/linkdeps/linkdeps_test.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile-main_test.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/resolve.go
  internal/toolexec/aspect/resolve_test.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
  internal/toolexec/proxy/link.go
  internal/toolexec/proxy/link_test.go
  internal/toolexec/proxy/testmain.go
  internal/toolexec/proxy/testmain_test.go
  main_test.go
Due: Go Driver, Toolexec Driver, Job Server

fix: bump stale v1.11.0 version tag to v1.12.0
  instrument/go.mod
  internal/version/version.go
Due: Instruments

fix(ci): add trusted self-mutation reusable workflow
  .github/workflows/self-mutation.yml
Due: none

fix(ci): mint self-mutation token from a workflow pinned to main
  .github/chainguard/self.github.validate.self-mutation.sts.yaml
  .github/workflows/validate.yml
Due: none

fix(ci): re-anchor self-mutation trust policy to workflow_run
  .github/chainguard/self.github.self-mutation.workflow-run.sts.yaml
  .github/chainguard/self.github.validate.self-mutation.sts.yaml
Due: none

fix(ci): rework self-mutation as a workflow_run pipeline
  .github/workflows/self-mutation.yml
Due: none

fix(ci): drop self-mutation job from validate.yml
  .github/workflows/validate.yml
Due: none

fix(bench): drop stale otel/sdk/log@latest override for traefik
  main_test.go
Due: none

fix(injector): return no match instead of an error for function lookups outside a function
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/code/dot_function_test.go
  internal/injector/testdata/injector/method-call-package-scope/config.yml
  internal/injector/testdata/injector/method-call-package-scope/modified.go.snap
Due: Aspects, Injector

fix(bench): drop stale otel/sdk/log@latest override for traefik benchmark (#869)
  main_test.go
Due: none

fix(injector): return no match instead of an error for function lookups outside a function (#870)
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/code/dot_function_test.go
  internal/injector/testdata/injector/method-call-package-scope/config.yml
  internal/injector/testdata/injector/method-call-package-scope/modified.go.snap
Due: Aspects, Injector

test: reproduce coverprofile fingerprint mismatch
  main_test.go
Due: none

fix(toolexec): fingerprint mismatch in `go test` coverage builds
  internal/goflags/flags.go
  internal/goflags/flags_test.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
  main_test.go
Due: Go Driver, Toolexec Driver

fix(toolexec): apply aspects to the variants of a package under test
  internal/cmd/toolexec.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/weaver.go
  internal/toolexec/aspect/weaver_test.go
  main_test.go
Due: Toolexec Driver

ci: unit and end-to-end tests time out on the slowest runners
  .github/workflows/validate.yml
Due: none

fix(ci): rebuild self-mutation as a workflow_run pipeline (#866)
  .github/chainguard/self.github.self-mutation.workflow-run.sts.yaml
  .github/chainguard/self.github.validate.self-mutation.sts.yaml
  .github/workflows/self-mutation.yml
  .github/workflows/validate.yml
Due: none

fix(toolexec): preserve variant observability
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/weaver_test.go
Due: Toolexec Driver

fix(goflags): match `go test` argument parsing
  internal/goenv/gobin.go
  internal/goenv/gobin_test.go
  internal/goflags/flags.go
  internal/goflags/flags_test.go
Due: Go Driver

fix(goflags): honor `go -C` directory
  internal/goflags/flags.go
  internal/goflags/flags_test.go
Due: Go Driver

fix(goflags): match `cmd/go` flag semantics
  internal/goflags/flags.go
  internal/goflags/flags_test.go
Due: Go Driver

fix(toolexec): test binaries fail to link, or are not instrumented (#872)
  .github/workflows/validate.yml
  internal/cmd/toolexec.go
  internal/goenv/gobin.go
  internal/goenv/gobin_test.go
  internal/goflags/flags.go
  internal/goflags/flags_test.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/weaver.go
  internal/toolexec/aspect/weaver_test.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
  main_test.go
Due: Go Driver, Toolexec Driver

fix(toolexec): scope implicit test coverage
  internal/goflags/flags.go
  internal/goflags/flags_test.go
  internal/jobserver/pkgs/coverage_test.go
  internal/jobserver/pkgs/pkgs.go
  internal/jobserver/pkgs/resolve.go
  main_test.go
Due: Go Driver, Job Server

fix(toolexec): retain covered external deps
  internal/jobserver/pkgs/coverage_test.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/testvariants.go
  internal/jobserver/pkgs/testvariants_test.go
  main_test.go
Due: Job Server

chore: remove package shadowing in resolve.go
  internal/jobserver/pkgs/resolve.go
Due: Job Server

test(toolexec): cover implied coverage modes
  internal/jobserver/pkgs/coverage_test.go
  main_test.go
Due: Job Server

style(test): satisfy argument type lint
  main_test.go
Due: none

chore: increate test timeout to 60m (windows is slow)
  .github/workflows/validate.yml
Due: none

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
