Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

Don't use hard links, it causes issues
  internal/cmd/toolexec.go
  internal/files/files.go
  internal/jobserver/nbt/nbt.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/resolve.go
  internal/toolexec/proxy/compile.flags.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
  internal/toolexec/proxy/proxy.go
  main.go
Due: Toolexec Driver, Job Server

Fixup broken test
  internal/jobserver/nbt/nbt_test.go
Due: Job Server

docs: fix anchor definition in README.md
  README.md
Due: none

REnew connection before retrying redigo
  _integration-tests/tests/redigo/redigo.go
Due: Integration Test Suite

Set orchestrion log level to warn for integration tests
  .github/workflows/validate.yml
  internal/cmd/toolexec.go
Due: none

Produce log file in integration tests
  .github/workflows/validate.yml
  internal/goflags/flags.go
Due: Go Driver

Daemon-friendly process lookup method
  internal/cmd/server.go
  internal/goflags/flags.go
  internal/jobserver/client/env.go
Due: Go Driver, Job Server

Also re-use -asmhdr file
  internal/jobserver/nbt/nbt.go
  internal/jobserver/nbt/nbt_test.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.flags.go
  internal/toolexec/proxy/compile.go
Due: Toolexec Driver, Job Server

docs: fix anchor definition in README.md (#492)
  README.md
  _integration-tests/tests/redigo/redigo.go
Due: Integration Test Suite

fix: typo on introduction.md
  _docs/content/contributing/introduction.md
Due: none

fix: typo on introduction.md (#500)
  _docs/content/contributing/introduction.md
Due: none

fix: OnCompileMain needs to register new link.Deps
  internal/cmd/toolexec.go
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/proxy.go
Due: Toolexec Driver

Fixup broken tests, remove dead stuff, etc...
  instrument/event/event.go
  instrument/go.mod
  instrument/go.sum
  instrument/http.go
  instrument/instrument.go
  instrument/instrument_test.go
  instrument/net/http/http.go
  instrument/net/http/http_test.go
  instrument/opname.go
  instrument/opname_test.go
  instrument/orchestrion.tool.go
  internal/cmd/pin.go
  internal/injector/builtin/all.yml
  internal/injector/config/config_test.go
  internal/injector/config/testdata/instrument.snap.yml
  internal/injector/injector_test.go
  internal/injector/testdata/injector/http-anonymous-handler/config.yml
  internal/injector/testdata/injector/http-anonymous-handler/expected.diff
  internal/injector/testdata/injector/http-default/config.yml
  internal/injector/testdata/injector/http-default/expected.diff
  internal/injector/testdata/injector/http-ignored/config.yml
  internal/injector/testdata/injector/http-ignored/expected.diff
  internal/injector/testdata/injector/http-line-info/config.yml
  internal/injector/testdata/injector/http-line-info/expected.diff
  internal/injector/testdata/injector/http-no-arg-name/config.yml
  internal/injector/testdata/injector/http-no-arg-name/expected.diff
  internal/injector/testdata/injector/http-server/config.yml
  internal/injector/testdata/injector/http-server/expected.diff
  internal/injector/testdata/injector/lang-level/config.yml
  internal/injector/testdata/injector/lang-level/expected.diff
  internal/pin/gomod.go
  internal/pin/pin.go
  internal/pin/pin_test.go
  main_test.go
Due: Instruments, Injector

There are no more tests under /instrument
  .github/workflows/validate.yml
Due: none

Don't treat archive file differently from other files
  internal/jobserver/nbt/nbt.go
  internal/jobserver/nbt/nbt_test.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Job Server

Reverse generics so that inference can handle the type arguments on call sites
  internal/jobserver/buildid/version.go
  internal/jobserver/client/client.go
  internal/jobserver/common/handler.go
  internal/jobserver/nbt/nbt.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/resolve_test.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/resolve.go
  internal/toolexec/version.go
Due: Toolexec Driver, Job Server

fix: OnCompileMain needs to register new `link.deps` (#501)
  internal/cmd/toolexec.go
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/proxy.go
Due: Toolexec Driver

WIP: move NBT handling in *CompileCommand
  internal/cmd/toolexec.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
  internal/toolexec/proxy/link.go
  internal/toolexec/proxy/link_test.go
  internal/toolexec/proxy/parse.go
  internal/toolexec/proxy/proxy_test.go
  internal/toolexec/version_test.go
Due: Toolexec Driver

Fix snaphost
  internal/injector/config/testdata/required.snap.yml
Due: Injector

feat: never build twice (#490)
  .github/workflows/validate.yml
  go.mod
  internal/cmd/server.go
  internal/cmd/toolexec.go
  internal/files/files.go
  internal/goflags/flags.go
  internal/jobserver/buildid/version.go
  internal/jobserver/client/client.go
  internal/jobserver/client/env.go
  internal/jobserver/common/handler.go
  internal/jobserver/nbt/nbt.go
  internal/jobserver/nbt/nbt_test.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/resolve_test.go
  internal/jobserver/server.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/resolve.go
  internal/toolexec/proxy/compile.flags.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
  internal/toolexec/proxy/errors.go
  internal/toolexec/proxy/link.go
  internal/toolexec/proxy/link_test.go
  internal/toolexec/proxy/parse.go
  internal/toolexec/proxy/proxy.go
  internal/toolexec/proxy/proxy_test.go
  internal/toolexec/version.go
  internal/toolexec/version_test.go
  main.go
Due: Go Driver, Toolexec Driver, Job Server

chore: update generated files
  LICENSE-3rdparty.csv
Due: none

Get version information from debuginfo if available
  .github/workflows/release.yml
  internal/cmd/version.go
  internal/cmd/version_test.go
  internal/ensure/integration_test.go
  internal/ensure/requiredversion.go
  internal/ensure/requiredversion_test.go
  internal/injector/aspect/advice/code/template.go
  internal/jobserver/buildid/version.go
  internal/pin/auto.go
  internal/pin/auto_test.go
  internal/pin/pin.go
  internal/pin/pin_test.go
  internal/version/version.go
  internal/version/version_test.go
  main.go
Due: Aspects, Injector, Job Server

docs: architecture documentation
  _docs/content/docs/architecture.md
Due: none

Use workflow on @main
  .github/workflows/validate.yml
Due: none

Use main of dd-trace-go
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

chore: update generated files
  instrument/go.sum
  samples/go.sum
Due: Instruments

Linter fixes
  internal/pin/auto.go
  internal/version/version_test.go
Due: none

doc: uninstalling orchestrion
  _docs/content/docs/uninstalling.md
Due: none

Fix broken tests
  internal/injector/config/testdata/instrument.snap.yml
  internal/toolexec/version_test.go
Due: Toolexec Driver, Injector

doc: fix title
  _docs/content/docs/uninstalling.md
Due: none

release: v1.0.3
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

release: v1.0.3 (#506)
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

doc: uninstalling orchestrion (#505)
  _docs/content/docs/uninstalling.md
Due: none

fix: build fails with "sending never-build-twice request failed"
  internal/jobserver/nbt/nbt.go
  internal/jobserver/nbt/nbt_test.go
  internal/toolexec/proxy/compile.go
Due: Toolexec Driver, Job Server

docs: generate documentation for integrations in `dd-trace-go`
  _docs/generator/doc.advice.add-blank-import.tmpl
  _docs/generator/doc.advice.add-struct-field.tmpl
  _docs/generator/doc.advice.append-args.tmpl
  _docs/generator/doc.advice.assign-value.tmpl
  _docs/generator/doc.advice.inject-declarations.tmpl
  _docs/generator/doc.advice.prepend-statements.tmpl
  _docs/generator/doc.advice.redirect-call.tmpl
  _docs/generator/doc.advice.wrap-expression.tmpl
  _docs/generator/doc.code.template.tmpl
  _docs/generator/doc.join.all-of.tmpl
  _docs/generator/doc.join.configuration.tmpl
  _docs/generator/doc.join.directive.tmpl
  _docs/generator/doc.join.function-body.tmpl
  _docs/generator/doc.join.function-call.tmpl
  _docs/generator/doc.join.function-declaration.tmpl
  _docs/generator/doc.join.function-name.tmpl
  _docs/generator/doc.join.import-path.tmpl
  _docs/generator/doc.join.not.tmpl
  _docs/generator/doc.join.one-of.tmpl
  _docs/generator/doc.join.package-name.tmpl
  _docs/generator/doc.join.receiver.tmpl
  _docs/generator/doc.join.signature.tmpl
  _docs/generator/doc.join.struct-definition.tmpl
  _docs/generator/doc.join.struct-literal.tmpl
  _docs/generator/doc.join.test-main.tmpl
  _docs/generator/doc.join.type-name.tmpl
  _docs/generator/doc.join.value-declaration.tmpl
  _docs/generator/doc.md.tmpl
  _docs/generator/generator.go
  _docs/generator/main.go
  _docs/generator/template-funcs.go
  _docs/generator/tools.go
  _docs/generator/tools.go.tmpl
  _docs/go.mod
  _docs/go.sum
  _docs/serve.sh
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/injector/config/config.go
  internal/injector/config/visitor.go
Due: Generators, Injector
