Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

feat(injector: stdlib): changes to the tests
  _integration-tests/tests/civisibility/civisibility_payload_mocks.go
  _integration-tests/tests/civisibility/main_test.go
Due: Integration Test Suite

feat(injector: stdlib): changes to the tests
  _integration-tests/tests/civisibility/main_test.go
Due: Integration Test Suite

release: v0.9.2
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

upgrade internal/version/version.go
  internal/version/version.go
Due: none

release: v0.9.2 (#339)
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

Skip coverage if PR is from a fork (currently won't work)
  .github/workflows/validate.yml
Due: none

Don't skipp all CI when coverage is skipped
  .github/workflows/validate.yml
Due: none

Also skip intermediate report uploads
  .github/workflows/validate.yml
Due: none

feat(injector: stdlib): update go.mod on integration-tests (direct reference to github.com/tinylib/msgp v1.2.2) due the usage of msgpack in civisibility
  _integration-tests/go.mod
Due: Integration Test Suite

Noop steps instead of whole job
  .github/workflows/validate.yml
Due: none

feat(injector: stdlib): update main.go snapshots
  internal/injector/builtin/testdata/client/main.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
Due: Injector

feat(injector: stdlib): fix linter errors
  _integration-tests/tests/civisibility/civisibility_payload_mocks.go
  _integration-tests/tests/civisibility/main_test.go
Due: Integration Test Suite

feat(injector: stdlib): fix linter errors
  _integration-tests/tests/civisibility/civisibility_payload_mocks.go
Due: Integration Test Suite

add timeouts
  _integration-tests/tests/julienschmidt_httprouter/julienschmidt_httprouter.go
Due: Integration Test Suite

feat(injector: stdlib): added missing newline in the integration
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/civisibility/testing.yml
Due: Injector

feat(injector: stdlib): change the usage of `testdeps.ImportPath` with `testing.Testing()` added on Go 1.21
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/main.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/yaml/go-main.yml
Due: Injector

feat: support github.com/jackc/pgx/v5
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/pgx/gen_test.go
  _integration-tests/tests/pgx/pgx.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/pgx.go.snap
  internal/injector/builtin/yaml/databases/pgx.yml
  samples/client/pgx.go
  samples/go.mod
Due: Injector, Integration Test Suite

remove print
  _integration-tests/tests/pgx/pgx.go
Due: Integration Test Suite

feat(injector: stdlib): remove the DD_TRACE_DEBUG environment variable on civisibility tests
  _integration-tests/tests/civisibility/main_test.go
Due: Integration Test Suite

update sample
  internal/injector/builtin/testdata/client/pgx.go.snap
  samples/client/pgx.go
Due: Injector

feat(injector: stdlib): address PR comments
  _integration-tests/tests/civisibility/main_test.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/civisibility/testing.yml
Due: Injector, Integration Test Suite

feat(injector: stdlib): remove blank line (linter complains)
  _integration-tests/tests/civisibility/main_test.go
Due: Integration Test Suite

feat(injector: stdlib): instrument testing.[M, T, B] with CI Visibility (#340)
  .github/workflows/validate.yml
  _integration-tests/go.mod
  _integration-tests/tests/civisibility/civisibility_payload_mocks.go
  _integration-tests/tests/civisibility/gen_test.go
  _integration-tests/tests/civisibility/main_test.go
  _integration-tests/tests/civisibility/testing_test.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/main.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/yaml/civisibility/testing.yml
  internal/injector/builtin/yaml/go-main.yml
Due: Injector, Integration Test Suite

release: v0.9.3
  internal/version/version.go
Due: none

release: v0.9.3 (#345)
  internal/version/version.go
Due: none

chore: Attempt using larger runners for integration tests
  .github/workflows/validate.yml
Due: none

feat: support github.com/elastic/go-elasticsearch
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/go-elasticsearch/base.go
  _integration-tests/tests/go-elasticsearch/gen_test.go
  _integration-tests/tests/go-elasticsearch/v6.go
  _integration-tests/tests/go-elasticsearch/v7.go
  _integration-tests/tests/go-elasticsearch/v8.go
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/elasticsearch.go.snap
  internal/injector/builtin/yaml/databases/go-elasticsearch.yml
  samples/client/elasticsearch.go
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Test Suite

remove commented stuff
  internal/injector/builtin/yaml/databases/go-elasticsearch.yml
Due: Injector

Switch dependabot schedule to weekly
  .github/dependabot.yml
Due: none

chore: update generated files
  go.sum
Due: none

fix(injector: redigo) fix bad argument type from []redigo.DialOption to []any
  _integration-tests/tests/redigo/redigo.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/databases/redigo.yml
Due: Injector, Integration Test Suite

chore: update generated files
  internal/injector/builtin/generated.go
Due: Injector

fix make call
  _integration-tests/tests/redigo/redigo.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/databases/redigo.yml
Due: Injector, Integration Test Suite

feat: support github.com/twitchtv/twirp
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/twirp/gen_test.go
  _integration-tests/tests/twirp/twirp.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/rpc/grpc.yml
  internal/injector/builtin/yaml/rpc/twirp.yml
Due: Injector, Integration Test Suite

chore: update generated files
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  samples/go.mod
  samples/go.sum
Due: Injector

remove rand code
  _integration-tests/tests/twirp/twirp.go
Due: Integration Test Suite
