Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

feat: set minimum required go to 1.24 (#680)
  LICENSE-3rdparty.csv
  _docs/go.mod
  _docs/go.sum
  _tools/go.mod
  _tools/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
  samples/testdata/client/main.go.snap
  samples/testdata/server/main.go.snap
Due: Instruments

chore(ci): correctly set repo input to ghcommit-action
  .github/workflows/deps-update.yml
Due: none

chore(ci): correctly set repo input to ghcommit-action (#682)
  .github/workflows/deps-update.yml
Due: none

feat(injector): add package-filter join point with glob patterns and module filtering
  _docs/generator/doc.join.package-filter.tmpl
  internal/goenv/goenv.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/package_test.go
  internal/injector/testdata/injector/package-filter-no-match/config.yml
  internal/injector/testdata/injector/package-filter-no-match/modified.go.snap
  internal/injector/testdata/injector/package-filter-root/config.yml
  internal/injector/testdata/injector/package-filter-root/modified.go.snap
  internal/injector/testdata/injector/package-filter-specific-module/config.yml
  internal/injector/testdata/injector/package-filter-specific-module/modified.go.snap
  internal/injector/testdata/injector/package-filter/config.yml
  internal/injector/testdata/injector/package-filter/modified.go.snap
Due: Go Driver, Aspects, Injector

chore: address review comments
  _docs/generator/doc.join.package-filter.tmpl
  internal/goenv/goenv.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/package_test.go
  internal/injector/testdata/injector/package-filter-no-match/config.yml
  internal/injector/testdata/injector/package-filter-root/config.yml
  internal/injector/testdata/injector/package-filter-specific-module/config.yml
Due: Go Driver, Aspects, Injector

chore(injector/aspect/package): Add support for "**"
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/package_test.go
Due: Aspects, Injector

chore(inejctor/package): Use path.Match instead filepath.Match
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/package_test.go
Due: Aspects, Injector

feat: add lint command with go-errorlint analyzer
  go.mod
  go.sum
  internal/cmd/lint.go
  main.go
Due: none

feat: add --build flag to diff command
  internal/cmd/diff.go
Due: none

chore: Fix formatting
  internal/cmd/lint.go
Due: none

new release
  go.mod
  go.sum
  internal/injector/testdata/injector/package-filter-glob/config.yml
  internal/injector/testdata/injector/package-filter-glob/modified.go.snap
  internal/version/version.go
Due: Injector

upgrade orchestrion version
  go.mod
  go.sum
  internal/version/version.go
Due: none

chore: Update dependency
  go.mod
  go.sum
Due: none

upgrade dd-trace-go to v2.3.0-rc.1
  _docs/go.mod
  _docs/go.sum
  _tools/go.mod
  _tools/go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

chore(cmd/diff): Address review comments
  internal/cmd/diff.go
  internal/cmd/diff_test.go
Due: none

chore(cmd/lint): Add tests
  _docs/generator/tools.go
  _docs/go.mod
  _docs/go.sum
  internal/cmd/lint_test.go
Due: Generators

feat: add --build flag to diff command (#694)
  internal/cmd/diff.go
  internal/cmd/diff_test.go
Due: none

feat: add lint command with go-errorlint analyzer (#693)
  LICENSE-3rdparty.csv
  _docs/generator/tools.go
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/cmd/lint.go
  internal/cmd/lint_test.go
  main.go
  samples/go.mod
  samples/go.sum
Due: Generators, Instruments

attempt to pin net/http/pattenr
  _docs/go.mod
  _tools/go.mod
  go.mod
  instrument/go.mod
  samples/go.mod
Due: Instruments

fix(injector/package): Fix filtering issues
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/package_test.go
  internal/injector/testdata/injector/package-filter-root-implements/config.yml
  internal/injector/testdata/injector/package-filter-root-implements/modified.go.snap
  internal/injector/testdata/injector/package-filter-root/modified.go.snap
Due: Aspects, Injector

fix(injector/testdata): Add line feeds
  internal/injector/testdata/injector/package-filter-no-match/config.yml
  internal/injector/testdata/injector/package-filter-root/config.yml
  internal/injector/testdata/injector/package-filter-specific-module/config.yml
Due: Injector

fix: flags only partially processed
  internal/goflags/flags.go
  internal/goflags/flags_test.go
Due: Go Driver

fix: flags only partially processed (#701)
  internal/goflags/flags.go
  internal/goflags/flags_test.go
Due: Go Driver

chore(docs): Bootstrap Architectural Decisions
  .adr-dir
  internal/docs/adr/0001-record-architecture-decisions.md
Due: none

docs(adr): Capture Aspect Application Order decision
  internal/docs/adr/0002-aspect-application-order.md
Due: none

feat(config): add missing function options to schema.json
  internal/injector/config/schema.json
Due: Injector

chore: Address review comments
  internal/goenv/goenv.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/package_test.go
  internal/injector/config/schema.json
Due: Go Driver, Aspects, Injector

chore(config): Add missing function options to schema.json (#705)
  internal/injector/config/schema.json
Due: Injector

feat(injector): add package-filter join point with glob patterns and module filtering (#675)
  _docs/generator/doc.join.package-filter.tmpl
  internal/goenv/goenv.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/package_test.go
  internal/injector/config/schema.json
  internal/injector/testdata/injector/package-filter-no-match/config.yml
  internal/injector/testdata/injector/package-filter-no-match/modified.go.snap
  internal/injector/testdata/injector/package-filter-root-implements/config.yml
  internal/injector/testdata/injector/package-filter-root-implements/modified.go.snap
  internal/injector/testdata/injector/package-filter-root/config.yml
  internal/injector/testdata/injector/package-filter-root/modified.go.snap
  internal/injector/testdata/injector/package-filter-specific-module/config.yml
  internal/injector/testdata/injector/package-filter-specific-module/modified.go.snap
  internal/injector/testdata/injector/package-filter/config.yml
  internal/injector/testdata/injector/package-filter/modified.go.snap
Due: Go Driver, Aspects, Injector

chore: Address review comments
  internal/injector/typed/namedtype.go
  internal/injector/typed/namedtype_test.go
  internal/injector/typed/parse_test.go
Due: Injector

docs(adr): Capture Aspect Application Order decision (#703)
  internal/docs/adr/0002-aspect-application-order.md
Due: none

feat(injector/typed): add interface-based type system with parser
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/call_test.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/struct.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/aspect/join/struct.go
  internal/injector/typed/array.go
  internal/injector/typed/array_test.go
  internal/injector/typed/map.go
  internal/injector/typed/map_test.go
  internal/injector/typed/namedtype.go
  internal/injector/typed/namedtype_test.go
  internal/injector/typed/parse_test.go
  internal/injector/typed/parser.go
  internal/injector/typed/pointer.go
  internal/injector/typed/pointer_test.go
  internal/injector/typed/slice.go
  internal/injector/typed/slice_test.go
  internal/injector/typed/type.go
  internal/injector/typed/type_test.go
  internal/injector/typed/typed.go
  internal/injector/typed/typename.go
  internal/injector/typed/typename_test.go
Due: Aspects, Injector

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Integration Test Suite: any of: _integration-tests/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
