Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

s/GoLang/GoLangVersion/gm
  internal/injector/aspect/advice/call_test.go
  internal/injector/aspect/advice/code/template.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/context/golang.go
  internal/injector/aspect/context/golang_test.go
  internal/injector/builtin/generated.go
  internal/injector/injector.go
  internal/injector/injector_test.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
Due: Toolexec Driver, Aspects, Injector

Recover from panic in testcontainers.SkipIfProviderIsNotHealthy
  _integration-tests/utils/testcontainers.go
Due: Integration Test Suite

fix: blank links in documentation
  docs/content/contributing/aspects/code-templates.md
  docs/content/contributing/aspects/guidelines.md
  docs/content/docs/custom-trace.md
  docs/content/docs/features.md
Due: none

Disable ryuk in GHA
  .github/workflows/validate.yml
Due: none

fix: blank links in documentation (#368)
  docs/content/contributing/aspects/code-templates.md
  docs/content/contributing/aspects/guidelines.md
  docs/content/docs/custom-trace.md
  docs/content/docs/features.md
Due: none

feat: code templates can declare required go langage level (#357)
  docs/content/contributing/aspects/code-templates.md
  docs/static/schema.json
  internal/injector/aspect/advice/assign.go
  internal/injector/aspect/advice/block.go
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/call_test.go
  internal/injector/aspect/advice/code/template.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/advice/inject.go
  internal/injector/aspect/advice/wrap.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/context/golang.go
  internal/injector/aspect/context/golang_test.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/integration_test.go
  internal/injector/injector.go
  internal/injector/injector_test.go
  internal/injector/testdata/injector/lang-level/config.yml
  internal/injector/testdata/injector/lang-level/expected.diff
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
  internal/toolexec/proxy/proxy.go
Due: Toolexec Driver, Aspects, Injector

feat: add support for github.com/sirupsen/logrus
  _integration-tests/go.mod
  _integration-tests/tests/logrus/base.go
  _integration-tests/tests/logrus/gen_test.go
  _integration-tests/tests/logrus/global_logger.go
  _integration-tests/tests/logrus/new_logger.go
  _integration-tests/tests/logrus/struct_literal_ptr.go
  _integration-tests/tests/logrus/struct_literal_val.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/client/logrus.go.snap
  internal/injector/builtin/yaml/logs/logrus.yml
  samples/client/logrus.go
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Test Suite

chore: update generated files
  _integration-tests/tests/logrus/gen_test.go
Due: Integration Test Suite

chore: update generated files
  _integration-tests/tests/twirp/gen_test.go
Due: Integration Test Suite

chore: update generated files
  internal/injector/builtin/generated.go
Due: Injector

remove lang version upgrade
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.go
Due: Toolexec Driver

chore: update generated files
  _integration-tests/tests/confluent-kafka-go.v1/gen_test.go
  _integration-tests/tests/confluent-kafka-go.v2/gen_test.go
Due: Integration Test Suite

use template go version
  _integration-tests/tests/confluent-kafka-go.v1/kafka.go
  _integration-tests/tests/confluent-kafka-go.v2/kafka.go
  internal/injector/aspect/advice/code/template.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/datastreams/confluentinc_kafka.yml
Due: Aspects, Injector, Integration Test Suite

fix import
  _integration-tests/tests/twirp/twirp.go
Due: Integration Test Suite

update imports
  _integration-tests/tests/logrus/base.go
  _integration-tests/tests/logrus/global_logger.go
  _integration-tests/tests/logrus/new_logger.go
  _integration-tests/tests/logrus/struct_literal_ptr.go
  _integration-tests/tests/logrus/struct_literal_val.go
Due: Integration Test Suite

fix(ensure): packages.Load().Module is nil
  internal/ensure/requiredversion.go
  internal/ensure/requiredversion_test.go
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

fix lint
  _integration-tests/tests/logrus/global_logger.go
  _integration-tests/tests/logrus/new_logger.go
  _integration-tests/tests/logrus/struct_literal_ptr.go
  _integration-tests/tests/logrus/struct_literal_val.go
Due: Integration Test Suite

remove oncompile changes
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.go
Due: Toolexec Driver

set golang version
  _integration-tests/tests/julienschmidt_httprouter/gen_test.go
  _integration-tests/tests/julienschmidt_httprouter/julienschmidt_httprouter.go
  internal/injector/aspect/advice/code/template.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/http/julienschmidt_httprouter.yml
Due: Aspects, Injector, Integration Test Suite

prevent panic on macos
  _integration-tests/tests/segmentio_kafka.v0/segmentio_kafka.go
Due: Integration Test Suite

prevent panic on macos
  _integration-tests/tests/confluent-kafka-go.v1/kafka.go
  _integration-tests/tests/confluent-kafka-go.v2/kafka.go
Due: Integration Test Suite

skip build on windows
  _integration-tests/tests/confluent-kafka-go.v1/kafka.go
  _integration-tests/tests/confluent-kafka-go.v1/skip_windows.go
  _integration-tests/tests/confluent-kafka-go.v2/kafka.go
  _integration-tests/tests/confluent-kafka-go.v2/skip_windows.go
Due: Integration Test Suite

feat: support github.com/twitchtv/twirp (#352)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/twirp/gen_test.go
  _integration-tests/tests/twirp/twirp.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/server/twirp.go.snap
  internal/injector/builtin/yaml/rpc/grpc.yml
  internal/injector/builtin/yaml/rpc/twirp.yml
  samples/go.mod
  samples/go.sum
  samples/server/twirp.go
Due: Injector, Integration Test Suite

feat: `orchestrion pin` can track enabled integrations
  internal/cmd/pin.go
  internal/pin/auto.go
  internal/pin/gomod.go
  internal/pin/importset.go
  internal/pin/pin.go
  internal/pin/pin_test.go
  main.go
  samples/go.mod
  samples/go.sum
  samples/orchestrion.tool.go
Due: none

Stop using naked return
  internal/pin/gomod.go
Due: none

Correctly handle vendor-ed modules
  internal/pin/gomod.go
  internal/pin/pin.go
  main_test.go
Due: none

Make linter happy
  internal/pin/pin.go
Due: none

Fix broken test
  internal/pin/gomod.go
  internal/pin/pin.go
Due: none

add go issue in comments
  internal/ensure/requiredversion.go
  internal/ensure/requiredversion_test.go
Due: none

Add some comments
  internal/pin/gomod.go
  internal/pin/importset.go
  internal/pin/pin.go
Due: none

Automate upkeep of samples/orchestrion.tool.go
  .github/workflows/validate.yml
  internal/pin/pin.go
  samples/orchestrion.tool.go
Due: none

Test -C flag passed directly to orchestrion
  .github/workflows/validate.yml
Due: none

Update internal/ensure/requiredversion.go
  internal/ensure/requiredversion.go
Due: none

fix(ensure): packages.Load().Module is nil (#372)
  internal/ensure/requiredversion.go
  internal/ensure/requiredversion_test.go
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

run integration tests only 10 at a time
  .github/workflows/validate.yml
  .github/workflows/workflow_call.yml
Due: none

Revert "run integration tests only 10 at a time"
  .github/workflows/validate.yml
  .github/workflows/workflow_call.yml
Due: none

remove unrelated change
  .gitignore
Due: none

feat: support segmentio/kafka.go.v0 (#293)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/segmentio_kafka.v0/gen_test.go
  _integration-tests/tests/segmentio_kafka.v0/segmentio_kafka.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/datastreams/segmentio_kafka_v0.yml
Due: Injector, Integration Test Suite
