Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

Add missing =
  .github/workflows/validate.yml
Due: none

Generate into integration tests, too
  .github/workflows/validate.yml
Due: none

Remove unused parameter
  main.go
Due: none

Remove some dead code, update golangci-lint, touchups on style
  .github/workflows/validate.yml
  .golangci.yml
  instrument/event/event.go
  instrument/event/event_string.go
  internal/filelock/filelock.go
  internal/goflags/flags.go
  internal/goproxy/proxy.go
  internal/injector/aspect/join/directive.go
  internal/injector/typed/refmap.go
  internal/jobserver/client/client.go
  internal/jobserver/client/env.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/server.go
  internal/log/log.go
  internal/toolexec/version_test.go
  main.go
  tools.go
Due: Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server

Add unit tests for the HTTP context-aware short-hands
  instrument/http.go
  instrument/net/http/http_test.go
Due: Instruments

Remove dead code
  internal/golist/golist.go
Due: Go Driver

Ckarify context propagation
  docs/content/docs/custom-trace.md
Due: none

Attempt to address sarama test flakiness
  _integration-tests/tests/ibm_sarama/ibm_sarama.go
  _integration-tests/tests/shopify_sarama/shopify_sarama.go
Due: Integration Test Suite

feat: support redis/go-redis/v9
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/go-redis.v9/go-redis.go
  _integration-tests/tests/suite.generated.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/redis.go.snap
  internal/injector/builtin/yaml/databases/go-redis.yml
  samples/client/redis.go
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Test Suite

chore: update generated files
  samples/go.mod
  samples/go.sum
Due: none

docs: improvements to the user guide (#249)
  README.md
  docs/config/_default/hugo.toml
  docs/content/docs/built-in/_index.md
  docs/content/docs/custom-trace.md
  docs/content/docs/features.md
  docs/content/docs/getting-started.md
Due: none

chore: rename rasp.json
  _integration-tests/tests/os/lfi.go
  _integration-tests/tests/testdata/rasp-only-rules.json
Due: Integration Test Suite

apply suggestions from @RomainMuller
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/ossec.yml
Due: Injector

run pip freeze
  .gitignore
  _integration-tests/utils/agent/requirements.txt
Due: Integration Test Suite

More dead code sent to meet its creator
  _integration-tests/harness.go
  internal/injector/injector_test.go
  internal/injector/testdata/injector/chi5-newroute-dotimport/config.yml
  internal/injector/testdata/injector/chi5-newroute-dotimport/expected.diff
  internal/injector/testdata/injector/chi5-newroute/config.yml
  internal/injector/testdata/injector/chi5-newroute/expected.diff
  internal/injector/testdata/injector/http-anonymous-handler/config.yml
  internal/injector/testdata/injector/http-anonymous-handler/expected.diff
  internal/injector/testdata/injector/http-default/config.yml
  internal/injector/testdata/injector/http-default/expected.diff
  internal/injector/testdata/injector/http-ignored/config.yml
  internal/injector/testdata/injector/http-line-info/config.yml
  internal/injector/testdata/injector/http-line-info/expected.diff
  internal/injector/testdata/injector/http-no-arg-name/config.yml
  internal/injector/testdata/injector/http-no-arg-name/expected.diff
  internal/injector/testdata/injector/http-server/config.yml
  internal/injector/testdata/injector/http-server/expected.diff
Due: Injector, Integration Test Suite

GolangCI-Lint stuff
  .github/workflows/validate.yml
  .golangci.yml
Due: none

skip test on windows
  _integration-tests/tests/os/lfi.go
Due: Integration Test Suite

feat(injector: stdlib): instrument os.OpenFile (#219)
  .github/workflows/workflow_call.yml
  .gitignore
  _integration-tests/tests/os/lfi.go
  _integration-tests/tests/suite.generated.go
  _integration-tests/tests/testdata/rasp-only-rules.json
  _integration-tests/utils/agent/agent.go
  _integration-tests/utils/agent/requirements.txt
  _integration-tests/utils/generator/main.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/stdlib/ossec.yml
Due: Generators, Injector, Integration Test Suite

feat: add new match field to the struct-literal join-point
  _integration-tests/tests/aws.v2/struct_literal_ptr.go
  _integration-tests/tests/suite.generated.go
  docs/static/schema.json
  internal/injector/aspect/join/struct.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/client/aws_v2.go.snap
  internal/injector/builtin/yaml/cloud/aws-sdk-v2.yml
  internal/injector/testdata/injector/struct-literal/config.yml
  internal/injector/testdata/injector/struct-literal/expected.diff
  samples/client/aws_v2.go
Due: Aspects, Injector, Integration Test Suite

Increase linter run timeout
  .golangci.yml
Due: none

Fixup version for linting tests
  .github/workflows/validate.yml
Due: none

Fixup test expectations
  internal/injector/builtin/testdata/client/gorm.go.snap
  internal/injector/testdata/injector/database-sql/expected.diff
Due: Injector

Fixup integration test expectation casing
  _integration-tests/tests/dd-span/no-tag.go
  _integration-tests/tests/dd-span/tag.go
Due: Integration Test Suite

skip test on non-linux CI
  _integration-tests/tests/aws.v2/base.go
Due: Integration Test Suite

address review comments
  _integration-tests/tests/aws.v1/aws.go
  _integration-tests/tests/aws.v2/base.go
  _integration-tests/utils/testcontainers.go
  docs/static/schema.json
Due: Integration Test Suite

rename fields
  _integration-tests/tests/aws.v2/load_default_config.go
  _integration-tests/tests/aws.v2/new_config.go
  _integration-tests/tests/aws.v2/struct_literal.go
  _integration-tests/tests/aws.v2/struct_literal_ptr.go
Due: Integration Test Suite

Implement enum + documentation
  docs/static/schema.json
  internal/injector/aspect/join/struct.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generator/schema.go
Due: Generators, Aspects, Injector

update test setup
  _integration-tests/tests/go-redis.v7/go-redis.go
  _integration-tests/tests/go-redis.v8/go-redis.go
  _integration-tests/tests/ibm_sarama/main.go
  _integration-tests/tests/mongo/mongo.go
  _integration-tests/tests/redigo/redigo.go
  _integration-tests/tests/shopify_sarama/main.go
  _integration-tests/tests/vault/vault.go
  _integration-tests/utils/testcontainers.go
Due: Integration Test Suite

Work around https://github.com/github/codeql-action/issues/1572
  .github/workflows/sast.yml
Due: none

feat: add support for aws-sdk-go-v2 (#244)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/aws.v1/aws.go
  _integration-tests/tests/aws.v2/base.go
  _integration-tests/tests/aws.v2/load_default_config.go
  _integration-tests/tests/aws.v2/new_config.go
  _integration-tests/tests/aws.v2/struct_literal.go
  _integration-tests/tests/aws.v2/struct_literal_ptr.go
  _integration-tests/tests/go-redis.v7/go-redis.go
  _integration-tests/tests/go-redis.v8/go-redis.go
  _integration-tests/tests/ibm_sarama/main.go
  _integration-tests/tests/mongo/mongo.go
  _integration-tests/tests/redigo/redigo.go
  _integration-tests/tests/shopify_sarama/main.go
  _integration-tests/tests/suite.generated.go
  _integration-tests/tests/vault/vault.go
  _integration-tests/utils/testcontainers.go
  docs/static/schema.json
  go.mod
  go.sum
  internal/injector/aspect/join/struct.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/generator/schema.go
  internal/injector/builtin/testdata/client/aws_v2.go.snap
  internal/injector/builtin/yaml/cloud/aws-sdk-v2.yml
  internal/injector/testdata/injector/struct-literal/config.yml
  internal/injector/testdata/injector/struct-literal/expected.diff
  samples/client/aws_v2.go
  samples/go.mod
  samples/go.sum
Due: Generators, Aspects, Injector, Integration Test Suite

feat: support instrumentation of github.com/redis/go-redis.v9 (#250)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/go-redis.v9/go-redis.go
  _integration-tests/tests/suite.generated.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/redis.go.snap
  internal/injector/builtin/yaml/databases/go-redis.yml
  samples/client/redis.go
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Test Suite

fix tests
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/testdata/injector/method-call/config.yml
Due: Aspects, Injector

feat: support gocql
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/go-redis.v9/go-redis.go
  _integration-tests/tests/gocql/gocql.go
  _integration-tests/tests/suite.generated.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/gocql.go.snap
  internal/injector/builtin/yaml/databases/gocql.yml
  samples/client/gocql.go
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Test Suite

chore: update generated files
  go.mod
  go.sum
Due: none

update assertions to work in CI as well
  _integration-tests/tests/gocql/gocql.go
Due: Integration Test Suite

feat: add support for gcp pubsub
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/harness/harness.go
  _integration-tests/tests/gcp_pubsub/gcp_pubsub.go
  _integration-tests/tests/gcp_pubsub/main_test.go
  go.mod
  go.sum
  internal/injector/aspect/advice/block.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/gcp_pubsub.go.snap
  internal/injector/builtin/yaml/datastreams/gcp_pubsub.yml
  samples/client/gcp_pubsub.go
  samples/go.mod
  samples/go.sum
Due: Aspects, Injector, Integration Test Suite

feat: add support for gocql
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/gocql/base.go
  _integration-tests/tests/gocql/new_cluster.go
  _integration-tests/tests/gocql/struct_literal.go
  _integration-tests/tests/gocql/struct_literal_ptr.go
  _integration-tests/tests/k8s_client_go/base.go
  _integration-tests/tests/suite.generated.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/gocql.go.snap
  internal/injector/builtin/yaml/databases/gocql.yml
  samples/client/gocql.go
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Test Suite

update sample
  internal/injector/builtin/testdata/client/gocql.go.snap
  samples/client/gocql.go
Due: Injector

exclude github.com/gocql/gocql for replacements
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/databases/gocql.yml
Due: Injector
