Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

chore: fix call to DataDog CI upload (#592)
  .github/workflows/validate.yml
Due: none

Rollback otel packages to avoid dependency cycle via log/slog
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
Due: Instruments

chore: update generated files
  LICENSE-3rdparty.csv
Due: none

Rollback otel packages to avoid dependency cycle via log/slog
  _docs/go.mod
  _docs/go.sum
Due: none

Run linter in all modules
  .github/workflows/validate.yml
  samples/client/redis.go
  samples/regression_test.go
  samples/server/database.go
  samples/server/other_handlers.go
Due: none

Don't try to lint instrument (nothing to see there)
  .github/workflows/validate.yml
Due: none

Disable schema validation for V1 (valkey broken)
  _docs/generator/generator.go
Due: Generators

docs: auto-document v2 tracer integrations (#594)
  _docs/content/docs/dd-trace-go/.gitignore
  _docs/content/docs/dd-trace-go/_index.md
  _docs/content/docs/dd-trace-go/custom-trace.md
  _docs/content/docs/dd-trace-go/features.md
  _docs/content/docs/dd-trace-go/v1/_index.md
  _docs/content/docs/dd-trace-go/v2/_index.md
  _docs/generator/generator.go
  _docs/generator/main.go
  _docs/generator/tools.go
  _docs/go.mod
  _docs/go.sum
  _docs/orchestrion.tool.go
Due: Generators

Simplfy .gitattributes
  .gitattributes
Due: none

Upgrade to dd-trace-go@v1.73.0-rc.2.0...
  _docs/generator/generator.go
  instrument/go.mod
  instrument/go.sum
  internal/injector/config/testdata/instrument.snap.yml
Due: Generators, Instruments, Injector

chore: update generated files
  samples/go.mod
  samples/go.sum
Due: none

Fix snapshots broken by linter fix
  samples/testdata/client/redis.go.snap
  samples/testdata/server/database.go.snap
  samples/testdata/server/other_handlers.go.snap
Due: none

release: v1.4.0-rc.1 (#599)
  .gitattributes
  .github/workflows/validate.yml
  .golangci.yml
  _docs/go.mod
  _docs/go.sum
  instrument/go.mod
  instrument/go.sum
  internal/ensure/requiredversion_test.go
  internal/injector/aspect/advice/code/dot.go
  internal/injector/aspect/advice/code/dot_directive.go
  internal/injector/aspect/join/join_test.go
  internal/injector/config/config_test.go
  internal/injector/config/testdata/instrument.snap.yml
  internal/injector/injector_test.go
  internal/injector/typed/refmap.go
  internal/jobserver/client/env.go
  internal/pin/gomod.go
  internal/toolexec/proxy/generator/main.go
  internal/toolexec/proxy/proxy.go
  internal/toolexec/version_test.go
  internal/version/version.go
  main.go
  main_test.go
  runtime/built/built_test.go
  samples/client/redis.go
  samples/go.mod
  samples/go.sum
  samples/regression_test.go
  samples/server/database.go
  samples/server/other_handlers.go
  samples/testdata/client/redis.go.snap
  samples/testdata/server/database.go.snap
  samples/testdata/server/other_handlers.go.snap
Due: Generators, Instruments, Toolexec Driver, Aspects, Injector, Job Server

release: v1.4.0-rc.2
  _docs/go.mod
  _docs/go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

release: v1.4.0-rc.2 (#606)
  _docs/go.mod
  _docs/go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

chore: ifx release previous tag auto-selection
  .github/workflows/release.yml
Due: none

chore: fix release previous tag auto-selection (#607)
  .github/workflows/release.yml
Due: none

chore: align dependencies on orchestrion itself
  .github/workflows/validate.yml
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

release: v1.4.0-rc.3 (#608)
  .github/workflows/validate.yml
  LICENSE-3rdparty.csv
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

feat(injector): add ability to find function results implementing an interface
  .gitignore
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/code/dot_function_test.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/context/context_test.go
  internal/injector/injector.go
  internal/injector/testdata/injector/result-implements/config.yml
  internal/injector/testdata/injector/result-implements/modified.go.snap
Due: Aspects, Injector

chore: Address review issues
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/code/dot_function_test.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/context/context.go
  internal/injector/injector.go
Due: Aspects, Injector

feat(injector/join): add 'return-implements' function join point
  internal/injector/aspect/advice/code/dot.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/join/function.go
  internal/injector/testdata/injector/return-implements/config.yml
  internal/injector/testdata/injector/return-implements/modified.go.snap
  internal/injector/typed/refmap.go
  internal/injector/typed/typecheck.go
  internal/injector/typed/typecheck_test.go
Due: Aspects, Injector

chore: Address review comments
  internal/injector/aspect/join/function.go
  internal/injector/testdata/injector/result-implements-aspect/config.yml
  internal/injector/testdata/injector/result-implements-aspect/modified.go.snap
  internal/injector/testdata/injector/result-implements-join/config.yml
  internal/injector/testdata/injector/result-implements-join/modified.go.snap
  internal/injector/typed/typecheck.go
Due: Aspects, Injector

chore: use mmap instead of os.ReadFile in parse
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/injector/parse/mappedfilename.go
  internal/injector/parse/parse_test.go
  internal/injector/parse/parser.go
  samples/go.mod
  samples/go.sum
Due: Instruments, Injector

feat(injector): Add FinalResultImplements method to check interface implementation
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/testdata/injector/result-implements/config.yml
  internal/injector/testdata/injector/result-implements/modified.go.snap
Due: Aspects, Injector

feat(injector/join): Introduce finalResultImplements for final return value interface matching
  internal/injector/aspect/join/function.go
  internal/injector/testdata/injector/result-implements-join/config.yml
  internal/injector/testdata/injector/result-implements-join/modified.go.snap
Due: Aspects, Injector

refactor(injector): Refactor TypeName handling and migrate to typed package
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/call_test.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/struct.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/struct.go
  internal/injector/config/builtin.go
  internal/injector/typed/typename.go
  internal/injector/typed/typename_test.go
Due: Aspects, Injector

refactor(injector/typed): Refactor ResolveInterfaceTypeByName for improved clarity and error handling
  internal/injector/typed/typecheck.go
Due: Injector

feat(injector): Add ArgumentThatImplements method for argument interface matching
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/join/function.go
  internal/injector/testdata/injector/argument-implements-join/config.yml
  internal/injector/testdata/injector/argument-implements-join/modified.go.snap
  internal/injector/testdata/injector/argument-implements/config.yml
  internal/injector/testdata/injector/argument-implements/modified.go.snap
Due: Aspects, Injector

chore: enhance conventionalLabels with detailed comments
  _tools/conventionalcommit/main.go
Due: none

chore: enhance conventionalLabels with detailed comments (#618)
  _tools/conventionalcommit/main.go
Due: none

chore: correct spelling of integrations
  internal/pin/importset.go
  samples/orchestrion.tool.go
Due: none

chore: correct more typoes
  internal/pin/importset.go
Due: none

chore: correct typoes (#622)
  internal/pin/importset.go
  samples/orchestrion.tool.go
Due: none

Upgrade golangci-lint to 2.1.0
  .github/workflows/validate.yml
Due: none

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Integration Test Suite: any of: _integration-tests/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
