Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

remove python worflows from ci
  .github/workflows/validate.yml
  .github/workflows/workflow_call.yml
Due: none

remove commented code
  _integration-tests/tests/redigo/redigo.go
Due: Integration Test Suite

remove timeout
  _integration-tests/tests/redigo/redigo.go
Due: Integration Test Suite

Implemented feedback
  internal/toolexec/proxy/compile.flags.go
  internal/toolexec/proxy/generator/main.go
  internal/toolexec/proxy/link.flags.go
  internal/toolexec/proxy/link.go
Due: Generators, Toolexec Driver

Sanitize command
  internal/toolexec/proxy/generator/main.go
Due: Generators, Toolexec Driver

Make linter happy
  internal/toolexec/proxy/generator/main.go
Due: Generators, Toolexec Driver

release: v0.8.1
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

fix: CompileCommand may return extraneous files (#281)
  internal/cmd/toolexec.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.flags.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
  internal/toolexec/proxy/flags.go
  internal/toolexec/proxy/flags_test.go
  internal/toolexec/proxy/generator/main.go
  internal/toolexec/proxy/link.flags.go
  internal/toolexec/proxy/link.go
  internal/toolexec/proxy/link_test.go
  internal/toolexec/proxy/proxy.go
  internal/toolexec/proxy/proxy_test.go
Due: Generators, Toolexec Driver

chore: update generated files
  _integration-tests/go.mod
Due: Integration Test Suite

release: v0.8.1 (#284)
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

fix: do not set container name for dynamodb so tests can run concurrently
  _integration-tests/utils/testcontainers.go
Due: Integration Test Suite

fix: do not set container name for dynamodb (#286)
  _integration-tests/utils/testcontainers.go
Due: Integration Test Suite

Fix broken testds
  internal/ensure/integration_test.go
  internal/ensure/requiredversion_test.go
  internal/injector/testdata/injector/directive/expected.diff
  internal/injector/testdata/injector/http-anonymous-handler/expected.diff
  internal/injector/testdata/injector/http-default/expected.diff
  internal/injector/testdata/injector/http-line-info/expected.diff
  internal/injector/testdata/injector/http-no-arg-name/expected.diff
  internal/injector/testdata/injector/http-server/expected.diff
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/version_test.go
Due: Toolexec Driver, Injector

chore: update generated files
  LICENSE-3rdparty.csv
  _integration-tests/go.mod
  go.mod
  internal/injector/builtin/generated.go
  samples/go.mod
Due: Injector, Integration Test Suite

fix lint
  _integration-tests/tests/gcp_pubsub/gcp_pubsub.go
Due: Integration Test Suite

chore: use confluent kafka image for tests
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/ibm_sarama/ibm_sarama.go
  _integration-tests/tests/shopify_sarama/shopify_sarama.go
  _integration-tests/utils/testcontainers.go
Due: Integration Test Suite

feat: add support for gcp pubsub (#266)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/gcp_pubsub/gcp_pubsub.go
  _integration-tests/tests/gcp_pubsub/gen_test.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/datastreams/gcp_pubsub.yml
Due: Injector, Integration Test Suite

re-generate go.sum
  _integration-tests/go.sum
Due: Integration Test Suite

release: v0.9.0
  internal/version/version.go
Due: none

chore: run ddapm-test-agent in docker
  .github/workflows/validate.yml
  .github/workflows/workflow_call.yml
  _integration-tests/README.md
  _integration-tests/tests/aws.v1/aws.go
  _integration-tests/tests/aws.v2/base.go
  _integration-tests/tests/gcp_pubsub/gcp_pubsub.go
  _integration-tests/tests/go-redis.v7/go-redis.go
  _integration-tests/tests/go-redis.v8/go-redis.go
  _integration-tests/tests/go-redis.v9/go-redis.go
  _integration-tests/tests/gocql/base.go
  _integration-tests/tests/ibm_sarama/ibm_sarama.go
  _integration-tests/tests/mongo/mongo.go
  _integration-tests/tests/redigo/redigo.go
  _integration-tests/tests/shopify_sarama/shopify_sarama.go
  _integration-tests/tests/vault/vault.go
  _integration-tests/utils/agent/agent.go
  _integration-tests/utils/agent/requirements.txt
  _integration-tests/utils/suite.go
  _integration-tests/utils/testcontainers/logs.go
  _integration-tests/utils/testcontainers/testcontainers.go
Due: Integration Test Suite

chore: use confluent kafka image for tests (#289)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/ibm_sarama/ibm_sarama.go
  _integration-tests/tests/shopify_sarama/shopify_sarama.go
  _integration-tests/utils/testcontainers.go
Due: Integration Test Suite

remove test logger
  _integration-tests/utils/agent/agent.go
Due: Integration Test Suite

chore: add benchmark to measure cost of use
  .github/workflows/validate.yml
  go.mod
  go.sum
  main_test.go
  tools.go
Due: none

chore: update generated files
  _integration-tests/go.mod
  _integration-tests/go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

Fix typo in condition
  .github/workflows/validate.yml
Due: none

Fix report emission
  .github/workflows/validate.yml
Due: none

release: v0.9.0 (#290)
  internal/version/version.go
Due: none

set -euo pipefail
  .github/workflows/validate.yml
Due: none

Wait for benchmark on complete
  .github/workflows/validate.yml
Due: none

Attempt using arm-8core-linux runners
  .github/workflows/validate.yml
Due: none

wip: feat: support segmentio/kafka.go.v0
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/segmentio_kafka.v0/gen_test.go
  _integration-tests/tests/segmentio_kafka.v0/segmentio_kafka.go
Due: Integration Test Suite

add retries
  _integration-tests/go.mod
  _integration-tests/utils/agent/agent.go
Due: Integration Test Suite

fix logger
  _integration-tests/utils/agent/agent.go
Due: Integration Test Suite

fix lint
  _integration-tests/utils/agent/agent.go
Due: Integration Test Suite

wip: segmentio/kafka-go implementation
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/segmentio_kafka.v0/segmentio_kafka.go
  _integration-tests/utils/agent/agent.go
  _integration-tests/utils/suite.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/datastreams/segmentio_kafka_v0.yml
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Test Suite

chore: update generated files
  internal/injector/builtin/generated.go
Due: Injector

add metrics and change type of meta to map[string]string
  _integration-tests/tests/aws.v1/aws.go
  _integration-tests/tests/aws.v2/base.go
  _integration-tests/tests/chi.v5/chi.go
  _integration-tests/tests/dd-span/no-tag.go
  _integration-tests/tests/dd-span/tag.go
  _integration-tests/tests/echo.v4/echo.go
  _integration-tests/tests/fiber.v2/fiber.go
  _integration-tests/tests/gcp_pubsub/gcp_pubsub.go
  _integration-tests/tests/gin/gin.go
  _integration-tests/tests/go-redis.v7/go-redis.go
  _integration-tests/tests/go-redis.v8/go-redis.go
  _integration-tests/tests/go-redis.v9/go-redis.go
  _integration-tests/tests/gocql/base.go
  _integration-tests/tests/gorm.jinzhu/gorm.go
  _integration-tests/tests/gorm/gorm.go
  _integration-tests/tests/ibm_sarama/ibm_sarama.go
  _integration-tests/tests/k8s_client_go/base.go
  _integration-tests/tests/mongo/mongo.go
  _integration-tests/tests/mux/mux.go
  _integration-tests/tests/net_http/net_http.go
  _integration-tests/tests/os/lfi.go
  _integration-tests/tests/redigo/redigo.go
  _integration-tests/tests/segmentio_kafka.v0/segmentio_kafka.go
  _integration-tests/tests/shopify_sarama/shopify_sarama.go
  _integration-tests/tests/sql/sql.go
  _integration-tests/tests/vault/vault.go
  _integration-tests/utils/suite.go
  _integration-tests/validator/trace/diff.go
  _integration-tests/validator/trace/raw.go
  _integration-tests/validator/trace/span.go
  _integration-tests/validator/trace/testdata/matching/expected.json
Due: Integration Test Suite

do not trace ReadMessage
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/datastreams/segmentio_kafka_v0.yml
Due: Injector
