Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Integration Tests

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 15
    wait_for_ci: true

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

comment:
  require_changes: true

component_management:
  individual_components:
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: integration-tests
      name: Integration Tests
      paths: [_integration-tests/**]

Fixup GoVersion value in test
  internal/toolexec/proxy/compile_test.go
Due: Toolexec Driver

Fixup gccgo setup
  .github/workflows/validate.yml
Due: none

Re-use current go runtime version
  internal/toolexec/proxy/compile_test.go
Due: Toolexec Driver

Completely drop gccgo stuff (it supports go1.18 at best)
  .github/workflows/validate.yml
  internal/injector/restorer.go
Due: Injector

Use correctly formatted, but obviously dummy value
  internal/toolexec/proxy/compile_test.go
Due: Toolexec Driver

add new test case
  _integration-tests/tests/aws.v2/base.go
  _integration-tests/tests/aws.v2/new_config.go
  _integration-tests/tests/suite.generated.go
Due: Integration Tests

feat(injector): `method-call` join point
  docs/static/schema.json
  internal/injector/aspect/context/context.go
  internal/injector/aspect/join/expression.go
  internal/injector/aspect/join/join.go
  internal/injector/check.go
  internal/injector/injector.go
  internal/injector/testdata/injector/method-call/config.yml
  internal/injector/testdata/injector/method-call/expected.diff
Due: Aspects, Injector

docs(README): remove mention of future OTel support
  README.md
Due: none

refactor(injector): new API with better performance (#234)
  internal/injector/builtin/generated.go
  internal/injector/builtin/generator/main.go
  internal/injector/builtin/integration_test.go
  internal/injector/check.go
  internal/injector/imports.go
  internal/injector/injector.go
  internal/injector/injector_test.go
  internal/injector/parse.go
  internal/injector/parse_test.go
  internal/injector/restorer.go
  internal/injector/testdata/injector/access-return-value/expected.diff
  internal/injector/testdata/injector/chi5-newroute-dotimport/config.yml
  internal/injector/testdata/injector/chi5-newroute/config.yml
  internal/injector/testdata/injector/database-sql/config.yml
  internal/injector/testdata/injector/directive/config.yml
  internal/injector/testdata/injector/grpc/config.yml
  internal/injector/testdata/injector/http-anonymous-handler/expected.diff
  internal/injector/testdata/injector/http-default/expected.diff
  internal/injector/testdata/injector/http-line-info/config.yml
  internal/injector/testdata/injector/http-no-arg-name/expected.diff
  internal/injector/testdata/injector/http-server/config.yml
  internal/injector/testdata/injector/name-conflict/config.yml
  internal/injector/testdata/injector/redigo/config.yml
  internal/injector/write.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/importcfg/lookup.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
Due: Toolexec Driver, Injector

docs(README): remove mention of future OTel support (#246)
  README.md
Due: none

chore: improve CodeCov configuration; drop some dead code
  .github/workflows/validate.yml
  _integration-tests/validator/trace/raw.go
  codecov.yml
Due: Integration Tests

Fix test runner
  .github/workflows/validate.yml
  _integration-tests/validator/trace/raw.go
Due: Integration Tests

Fixup shell-foo
  .github/workflows/validate.yml
Due: none

More shell-fu fixing
  .github/workflows/validate.yml
Due: none

Spoecify GOTOOLCHAIN=local
  .github/workflows/validate.yml
Due: none

Use cut instead of grep
  .github/workflows/validate.yml
Due: none

Move coverage to dedicated job
  .github/workflows/validate.yml
Due: none

Fix duplicated artifact name
  .github/workflows/validate.yml
  codecov.yml
Due: none

Improve logging of upload stage
  .github/workflows/validate.yml
Due: none

Fixup paths
  .github/workflows/validate.yml
Due: none

Explicitly list files to upload
  .github/workflows/validate.yml
Due: none

fix merging errors and add better docs
  _integration-tests/tests/os/lfi.go
  _integration-tests/utils/agent/agent.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/ossec.yml
Due: Injector, Integration Tests

refactor(integration-tests): use container test agent
  _integration-tests/utils/agent/agent.go
  _integration-tests/utils/agent/requirements.txt
Due: Integration Tests

remove python from workflows
  .github/workflows/validate.yml
  .github/workflows/workflow_call.yml
Due: none

docs: improvements to the user guide
  README.md
  docs/config/_default/hugo.toml
  docs/content/docs/built-in/_index.md
  docs/content/docs/custom-trace.md
  docs/content/docs/features.md
  docs/content/docs/getting-started.md
Due: none

Fixup send-notifications step
  .github/workflows/validate.yml
Due: none

Annotate on the PR head commit, properly pick parent SHA
  .github/workflows/validate.yml
Due: none

Collect more coverage from generators
  .github/workflows/validate.yml
Due: none

Update validate.yml
  .github/workflows/validate.yml
Due: none

Fix flags handling to correctly split 'em
  .github/workflows/validate.yml
Due: none

Attempt to refactor using re-usable actions
  .github/actions/codecov-cli/action.yml
  .github/actions/codecov-upload/action.yml
  .github/workflows/validate.yml
Due: none

Correct requirement
  .github/workflows/validate.yml
Due: none

Disable search
  .github/actions/codecov-upload/action.yml
Due: none

Correctly provide token
  .github/workflows/validate.yml
Due: none

Fixup typo
  .github/workflows/validate.yml
Due: none

Fix step id
  .github/actions/codecov-upload/action.yml
Due: none

Portable install instructions
  .github/actions/codecov-cli/action.yml
Due: none

Run driver mode integration tests without build cache
  .github/workflows/validate.yml
Due: none

Investigate missing coverage data
  .github/actions/codecov-upload/action.yml
  .github/workflows/validate.yml
Due: none

Update docs/content/docs/custom-trace.md
  docs/content/docs/custom-trace.md
Due: none
