Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

chore(codecov): single upload per flag (#396)
  .github/workflows/validate.yml
Due: none

fix(pin): segfault orchestrion.tool.go is not valid go code (#407)
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

Update test snapshot
  internal/injector/builtin/testdata/server/database.go.snap
Due: Injector

Retain the setup connection to ensure shared cache does not get busted
  _integration-tests/tests/sql/sql.go
Due: Integration Test Suite

Revert unintentional indent changes
  _integration-tests/tests/sql/sql.go
Due: Integration Test Suite

fix: net/http server-side instrumentation (#403)
  _integration-tests/tests/chi.v5/chi.go
  _integration-tests/tests/echo.v4/echo.go
  _integration-tests/tests/fiber.v2/fiber.go
  _integration-tests/tests/gin/gin.go
  _integration-tests/tests/gorilla_mux/gen_test.go
  _integration-tests/tests/gorilla_mux/gorilla_mux.go
  _integration-tests/tests/net_http/base.go
  _integration-tests/tests/net_http/func_handler.go
  _integration-tests/tests/net_http/gen_test.go
  _integration-tests/tests/net_http/handler_implementation.go
  _integration-tests/tests/net_http/issue_400.go
  _integration-tests/tests/net_http/serve_mux_handler.go
  _integration-tests/utils/suite.go
  instrument/http.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/server/chiv5.go.snap
  internal/injector/builtin/testdata/server/gorilla.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/testdata/server/other_handlers.go.snap
  internal/injector/builtin/yaml/stdlib/net-http.server.yml
  internal/injector/config/config_test.go
  internal/injector/config/testdata/instrument.snap.yml
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
  main_test.go
  samples/go.mod
  samples/go.sum
  samples/server/gorilla.go
Due: Instruments, Toolexec Driver, Injector, Integration Test Suite

chore: update generated files
  samples/go.mod
Due: none

Assign result of slices.DeleteFunc
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver

fix(injector: builtin: sql): driver is not registered from non-instrumented sql calls (#411)
  _integration-tests/tests/sql/sql.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/server/database.go.snap
  internal/injector/builtin/yaml/stdlib/database-sql.yml
Due: Injector, Integration Test Suite

release: v1.0.0-rc.1
  internal/version/version.go
Due: none

Switch to alpine-based REDIS image
  _integration-tests/utils/testcontainers.go
Due: Integration Test Suite

chore: temporarily disable testing on Windows
  .github/workflows/validate.yml
Due: none

chore: temporarily disable testing on Windows (#415)
  .github/workflows/validate.yml
Due: none

Update grpc config to inject chain interceptor
  internal/injector/testdata/injector/grpc/config.yml
Due: Injector

fix(grpc): use itnerceptor chaining API
  _integration-tests/tests/grpc/grpc.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/client/grpc.go.snap
  internal/injector/builtin/testdata/server/grpc.go.snap
  internal/injector/builtin/yaml/rpc/grpc.yml
Due: Injector, Integration Test Suite

fix(grpc): the unary server interceptor was already set and may not be reset (#419)
  _integration-tests/tests/grpc/grpc.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/client/grpc.go.snap
  internal/injector/builtin/testdata/server/grpc.go.snap
  internal/injector/builtin/yaml/rpc/grpc.yml
Due: Injector, Integration Test Suite

chore: add go.mod in _docs and _tools
  .github/workflows/validate.yml
  _docs/go.mod
  _docs/go.sum
  _docs/tools.go
  _tools/go.mod
  _tools/go.sum
  _tools/make-licenses.sh
  _tools/tools.go
  go.mod
  go.sum
Due: none

chore: update generated files
  _integration-tests/go.mod
  _integration-tests/go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

Update dependency updater
  .github/workflows/deps-update.yml
  .github/workflows/validate.yml
Due: none

Fixup
  .github/workflows/validate.yml
Due: none

chore: add go.mod in `_docs` and `_tools` (#422)
  .github/workflows/deps-update.yml
  .github/workflows/validate.yml
  _docs/go.mod
  _docs/go.sum
  _docs/tools.go
  _integration-tests/go.mod
  _integration-tests/go.sum
  _tools/go.mod
  _tools/go.sum
  _tools/make-licenses.sh
  _tools/tools.go
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

release: v1.0.0-rc.2
  internal/version/version.go
Due: none

fix(injector: builtin: net-http-client): treat 4XX as errors, not 5XXs
  internal/injector/builtin/yaml/stdlib/net-http.client.yml
Due: Injector

test: test the thing
  _integration-tests/tests/net_http/client_error.go
  _integration-tests/tests/net_http/gen_test.go
Due: Integration Test Suite

Update _integration-tests/tests/net_http/client_error.go
  _integration-tests/tests/net_http/client_error.go
Due: Integration Test Suite

Update client_error.go
  _integration-tests/tests/net_http/client_error.go
Due: Integration Test Suite

fix(injector: builtin: net-http-client): treat 4XX as errors, not 5XXs (#426)
  _integration-tests/tests/net_http/client_error.go
  _integration-tests/tests/net_http/gen_test.go
  internal/injector/builtin/yaml/stdlib/net-http.client.yml
Due: Injector, Integration Test Suite

Update to dd-trace-go.v1@1.70.0
  go.mod
  go.sum
Due: none

Change to 1.0.0
  internal/version/version.go
Due: none

release: v1.0.0 (#424)
  internal/version/version.go
Due: none

fix: typo in README.md
  README.md
Due: none

fix: fingerprint mismatch when using `-tags` that affect injected packages
  internal/binpath/cmd.go
  internal/cmd/go.go
  internal/cmd/toolexec.go
  internal/goflags/flags.go
  internal/goproxy/proxy.go
  internal/jobserver/buildid/version.go
  internal/jobserver/client/env.go
  internal/jobserver/pkgs/resolve.go
  internal/toolexec/aspect/resolve.go
Due: Go Driver, Toolexec Driver, Job Server

Fix fork bomb
  instrument/instrument.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/resolve_test.go
Due: Instruments, Job Server

Make linter happy
  internal/jobserver/pkgs/resolve_test.go
Due: Job Server

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Integration Test Suite: any of: _integration-tests/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
