Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

Stop using regexp2 / allow weaving under runtime / move under /runtime
  _integration-tests/gls/access_test.go
  _integration-tests/tests/civisibility/main_test.go
  _integration-tests/utils/suite.go
  go.mod
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/expression.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generator/schema.go
  internal/injector/builtin/yaml/directive/orchestrion-enabled.yml
  internal/toolexec/aspect/oncompile.go
  runtime/built/built.go
  runtime/doc.go
Due: Generators, Toolexec Driver, Aspects, Injector, Integration Test Suite

chore: update generated files
  LICENSE-3rdparty.csv
Due: none

Use string prefixes for behavior overrides instead of regexes
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver

Fix typo
  runtime/doc.go
Due: none

feat: new `built.WithOrchestrion` constant (#387)
  LICENSE-3rdparty.csv
  _integration-tests/gls/access_test.go
  _integration-tests/tests/civisibility/main_test.go
  _integration-tests/utils/suite.go
  docs/static/schema.json
  go.mod
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/expression.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generator/doc.join.declaration-of.tmpl
  internal/injector/builtin/generator/schema.go
  internal/injector/builtin/yaml/directive/orchestrion-enabled.yml
  internal/toolexec/aspect/oncompile.go
  runtime/built/built.go
  runtime/doc.go
Due: Generators, Toolexec Driver, Aspects, Injector, Integration Test Suite

fix(goenv.GOMOD): never rely on the environment variable
  internal/ensure/requiredversion.go
  internal/ensure/requiredversion_test.go
  internal/goenv/goenv.go
  internal/goenv/goenv_test.go
  internal/pin/pin.go
Due: Go Driver

chore(instrument): rework test files (#383)
  instrument/instrument.go
  instrument/instrument_test.go
  instrument/opname.go
  instrument/opname_test.go
  instrument/orchestrion.tool.go
Due: Instruments

Use gomod in another way
  internal/ensure/requiredversion.go
Due: none

Use blank for 'current dir'
  internal/pin/pin.go
Due: none

fix(goenv.GOMOD): never rely on the environment variable (#384)
  internal/ensure/requiredversion.go
  internal/ensure/requiredversion_test.go
  internal/goenv/goenv.go
  internal/goenv/goenv_test.go
  internal/pin/pin.go
Due: Go Driver

chore: add new aspects in the README
  README.md
Due: none

release: v0.9.4
  internal/version/version.go
Due: none

revert formatting changes
  README.md
Due: none

fix(README): broken link
  README.md
Due: none

fix(pin): always use replace
  internal/pin/pin_test.go
Due: none

feat: injector config loader API
  docs/static/schema.json
  instrument/orchestrion.yml
  internal/cmd/pin.go
  internal/injector/aspect/aspect.go
  internal/injector/builtin/all.yml
  internal/injector/builtin/builtin.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/generator/config.yml.tmpl
  internal/injector/builtin/generator/main.go
  internal/injector/builtin/orchestrion.yml
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/injector/config/config.go
  internal/injector/config/config_test.go
  internal/injector/config/schema.json
  internal/injector/config/testdata/instrument.snap.yml
  internal/injector/config/testdata/required.snap.yml
  internal/injector/config/validate.go
  internal/injector/config/validate_test.go
  internal/jobserver/buildid/version.go
  internal/pin/auto.go
  internal/pin/auto_test.go
  internal/pin/pin.go
  internal/pin/pin_test.go
  orchestrion.tool.go
Due: Generators, Instruments, Aspects, Injector, Job Server

add a little comment about the double-YAML parsing for validation
  internal/injector/config/config-yml.go
Due: Injector

release: v0.9.4 (#390)
  README.md
  internal/pin/pin_test.go
  internal/version/version.go
Due: none

go mod tidy
  _integration-tests/go.mod
  _integration-tests/go.sum
  internal/injector/config/config_test.go
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Test Suite

Make linter happy
  internal/injector/config/config-go.go
  internal/injector/config/config_test.go
  internal/injector/config/validate_test.go
Due: Injector

Fix YAML test indent
  internal/injector/config/config_test.go
  internal/injector/config/testdata/instrument.snap.yml
  internal/injector/config/testdata/required.snap.yml
Due: Injector

Explicitly remove toolchain directive from go.mod files
  .github/workflows/deps-update.yml
Due: none

Tweaks to deps updater
  .github/workflows/deps-update.yml
  _integration-tests/go.mod
  go.mod
  samples/go.mod
Due: Integration Test Suite

feat: new `test-main` join point
  docs/layouts/shortcodes/menu.html
  docs/static/schema.json
  internal/cmd/toolexec.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/join/testmain.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/generator/doc.join.test-main.tmpl
  internal/injector/builtin/testdata/client/main.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/yaml/civisibility/testing.yml
  internal/injector/builtin/yaml/go-main.yml
  internal/injector/injector.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.go
Due: Toolexec Driver, Aspects, Injector

Monkey patch tracer.SpanFromContext so it does not deem NoopSpans are real.
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/stdlib/runtime.yml
Due: Injector

Adding testing aspect to README.md
  README.md
Due: none

Adding testing aspect to README.md (#398)
  README.md
Due: none

Add dd:orchestrion-enabled to essential integrations
  internal/injector/builtin/orchestrion.yml
Due: Injector

Add Filename prefix to constants
  internal/cmd/pin.go
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/injector/config/config.go
  internal/injector/config/config_test.go
  internal/injector/config/validate_test.go
  internal/pin/auto.go
  internal/pin/auto_test.go
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: Injector

Restore version fingerprinting of other files
  internal/jobserver/buildid/version.go
Due: Job Server

Fixup doc string
  internal/injector/config/validate.go
Due: Injector

Fixup regression test suite
  internal/injector/config/testdata/instrument.snap.yml
  internal/injector/config/testdata/required.snap.yml
Due: Injector

Fix empty config handling
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/injector/config/config_test.go
Due: Injector

Update internal/injector/builtin/yaml/stdlib/runtime.yml
  internal/injector/builtin/yaml/stdlib/runtime.yml
Due: Injector

chore: update generated files
  internal/injector/builtin/generated.go
Due: Injector

feat: injector config loader API (#391)
  _integration-tests/go.mod
  _integration-tests/go.sum
  docs/static/schema.json
  instrument/orchestrion.yml
  internal/cmd/pin.go
  internal/injector/aspect/aspect.go
  internal/injector/builtin/all.yml
  internal/injector/builtin/builtin.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/generator/config.yml.tmpl
  internal/injector/builtin/generator/main.go
  internal/injector/builtin/orchestrion.yml
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/injector/config/config.go
  internal/injector/config/config_test.go
  internal/injector/config/schema.json
  internal/injector/config/testdata/instrument.snap.yml
  internal/injector/config/testdata/required.snap.yml
  internal/injector/config/validate.go
  internal/injector/config/validate_test.go
  internal/pin/auto.go
  internal/pin/auto_test.go
  internal/pin/pin.go
  internal/pin/pin_test.go
  orchestrion.tool.go
  samples/go.mod
  samples/go.sum
Due: Generators, Instruments, Aspects, Injector, Integration Test Suite

feat: mechanism to fingerprint arbitrary data
  internal/fingerprint/fingerprint.go
  internal/fingerprint/fingerprint_test.go
  internal/fingerprint/types.go
  internal/injector/aspect/advice/advice.go
  internal/injector/aspect/advice/assign.go
  internal/injector/aspect/advice/block.go
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/call_test.go
  internal/injector/aspect/advice/code/template.go
  internal/injector/aspect/advice/import.go
  internal/injector/aspect/advice/inject.go
  internal/injector/aspect/advice/struct.go
  internal/injector/aspect/advice/wrap.go
  internal/injector/aspect/aspect.go
  internal/injector/aspect/join/all-of.go
  internal/injector/aspect/join/configuration.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/expression.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/not.go
  internal/injector/aspect/join/one-of.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/struct.go
Due: Aspects, Injector
