Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

Update internal/injector/check_test.go
  internal/injector/check_test.go
Due: Injector

chore: update generated files
  LICENSE-3rdparty.csv
Due: none

Update check_test.go
  internal/injector/check_test.go
Due: Injector

Fix broken merge results
  internal/cmd/server.go
  internal/toolexec/aspect/onlink.go
Due: Toolexec Driver

feat(injector): early filtering of aspects (#435)
  internal/injector/aspect/join/all-of.go
  internal/injector/aspect/join/configuration.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/expression.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/not.go
  internal/injector/aspect/join/one-of.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/struct.go
  internal/injector/aspect/join/testmain.go
  internal/injector/aspect/may/context.go
  internal/injector/aspect/may/match.go
  internal/injector/builtin/integration_test.go
  internal/injector/check.go
  internal/injector/check_test.go
  internal/injector/imports.go
  internal/injector/injector.go
  internal/injector/injector_test.go
  internal/injector/parse/mappedfilename.go
  internal/injector/parse/parse_test.go
  internal/injector/parse/parser.go
  internal/injector/testdata/injector/struct-literal/config.yml
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Aspects, Injector

chore: exponential backoff in flaky kafka test
  _integration-tests/tests/ibm_sarama/ibm_sarama.go
  _integration-tests/tests/segmentio_kafka.v0/segmentio_kafka.go
  _integration-tests/utils/backoff/backoff.go
  _integration-tests/utils/backoff/backoff_test.go
  _integration-tests/utils/backoff/constant.go
  _integration-tests/utils/backoff/exponential.go
  _integration-tests/utils/backoff/exponential_test.go
Due: Integration Test Suite

Add test for context cancellation
  _integration-tests/utils/backoff/backoff.go
  _integration-tests/utils/backoff/backoff_test.go
Due: Integration Test Suite

Refactor a little to make linter happy
  _integration-tests/tests/ibm_sarama/ibm_sarama.go
  _integration-tests/tests/segmentio_kafka.v0/segmentio_kafka.go
  _integration-tests/utils/backoff/backoff.go
  _integration-tests/utils/backoff/backoff_test.go
Due: Integration Test Suite

chore: exponential backoff in flaky kafka test (#479)
  _integration-tests/tests/ibm_sarama/ibm_sarama.go
  _integration-tests/tests/segmentio_kafka.v0/segmentio_kafka.go
  _integration-tests/utils/backoff/backoff.go
  _integration-tests/utils/backoff/backoff_test.go
  _integration-tests/utils/backoff/constant.go
  _integration-tests/utils/backoff/exponential.go
  _integration-tests/utils/backoff/exponential_test.go
Due: Integration Test Suite

Fix gcp test blocking forever
  _integration-tests/tests/gcp_pubsub/gcp_pubsub.go
Due: Integration Test Suite

Retry redigo SET command
  _integration-tests/tests/redigo/redigo.go
Due: Integration Test Suite

upgrade past OTel breaking changes
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

downgrade to v1.70.2
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

upgraded dd-trace-go dependency; upgraded version tag
  go.mod
  go.sum
  internal/version/version.go
Due: none

go mod tidy
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

drop -v argument to go test (makes it too hard to find errors in outputs)
  .github/workflows/validate.yml
Due: none

Update to latest
  go.mod
  go.sum
  internal/jobserver/common/handler.go
  internal/jobserver/server.go
Due: Job Server

v1.71.0-rc.3
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

Pass context instead of logger
  internal/ensure/requiredversion.go
  internal/ensure/requiredversion_test.go
  internal/goflags/flags.go
  internal/jobserver/buildid/version.go
  internal/pin/pin.go
Due: Go Driver, Job Server

Remove GOMAXPROX override (it was not effective since there was a typo in the name anyway)
  internal/jobserver/pkgs/resolve.go
Due: Job Server

Fix race condition in goflags
  internal/goflags/flags.go
  internal/goflags/flags_test.go
  internal/jobserver/buildid/version.go
  internal/jobserver/pkgs/resolve.go
Due: Go Driver, Job Server

v1.71.0-rc.4
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

feat(injector: join): signature-contains
  internal/injector/aspect/join/function.go
Due: Aspects, Injector

release: v1.0.3-rc.1 (#486)
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

feat: never build twice
  internal/cmd/toolexec.go
  internal/files/files.go
  internal/jobserver/nbt/nbt.go
  internal/jobserver/nbt/nbt_test.go
  internal/jobserver/server.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/errors.go
Due: Toolexec Driver, Job Server

chore: update generated files
  go.mod
Due: none

Make linter happy
  internal/cmd/toolexec.go
  internal/jobserver/nbt/nbt_test.go
  internal/jobserver/server.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/errors.go
Due: Toolexec Driver, Job Server

Add missing license header
  internal/toolexec/proxy/errors.go
Due: Toolexec Driver

Fix onClose handling
  internal/cmd/toolexec.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/proxy.go
Due: Toolexec Driver

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Integration Test Suite: any of: _integration-tests/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
