Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server

re-enable dependabot with 14-day cooldown
  github/dependabot.yml
Due: none

re-enable dependabot with 14-day cooldown
  .github/dependabot.yml
Due: none

re-enable dependabot with 2-day cooldown
  .github/dependabot.yml
Due: none

chore: re-enable dependabot with 2-day cooldown (#810)
  .github/dependabot.yml
Due: none

upgrade dd-trace-go to v2.7.1
  go.mod
  go.sum
Due: none

use stable go version for site
  .github/workflows/docsite.yml
Due: none

release: v1.9.0 (#791)
  .github/workflows/docsite.yml
  _docs/go.mod
  _docs/go.sum
  _tools/go.mod
  _tools/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
  test/e2e/testdata/pgo/go.mod
Due: Instruments

chore: add dd-octo-sts trust policies for workflow automation
  .github/chainguard/self.github.deps-update.schedule.sts.yaml
  .github/chainguard/self.github.validate.self-mutation.sts.yaml
Due: none

chore: add dd-octo-sts trust policies for workflow automation (#815)
  .github/chainguard/self.github.deps-update.schedule.sts.yaml
  .github/chainguard/self.github.validate.self-mutation.sts.yaml
Due: none

chore: migrate DD_K9_LIBRARY_GO_APP_PRIVATE_KEY to dd-octo-sts
  .github/workflows/deps-update.yml
  .github/workflows/validate.yml
Due: none

Tiny comment name typo fix
  _docs/content/docs/dd-trace-go/custom-trace.md
Due: none

fix: tiny comment name typo in example (#817)
  _docs/content/docs/dd-trace-go/custom-trace.md
Due: none

chore: migrate DD_K9_LIBRARY_GO_APP_PRIVATE_KEY to dd-octo-sts (#816)
  .github/workflows/deps-update.yml
  .github/workflows/validate.yml
Due: none

fix(injector): resolve .AST.Fun.Name crash on SelectorExpr in wrap-expression templates
  internal/injector/aspect/advice/code/dot_ast_extras.go
  internal/injector/testdata/injector/selector-expr-fun-name/config.yml
  internal/injector/testdata/injector/selector-expr-fun-name/modified.go.snap
Due: Aspects, Injector

Apply suggestions from code review
  internal/injector/testdata/injector/selector-expr-fun-name/config.yml
Due: Injector

fix(injector): resolve .AST.Fun.Name crash on SelectorExpr in wrap-expression templates (#819)
  internal/injector/aspect/advice/code/dot_ast_extras.go
  internal/injector/testdata/injector/selector-expr-fun-name/config.yml
  internal/injector/testdata/injector/selector-expr-fun-name/modified.go.snap
Due: Aspects, Injector

release: v1.10.0-rc.1
  go.mod
  go.sum
  internal/version/version.go
Due: none

release: v1.10.0-rc.1 (#827)
  LICENSE-3rdparty.csv
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

release: v1.10.0
  go.mod
  go.sum
  internal/version/version.go
Due: none

feat(internal/injector): add method-call join point
  internal/injector/aspect/join/method_call.go
  internal/injector/aspect/join/method_call_test.go
  internal/injector/testdata/injector/method-call/config.yml
  internal/injector/testdata/injector/method-call/modified.go.snap
Due: Aspects, Injector

feat(internal/injector): add match field to method-call join point
  internal/injector/aspect/join/method_call.go
  internal/injector/aspect/join/method_call_test.go
  internal/injector/config/schema.json
  internal/injector/testdata/injector/method-call/config.yml
  internal/injector/testdata/injector/method-call/modified.go.snap
Due: Aspects, Injector

fix(internal/injector): lint issues in method-call join point
  internal/injector/aspect/join/method_call.go
  internal/injector/aspect/join/method_call_test.go
Due: Aspects, Injector

release: bump dd-trace-go to v2.8.1
  go.mod
  go.sum
Due: none

release: v1.10.0 (#828)
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

test(internal/injector): add method-call interface test
  internal/injector/testdata/injector/method-call-interface/config.yml
  internal/injector/testdata/injector/method-call-interface/modified.go.snap
Due: Injector

fix(.github): add id-token write permission to integration tests
  .github/workflows/validate.yml
Due: none

fix(.github): remove DD_API_KEY secret in integration tests
  .github/workflows/validate.yml
Due: none

fix: update Echo tests
  samples/testdata/server/echov4.go.snap
Due: none

release: v1.11.0-rc.1
  go.mod
  go.sum
  internal/version/version.go
Due: none

ci(release): add verbose diagnostics to Determine version step
  .github/workflows/release.yml
Due: none

fix(ci): fix semver regex in Determine version step
  .github/workflows/release.yml
Due: none

release: v1.11.0-rc.1 (#831)
  .github/workflows/release.yml
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

release: v1.11.0-rc.2
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

release: v1.11.0-rc.2 (#832)
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

address review comments
  internal/injector/aspect/join/method_call_test.go
Due: Aspects, Injector

test(benchmark): add DD_TRACE_GO_REPLACE env and etcd-io/etcd target
  main_test.go
Due: none

feat(internal/injector): add method-call join point (#829)
  internal/injector/aspect/join/method_call.go
  internal/injector/aspect/join/method_call_test.go
  internal/injector/config/schema.json
  internal/injector/testdata/injector/method-call-interface/config.yml
  internal/injector/testdata/injector/method-call-interface/modified.go.snap
  internal/injector/testdata/injector/method-call/config.yml
  internal/injector/testdata/injector/method-call/modified.go.snap
  main_test.go
Due: Aspects, Injector

fix: support spaces in directive argument values (#665)
  internal/injector/aspect/advice/code/dot_directive.go
  internal/injector/aspect/advice/code/dot_directive_test.go
Due: Aspects, Injector

chore: add Datadog Code Coverage upload, remove CodeCov
  .github/actions/codecov-cli/action.yml
  .github/actions/codecov-cli/requirements-dev.txt
  .github/actions/codecov-upload/action.yml
  .github/dependabot.yml
  .github/workflows/validate.yml
  codecov.yml
Due: none

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
