Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Integration Tests

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 15
    wait_for_ci: true

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

comment:
  require_changes: true

component_management:
  individual_components:
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: integration-tests
      name: Integration Tests
      paths: [_integration-tests/**]

Fix copyright headers
  internal/injector/lineinfo/annotation.go
  internal/injector/lineinfo/canonicalize.go
  internal/injector/lineinfo/lineinfo.go
Due: Injector

Infer `-coverpkg` argument when not present so it can be fowarded to downstream jobs accurately
  internal/goflags/flags.go
  internal/goflags/flags_test.go
  internal/goproxy/proxy.go
  internal/jobserver/pkgs/resolve.go
  internal/toolexec/aspect/oncompile.go
Due: Go Driver, Toolexec Driver

Fix command parsing logic
  .github/workflows/tests.yml
  internal/goflags/flags.go
  internal/goflags/flags_test.go
  internal/jobserver/pkgs/resolve.go
Due: Go Driver

Uniform use of Config.Logf
  internal/ensure/requiredversion.go
  internal/goflags/flags.go
  internal/goflags/flags_test.go
  internal/injector/builtin/integration_test.go
  internal/injector/injector_test.go
  internal/jobserver/buildid/version.go
Due: Go Driver, Injector

Parse GOFLAGS as part of command line arguments
  internal/goflags/flags.go
  internal/goflags/flags_test.go
  internal/goflags/quoted/quoted.go
  internal/goflags/quoted/quoted_test.go
  internal/goproxy/proxy.go
Due: Go Driver

Output complete list of arguments
  internal/goflags/flags.go
  internal/goproxy/proxy.go
Due: Go Driver

Fix parsing
  internal/goflags/flags.go
  internal/goflags/flags_test.go
  internal/goproxy/proxy.go
Due: Go Driver

Log working directory when failing to inver
  internal/goflags/flags.go
Due: Go Driver

Fix logging
  internal/ensure/requiredversion.go
  internal/goflags/flags.go
  internal/jobserver/buildid/version.go
  internal/jobserver/pkgs/resolve.go
Due: Go Driver

Don't effectively chdir twice
  internal/goflags/flags.go
Due: Go Driver

Fixup test case
  internal/goflags/flags_test.go
Due: Go Driver

Also collect coverage from orchestrion during integ test runs
  .github/workflows/tests.yml
Due: none

Correctly quote coverpkg argument
  .github/workflows/tests.yml
Due: none

Cache restorer resolver
  internal/injector/injector.go
  internal/injector/resolver.go
Due: Injector

Set GOTOOLCHAIN=local in test environment
  .github/workflows/tests.yml
Due: none

Ensure dependencies are go1.21 compatible
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Tests

Try pinning go version in version test
  internal/toolexec/version_test.go
Due: Toolexec Driver

Install pinned versions of the dependencies
  internal/toolexec/version_test.go
Due: Toolexec Driver

Fixup incorrect deep dependency resolution
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Tests

chore: improve context passing through Aspects (#187)
  internal/injector/aspect/advice/advice.go
  internal/injector/aspect/advice/assign.go
  internal/injector/aspect/advice/block.go
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/code/dot.go
  internal/injector/aspect/advice/code/dot_ast.go
  internal/injector/aspect/advice/code/dot_directive.go
  internal/injector/aspect/advice/code/dot_findargument.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/code/template.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/advice/import.go
  internal/injector/aspect/advice/inject.go
  internal/injector/aspect/advice/struct.go
  internal/injector/aspect/advice/wrap.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/context/node.go
  internal/injector/aspect/join/all-of.go
  internal/injector/aspect/join/configuration.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/expression.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/not.go
  internal/injector/aspect/join/one-of.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/struct.go
  internal/injector/injector.go
  internal/injector/node/chain.go
  internal/injector/node/find.go
  internal/injector/typed/context.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Aspects, Injector

chore: basic integration tests
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/sarama/shopify.go
  _integration-tests/tests/suite.generated.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/client/sarama.go.snap
  internal/injector/builtin/testdata/server/sarama.go.snap
  internal/injector/builtin/yaml/datastreams/sarama.yml
  samples/client/sarama.go
Due: Injector, Integration Tests

chore: update generated files
  _integration-tests/go.mod
  _integration-tests/go.sum
Due: Integration Tests

chore: improve sarama's samples
  internal/injector/builtin/testdata/client/sarama.go.snap
  internal/injector/builtin/testdata/server/sarama.go.snap
  samples/client/sarama.go
  samples/server/sarama.go
Due: Injector

fix: implement sarama integration test
  _integration-tests/tests/sarama/shopify.go
Due: Integration Tests

feat: support IBM/sarama
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/ibm_sarama/main.go
  _integration-tests/tests/shopify_sarama/main.go
  _integration-tests/tests/suite.generated.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/ibm_sarama.go.snap
  internal/injector/builtin/testdata/client/shopify_sarama.go.snap
  internal/injector/builtin/testdata/server/ibm_sarama.go.snap
  internal/injector/builtin/testdata/server/shopify_sarama.go.snap
  internal/injector/builtin/yaml/datastreams/ibm_sarama.yml
  internal/injector/builtin/yaml/datastreams/shopify_sarama.yml
  samples/client/ibm_sarama.go
  samples/client/shopify_sarama.go
  samples/go.mod
  samples/go.sum
  samples/server/ibm_sarama.go
  samples/server/shopify_sarama.go
Due: Injector, Integration Tests

chore: update minimum tested go to 1.21 / move to 1.23 release
  .github/workflows/deps-update.yml
  .github/workflows/tests.yml
  .github/workflows/workflow_call.yml
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/ensure/integration_test.go
  internal/ensure/requiredversion_test.go
  samples/go.mod
  samples/go.sum
Due: Integration Tests

chore: update generated files
  LICENSE-3rdparty.csv
Due: none

Update codecov configuration
  codecov.yml
Due: none

Clean up profiling CLI in response to review comments
  main.go
Due: none

Don't do profiling setup if none are enabled
  main.go
Due: none

chore: small stylistic improvements
  _integration-tests/tests/ibm_sarama/main.go
  _integration-tests/tests/shopify_sarama/main.go
Due: Integration Tests

Some final tweaks
  main.go
Due: none

feat: add profiling of Orchestrion (#217)
  main.go
Due: none

chore: update minimum tested go to 1.21 / move to 1.23 release (#220)
  .github/workflows/deps-update.yml
  .github/workflows/tests.yml
  .github/workflows/workflow_call.yml
  LICENSE-3rdparty.csv
  _integration-tests/go.mod
  _integration-tests/go.sum
  codecov.yml
  go.mod
  go.sum
  internal/ensure/integration_test.go
  internal/ensure/requiredversion_test.go
  samples/go.mod
  samples/go.sum
Due: Integration Tests

Apply //dd:orchestrion-enabled to tracer-internal modules
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/directive/orchestrion-enabled.yml
Due: Injector

fix: propagate --log-level and --log-file to child processes
  main.go
Due: none

fix: propagate --log-level and --log-file to child processes (#224)
  main.go
Due: none

Switch to redpanda as a test kafka server (suggested by @eliottness), to reduce risk of odd latency conditions
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/ibm_sarama/main.go
  _integration-tests/tests/shopify_sarama/main.go
Due: Integration Tests

feat: support `//dd:span` directive on context-less functions
  _integration-tests/tests/dd-span/main.go
  _integration-tests/tests/dd-span/no-tag.go
  _integration-tests/tests/dd-span/tag.go
  docs/content/contributing/aspects/code-templates.md
  docs/static/schema.json
  internal/injector/aspect/advice/code/dot_findargument.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/integration_test.go
  internal/injector/builtin/testdata/client/http.go.snap
  internal/injector/builtin/testdata/server/other_handlers.go.snap
  internal/injector/builtin/yaml/dd-span.yml
  internal/injector/builtin/yaml/http/gorilla.yml
  internal/injector/builtin/yaml/stdlib/net-http.client.yml
  internal/injector/testdata/injector/access-return-value/config.yml
  internal/injector/testdata/injector/access-return-value/expected.diff
  internal/injector/testdata/injector/directive/config.yml
  samples/server/other_handlers.go
Due: Aspects, Injector, Integration Tests

Make the tests pass
  _integration-tests/tests/dd-span/main.go
  _integration-tests/tests/dd-span/no-tag.go
  _integration-tests/tests/dd-span/tag.go
  _integration-tests/validator/trace/diff.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/server/other_handlers.go.snap
  internal/injector/builtin/yaml/dd-span.yml
  internal/injector/builtin/yaml/directive/orchestrion-enabled.yml
  samples/server/other_handlers.go
Due: Injector, Integration Tests
