Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

Remove BuildFlags from pkgs.Resolve + add comment about req.TempDir
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/resolve_test.go
  internal/toolexec/aspect/resolve.go
Due: Toolexec Driver, Job Server

Fix failing test due to burried error
  internal/jobserver/pkgs/resolve.go
Due: Job Server

release: v1.0.1
  internal/version/version.go
Due: none

make linter happy
  _integration-tests/utils/generator/main.go
Due: Generators, Integration Test Suite

docs(README): correct typo (#428)
  README.md
Due: none

Use larger Windows runners
  .github/workflows/validate.yml
Due: none

docs(README): remove mention of rapid API/experience changes
  README.md
Due: none

docs(README): remove mention of rapid API/experience changes (#438)
  README.md
Due: none

Review feedback
  _integration-tests/civisibility/civisibility_payload_mocks.go
  _integration-tests/civisibility/main_test.go
  _integration-tests/civisibility/testing_test.go
  _integration-tests/utils/generator/main.go
Due: Generators, Integration Test Suite

chore: update generated files
  samples/go.mod
Due: none

Fix merge
  internal/injector/aspect/advice/advice.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/testmain.go
Due: Aspects, Injector

Fixup resource name
  _integration-tests/civisibility/main_test.go
Due: Integration Test Suite

Fix test expectations
  internal/injector/config/config_test.go
  internal/injector/config/testdata/instrument.snap.yml
  internal/injector/config/testdata/required.snap.yml
Due: Injector

feat: support net/http.DefaultServeMux
  internal/injector/builtin/yaml/stdlib/net-http.server.yml
Due: Injector

feat: support auto-instrumentation when `net/http.DefaultServeMux` is used implicitly (#440)
  internal/injector/builtin/yaml/stdlib/net-http.server.yml
Due: Injector

docs: replace Exhaustive with Comprehensive
  _docs/content/_index.md
Due: none

docs: replace Exhaustive with Comprehensive (#446)
  _docs/content/_index.md
Due: none

test: integration test for net/http.DefaultServeMux
  _integration-tests/tests/net_http/base.go
  _integration-tests/tests/net_http/gen_test.go
  _integration-tests/tests/net_http/serve_mux_handler.go
Due: Integration Test Suite

fix(injector: database-sql): add missing database/sql/driver import
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/stdlib/database-sql.yml
Due: Injector

feat: new `test-main` join point (#394)
  _docs/layouts/shortcodes/menu.html
  internal/cmd/toolexec.go
  internal/injector/aspect/advice/advice.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/testmain.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/generator/doc.join.test-main.tmpl
  internal/injector/builtin/testdata/client/main.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/yaml/go-main.yml
  internal/injector/builtin/yaml/stdlib/runtime.yml
  internal/injector/config/config_test.go
  internal/injector/config/schema.json
  internal/injector/config/testdata/instrument.snap.yml
  internal/injector/config/testdata/required.snap.yml
  internal/injector/injector.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.go
Due: Toolexec Driver, Aspects, Injector

docs(README): Point users to the datadog doc site
  README.md
Due: none

docs(README): Point users to the datadog doc site (#450)
  README.md
Due: none

feat(aspect): early match v0
  internal/injector/aspect/context/early_context.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Aspects, Injector

early match
  internal/injector/aspect/context/early_context.go
  internal/injector/aspect/join/all-of.go
  internal/injector/aspect/join/configuration.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/expression.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/not.go
  internal/injector/aspect/join/one-of.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/struct.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Aspects, Injector

early match on directives
  internal/injector/aspect/context/early_context.go
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/function.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Aspects, Injector

rework directive early match
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/function.go
  internal/injector/lineinfo/annotation.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Aspects, Injector

feat(injector): early match v1
  internal/injector/aspect/context/early_context.go
  internal/injector/aspect/context/may_context.go
  internal/injector/aspect/join/all-of.go
  internal/injector/aspect/join/configuration.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/expression.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/not.go
  internal/injector/aspect/join/one-of.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/struct.go
  internal/injector/aspect/join/testmain.go
  internal/injector/aspect_filter.go
  internal/injector/builtin/integration_test.go
  internal/injector/injector.go
  internal/injector/injector_test.go
  internal/injector/parse.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Aspects, Injector

Update package.go
  internal/injector/aspect/join/package.go
Due: Aspects, Injector

feat(injector): early match v2
  internal/injector/aspect/context/may_context.go
  internal/injector/aspect/join/all-of.go
  internal/injector/aspect/join/configuration.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/expression.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/not.go
  internal/injector/aspect/join/one-of.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/struct.go
  internal/injector/aspect/may/context.go
  internal/injector/aspect/may/match.go
  internal/injector/aspect_filter.go
Due: Aspects, Injector

feat(injector): early match v2.1
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/testmain.go
  internal/injector/aspect/may/context.go
  internal/injector/aspect_filter.go
  internal/injector/injector.go
  internal/injector/parse.go
Due: Aspects, Injector

simplify 5 lines of code
  internal/injector/aspect_filter.go
Due: Injector

fix header copyright and 1.22 issue
  internal/injector/aspect/may/context.go
  internal/injector/aspect/may/match.go
  internal/injector/check.go
  internal/injector/injector.go
Due: Aspects, Injector

test: integration test for `net/http.DefaultServeMux` (#447)
  _integration-tests/tests/net_http/base.go
  _integration-tests/tests/net_http/gen_test.go
  _integration-tests/tests/net_http/serve_mux_handler.go
Due: Integration Test Suite

fix(injector: database-sql): add missing database/sql/driver import (#449)
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/stdlib/database-sql.yml
Due: Injector

fix unit tests
  internal/injector/builtin/integration_test.go
  internal/injector/injector.go
  internal/injector/injector_test.go
  internal/injector/lineinfo/annotation.go
  internal/injector/testdata/injector/chi5-newroute-dotimport/config.yml
  internal/injector/testdata/injector/chi5-newroute/config.yml
  internal/injector/testdata/injector/database-sql/config.yml
  internal/injector/testdata/injector/grpc/config.yml
  internal/injector/testdata/injector/http-anonymous-handler/config.yml
  internal/injector/testdata/injector/http-default/config.yml
  internal/injector/testdata/injector/http-ignored/config.yml
  internal/injector/testdata/injector/http-line-info/config.yml
  internal/injector/testdata/injector/http-no-arg-name/config.yml
  internal/injector/testdata/injector/http-server/config.yml
  internal/injector/testdata/injector/lang-level/config.yml
  internal/injector/testdata/injector/redigo/config.yml
  internal/injector/testdata/injector/struct-literal/config.yml
Due: Injector

don't run contains filter on packages too big
  internal/injector/parse.go
Due: Injector
