Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server

codecov.yml:

# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true
comment:
  layout: diff, components, files
  behavior: new
ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - '_tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code
coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true
component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: other
      name: Other

release: v1.7.0 (#765)
  .github/workflows/validate.yml
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

release: v1.7.0
  internal/version/version.go
Due: none

release: v1.7.0 (#772)
  _docs/go.mod
  instrument/go.mod
  internal/version/version.go
  samples/go.mod
Due: Instruments

release: v1.7.1
  go.mod
  go.sum
  internal/version/version.go
Due: none

release: v1.8.0
  go.mod
  go.sum
  internal/version/version.go
Due: none

release: v1.8.0 (#780)
  LICENSE-3rdparty.csv
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

fix: respect //orchestrion:ignore for echo handlers
  go.mod
  go.sum
  internal/injector/config/builtin.go
  internal/injector/config/testdata/required.snap.yml
  internal/injector/injector.go
  runtime/echoignore/echoignore.go
  runtime/echoignore/echoignore_test.go
  samples/server/echov4_ignore.go
  samples/testdata/server/echov4.go.snap
  samples/testdata/server/echov4_ignore.go.snap
Due: Injector

chore(.github/workflows): bump golangci-lint to v2.9.0
  .github/workflows/validate.yml
Due: none

chore: go generate ./...
  internal/toolexec/proxy/compile.flags.go
  internal/toolexec/proxy/link.flags.go
Due: Toolexec Driver

release: v1.9.0
  go.mod
  go.sum
  internal/version/version.go
Due: none

perf: Phase A quick wins — eliminate per-package overhead in toolexec
  PERF_OPTIMIZATION_PLAN.md
  internal/goenv/goenv.go
  internal/goproxy/proxy.go
  internal/injector/config/config.go
  internal/injector/config/from_files.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.go
Due: Go Driver, Toolexec Driver, Injector

perf: Phase C — persistent content-addressed instrumentation cache
  internal/injector/cache/cache.go
  internal/injector/typed/refmap.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Injector

fix: filter non-existent YAML files from LoadedYMLFiles
  internal/injector/config/config.go
Due: Injector

docs: add benchmark results to optimization plan
  PERF_OPTIMIZATION_PLAN.md
Due: none

perf: Phase B.2 — improve FileMayMatch heuristics and skip Types map
  internal/injector/aspect/join/expression.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/struct.go
  internal/injector/check.go
  internal/injector/check_test.go
  internal/injector/injector.go
Due: Aspects, Injector

docs: add full benchmark suite results
  PERF_OPTIMIZATION_PLAN.md
Due: none

perf: Phase B.1 — server-side instrumentation via NATS inject service
  internal/jobserver/inject/inject.go
  internal/jobserver/server.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Job Server

docs: update benchmark results with Phase B.1
  PERF_OPTIMIZATION_PLAN.md
Due: none

perf: Phase D — shim-side early skip via pre-computed eligible imports
  internal/goproxy/proxy.go
  internal/injector/aspect/aspect.go
  internal/injector/config/config.go
  internal/injector/injector.go
  internal/jobserver/inject/inject.go
  internal/toolexec/aspect/oncompile.go
Due: Go Driver, Toolexec Driver, Aspects, Injector, Job Server

perf: Phase E.1 — skip DecorateFile for files without matching aspects
  internal/injector/injector.go
Due: Injector

perf: Phase E.2 — replace suffixarray with bytes.Contains in FileMayMatch
  internal/injector/aspect/may/context.go
Due: Aspects, Injector

perf: Phase E.3 — serialize decoration to eliminate FileSet lock contention
  internal/injector/injector.go
Due: Injector

init
  internal/cmd/validate.go
  internal/validate/validate.go
  internal/validate/validate_test.go
Due: none

dd-trace-go@v2.7.0-rc.2
  go.mod
  go.sum
Due: none

chore(deps): update version comment on upload-artifact and download-artifact
  .github/workflows/deps-update.yml
  .github/workflows/docsite.yml
  .github/workflows/ossf-scorecard.yml
  .github/workflows/validate.yml
Due: none

fix(internal/injector): `ArgumentThatImplements` always fails for `context.Context`
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/context/context.go
  internal/injector/typed/typecheck.go
Due: Aspects, Injector

feat(internal/injector): adding tests to cover the PR changeset
  internal/injector/aspect/context/context_test.go
  internal/injector/testdata/injector/argument-implements-custom-context/config.yml
  internal/injector/testdata/injector/argument-implements-custom-context/modified.go.snap
  internal/injector/typed/typecheck_test.go
Due: Aspects, Injector

fix(internal/injector): make linter happy
  internal/injector/aspect/context/context_test.go
Due: Aspects, Injector

fix(internal/injector): `ArgumentThatImplements` always fails for `context.Context` (#798)
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/context/context_test.go
  internal/injector/testdata/injector/argument-implements-custom-context/config.yml
  internal/injector/testdata/injector/argument-implements-custom-context/modified.go.snap
  internal/injector/typed/typecheck.go
  internal/injector/typed/typecheck_test.go
Due: Aspects, Injector

Add code-coverage.datadog.yml for Datadog Code Coverage
  code-coverage.datadog.yml
Due: none

feat: add code-coverage.datadog.yml for Datadog Code Coverage (#800)
  code-coverage.datadog.yml
Due: none

Add Datadog code coverage upload alongside Codecov
  .github/workflows/validate.yml
  code-coverage.datadog.yml
Due: none

Add Datadog code coverage upload (#799)
  .github/workflows/validate.yml
  code-coverage.datadog.yml
Due: none

upgrade to v2.7.0 of dd-trace-go
  _docs/go.mod
  _docs/go.sum
  _tools/go.mod
  _tools/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
  test/e2e/testdata/pgo/go.mod
Due: Instruments

upgrade dd-trace-go to v2.7.0
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

chore: remove .github/dependabot.yml [incident-51602]
  .github/dependabot.yml
Due: none

chore: disable automated dependency updaters [incident-51602] (#807)
  .github/dependabot.yml
Due: none
