Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Test Harness

redirect GOCACHE instead
  .github/workflows/tests.yml
Due: none

Specify -i parameter correctly
  .github/workflows/tests.yml
Due: none

Drop condition on go run integration ests
  .github/workflows/tests.yml
Due: none

Remove context in FromArchive
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
Due: Toolexec Driver

Make windows-friendly
  .github/workflows/tests.yml
Due: none

make even windows friendlier
  .github/workflows/tests.yml
Due: none

Fixup windows tests
  _integration-tests/validator/trace/span_test.go
  _integration-tests/validator/trace/testdata/.gitattributes
  _integration-tests/validator/trace/testdata/missing-child/diff.txt
  _integration-tests/validator/trace/testdata/missing-children/diff.txt
Due: Test Harness

Remove debug workaround that was accidentally left over
  internal/injector/injector.go
Due: Injector

Isolate GLS access stuff
  .github/workflows/tests.yml
  _integration-tests/gls/access.go
  _integration-tests/gls/access_test.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/runtime.yml
Due: Injector, Test Harness

fix: cannot lazily link against GLS accessors
  .github/workflows/tests.yml
  _integration-tests/gls/access.go
  _integration-tests/gls/access_test.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/runtime.yml
Due: Injector, Test Harness

chore: set up dependabot (#123)
  .github/dependabot.yml
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: Test Harness

Also test w/o orchestrion
  .github/workflows/tests.yml
Due: none

fix: missing `link.deps` records cause link-time error (#125)
  .github/workflows/tests.yml
  _integration-tests/validator/trace/span_test.go
  _integration-tests/validator/trace/testdata/.gitattributes
  _integration-tests/validator/trace/testdata/missing-child/diff.txt
  _integration-tests/validator/trace/testdata/missing-children/diff.txt
  internal/injector/aspect/advice/assign.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/function.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/dd-span.yml
  internal/injector/builtin/yaml/directive/orchestrion-enabled.yml
  internal/injector/injector.go
  internal/injector/testdata/injector.yml
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
Due: Toolexec Driver, Aspects, Injector, Test Harness

Fix merge artifact
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver

chore: add unit test for `autoPinOrchestrion` / `pinOrchestrion` (#124)
  pin_test.go
Due: none

Feedback from @eliottness
  .github/workflows/tests.yml
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/suite.generated.go
  _integration-tests/utils/agent/agent.go
Due: Test Harness

More feedback from @eliottness
  _integration-tests/tests/suite.go
  _integration-tests/tests/suite_test.go
  _integration-tests/validator/trace/diff.go
  _integration-tests/validator/trace/span_test.go
Due: Test Harness

Use ddapm-test-agent from environment if available
  .github/workflows/tests.yml
  _integration-tests/utils/agent/agent.go
  _integration-tests/utils/agent/requirements.txt
Due: Test Harness

Fix NPE
  _integration-tests/validator/trace/diff.go
Due: Test Harness

Remove leftover validation.json file
  _integration-tests/tests/grpc/validation.json
Due: Test Harness

Fixup LICENSE-3rdparty.csv contents
  LICENSE-3rdparty.csv
Due: none

Configure grouping
  .github/dependabot.yml
Due: none

chore: workflow for automated release creation
  .github/workflows/release.yml
Due: none

Update .github/workflows/tests.yml
  .github/workflows/tests.yml
Due: none

Add missing GH_TOKEN variable
  .github/workflows/release.yml
Due: none

enhance GLS tests
  _integration-tests/gls/access.go
  _integration-tests/gls/access_test.go
Due: Test Harness

reference golang/go/src/runtime/HACKING.md
  internal/injector/builtin/yaml/stdlib/runtime.yml
Due: Injector

chore: update generated files
  internal/injector/builtin/generated.go
Due: Injector

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: none

chore: workflow for automated release creation (#147)
  .github/workflows/release.yml
Due: none

release: v0.7.2
  internal/version/version.go
Due: none

Fixup small problems with the release automation
  .github/workflows/release.yml
  pin_test.go
Due: none

fix: broken documentation site
  .github/workflows/docsite.yml
Due: none

fix: broken documentation site (#150)
  .github/workflows/docsite.yml
Due: none

release: v0.7.2 (#148)
  .github/workflows/release.yml
  internal/version/version.go
  pin_test.go
Due: none

chore: correct `gh release create` command
  .github/workflows/release.yml
  RELEASING.md
Due: none

Path conditions:
  Instruments: any of: instrument/**, but not: **/generator/main.go, samples/**, tools/**
  Go Driver: any of: internal/go*/**, but not: **/generator/main.go, samples/**, tools/**
  Toolexec Driver: any of: internal/toolexec/**, but not: **/generator/main.go, samples/**, tools/**
  Aspects: any of: internal/injector/aspect/**, but not: **/generator/main.go, samples/**, tools/**
  Injector: any of: internal/injector/**, but not: **/generator/main.go, samples/**, tools/**
  Test Harness: any of: _integration-tests/**, but not: **/generator/main.go, samples/**, tools/**
