Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Instruments, Go Driver, Toolexec Driver, Aspects, Injector

chore: improve context passing through Aspects
  internal/injector/aspect/advice/advice.go
  internal/injector/aspect/advice/assign.go
  internal/injector/aspect/advice/block.go
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/code/dot.go
  internal/injector/aspect/advice/code/dot_ast.go
  internal/injector/aspect/advice/code/dot_directive.go
  internal/injector/aspect/advice/code/dot_findargument.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/code/template.go
  internal/injector/aspect/advice/import.go
  internal/injector/aspect/advice/inject.go
  internal/injector/aspect/advice/struct.go
  internal/injector/aspect/advice/wrap.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/context/node.go
  internal/injector/aspect/join/all-of.go
  internal/injector/aspect/join/configuration.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/expression.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/not.go
  internal/injector/aspect/join/one-of.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/struct.go
  internal/injector/injector.go
  internal/injector/node/chain.go
  internal/injector/node/find.go
  internal/injector/typed/context.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Aspects, Injector

Don't assume a listener is present
  internal/jobserver/server.go
Due: none

bind schema to aspect
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/k8s-client.yml
Due: Injector

docs: correct error in code template documentation
  docs/content/contributing/aspects/code-templates.md
  internal/injector/aspect/advice/code/dot_ast.proxies.go
  internal/injector/aspect/advice/code/generator/main.go
Due: none

docs: correct error in code template documentation (#188)
  docs/content/contributing/aspects/code-templates.md
  internal/injector/aspect/advice/code/dot_ast.proxies.go
  internal/injector/aspect/advice/code/generator/main.go
Due: none

update README
  _integration-tests/README.md
Due: none

feat: use wrap-expression instead of replace-function for hashicorp/vault integration
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/vault.go.snap
  internal/injector/builtin/yaml/api/vault.yml
  samples/client/vault.go
Due: Injector

chore: set correct copyright header
  _integration-tests/tests/vault/main.go
  internal/injector/builtin/testdata/client/vault.go.snap
  internal/injector/builtin/yaml/api/vault.yml
  samples/client/vault.go
Due: Injector

fix: use correct import URL for hashicorp/vault instrumentation
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/vault.go.snap
  internal/injector/builtin/yaml/api/vault.yml
Due: Injector

chore: update generated files
  _integration-tests/go.mod
  _integration-tests/go.sum
  samples/go.mod
  samples/go.sum
Due: none

Update internal/injector/builtin/yaml/go-main.yml
  internal/injector/builtin/yaml/go-main.yml
Due: Injector

chore: update generated files
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
Due: Injector

Update internal/injector/builtin/yaml/api/vault.yml
  internal/injector/builtin/yaml/api/vault.yml
Due: Injector

Apply suggestions from code review
  internal/injector/builtin/yaml/api/vault.yml
Due: Injector

chore: update generated files
  internal/injector/builtin/generated.go
Due: Injector

use plain go/ast
  _integration-tests/utils/generator/main.go
Due: none

use plain go/ast
  _integration-tests/go.mod
Due: none

ensure order
  _integration-tests/utils/generator/main.go
Due: none

chore: go generate ./tests
  _integration-tests/tests/suite.generated.go
Due: none

feat: support instrumentation of k8s.io/client-go (#185)
  .gitignore
  _integration-tests/README.md
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/k8s_client_go/common.go
  _integration-tests/tests/k8s_client_go/new_cfg_func.go
  _integration-tests/tests/k8s_client_go/struct_literal_with_param.go
  _integration-tests/tests/k8s_client_go/struct_literal_without_param.go
  _integration-tests/tests/suite.generated.go
  _integration-tests/tests/suite.go
  _integration-tests/tests/suite_test.go
  _integration-tests/utils/generator/main.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/k8s-client.yml
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
  samples/go.mod
  samples/go.sum
Due: Toolexec Driver, Injector

chore: refactor CLI handling using `urfave/cli`
  LICENSE-3rdparty.csv
  _integration-tests/go.mod
  _integration-tests/go.sum
  docs/content/docs/troubleshooting.md
  go.mod
  go.sum
  internal/cmd/cmd.go
  internal/cmd/go.go
  internal/cmd/pin.go
  internal/cmd/toolexec.go
  internal/cmd/version.go
  internal/pin/pin.go
  internal/pin/pin_test.go
  internal/toolexec/proxy/proxy.go
  logger.go
  logger_unix.go
  logger_windows.go
  main.go
  samples/go.mod
  samples/go.sum
Due: Toolexec Driver

chore: create OpenSSF Score Card
  .github/workflows/ossf-scorecard.yml
Due: none

chore: create OpenSSF Score Card (#192)
  .github/workflows/ossf-scorecard.yml
Due: none

chore: improve OpenSSF Score
  .github/workflows/docsite.yml
  .github/workflows/generate.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  README.md
Due: none

chore: improve OpenSSF Score (#195)
  .github/workflows/docsite.yml
  .github/workflows/generate.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  README.md
Due: none

chore: upgrade all dependencies, add CODEOWNERS
  .github/CODEOWNERS
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/toolexec/version_test.go
  samples/go.mod
  samples/go.sum
Due: Toolexec Driver

Use v2 of go-licenses
  LICENSE-3rdparty.csv
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
  tools.go
  tools/copyrights/merge.go
  tools/make-licenses.sh
Due: none

Add SAST tool
  .github/workflows/sast.yml
Due: none

Use dd-trace-go-guild as owners
  .github/CODEOWNERS
Due: none

Rollback to go1.21-compatible dependencies
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: none

fix: update vault tests to comply with expected interface
  _integration-tests/tests/vault/main.go
Due: none

No else after early-return
  internal/cmd/toolexec.go
Due: none

release: v0.7.4-rc.1
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: none

Remove non-capturing marker :? from regex, as POSIX grep does not support them in extended mode
  .github/workflows/release.yml
Due: none

Add more information to verbose output
  internal/cmd/version.go
Due: none

Add test for the version command
  internal/cmd/version_test.go
Due: none

Remove references to warmup, which was removed
  README.md
  internal/injector/builtin/generated.go
  internal/injector/builtin/generator/main.go
  main.go
Due: Injector

release: v0.7.4-rc.1 (#197)
  .github/workflows/release.yml
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: none

chore: fix hash
  internal/injector/builtin/generated.go
Due: Injector

Synchronize subscription registration
  internal/jobserver/server.go
Due: none

Path conditions:
  Instruments: any of: instrument/**, but not: **/generator/main.go, samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: **/generator/main.go, samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: **/generator/main.go, samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: **/generator/main.go, samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: **/generator/main.go, samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
