Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server

perf(injector): scan file contents instead of indexing them in FileContains
  internal/injector/aspect/may/context.go
  internal/injector/aspect/may/context_test.go
Due: Aspects, Injector

fix(jobserver): let the go command remove its work directory while a job server runs
  internal/files/log.go
  internal/files/log_other.go
  internal/files/log_test.go
  internal/files/log_windows.go
  internal/jobserver/client/env.go
  main.go
Due: Job Server

fix(jobserver): remove the job server's temporary files before exiting
  internal/cmd/diff.go
  internal/cmd/server.go
  internal/goproxy/proxy.go
  internal/goproxy/proxy_test.go
  internal/jobserver/server.go
  internal/jobserver/server_internal_test.go
  internal/toolexec/version.go
Due: Go Driver, Toolexec Driver, Job Server

perf(jobserver): check for a starting job server more frequently at first
  internal/jobserver/client/env.go
Due: Job Server

fix(jobserver): do not share contexts between request handlers
  internal/jobserver/common/handler.go
  internal/jobserver/common/handler_test.go
Due: Job Server

fix(jobserver): do not lose the paths found when detecting cycles
  internal/jobserver/common/graph.go
  internal/jobserver/common/graph_test.go
Due: Job Server

perf(jobserver): resolve package patterns concurrently
  internal/jobserver/pkgs/load.go
  internal/jobserver/pkgs/load_internal_test.go
  internal/jobserver/pkgs/pkgs_internal_test.go
  internal/jobserver/pkgs/resolve_test.go
Due: Job Server

fix(join): let blank function names match function literals in any file
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/testdata/injector/function-literal/config.yml
  internal/injector/testdata/injector/function-literal/modified.go.snap
Due: Aspects, Injector

perf(injector): only decorate files that an aspect may match on
  internal/injector/injector.go
  internal/injector/parse/parser.go
  internal/injector/parse/parser_test.go
  internal/injector/testdata/injector/injected-code/config.yml
  internal/injector/testdata/injector/injected-code/modified.go.snap
Due: Injector

fix(toolexec): do not panic when injecting an import into a package that imports nothing
  internal/toolexec/importcfg/importcfg.go
  internal/toolexec/importcfg/importcfg_test.go
  noimports_test.go
Due: Toolexec Driver

fix(toolexec): make the link-time dependency imports of main packages deterministic
  internal/toolexec/aspect/oncompile-main.go
  linkorder_test.go
Due: Toolexec Driver

perf(toolexec): collect garbage less often in toolexec processes
  internal/cmd/toolexec.go
Due: none

perf(toolexec): only verify the orchestrion pin when tools report their version
  internal/cmd/toolexec.go
  main_test.go
Due: none

fix(ensure): accept a replace directive to orchestrion's source through symbolic links
  internal/ensure/requiredversion.go
  internal/ensure/requiredversion_test.go
Due: none

fix(jobserver): stop busy-looping while waiting for a job server that exited
  internal/jobserver/client/env.go
  internal/jobserver/client/wait_internal_test.go
Due: Job Server

fix(injector): append-args mutates the caller's option slice on spread calls
  internal/injector/aspect/advice/call.go
  internal/injector/testdata/injector/append-args-ellipsis/config.yml
  internal/injector/testdata/injector/append-args-ellipsis/modified.go.snap
  internal/injector/testdata/injector/grpc/modified.go.snap
Due: Aspects, Injector

ci(shell): define shfmt flags and version in one place
  .github/workflows/shell.yml
  Makefile
Due: none

fix: builds fail on Go 1.27.2 with "export data version 5 is greater than maximum supported version 4"
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

ci: bump golangci-lint to v2.14.0
  .github/workflows/validate.yml
Due: none

chore(deps): bump golang.org/x/net to v0.60.0
  _docs/go.mod
  _docs/go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

fix(toolexec): stop nested go list -export from re-entering the weaver
  internal/cmd/toolexec.go
  internal/goflags/quoted/quoted.go
  internal/goflags/quoted/quoted_test.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/aspect/join/package_test.go
  internal/injector/check.go
  internal/injector/injector.go
  internal/injector/typed/typecheck.go
  internal/injector/typed/typecheck_test.go
  internal/toolexec/aspect/oncompile.go
Due: Go Driver, Toolexec Driver, Aspects, Injector

release: v1.14.0
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
