Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

add logging to kafka container
  _integration-tests/utils/testcontainers.go
Due: Integration Test Suite

reuse redis container logic
  _integration-tests/tests/go-redis.v0/go-redis.go
  _integration-tests/tests/go-redis.v7/go-redis.go
  _integration-tests/tests/go-redis.v8/go-redis.go
  _integration-tests/tests/go-redis.v9/go-redis.go
  _integration-tests/tests/redigo/redigo.go
  _integration-tests/utils/testcontainers.go
Due: Integration Test Suite

verbose tests on ci
  .github/workflows/validate.yml
Due: none

chore: update generated files
  _integration-tests/go.mod
Due: Integration Test Suite

feat: support confluent-kafka-go v1 and v2 (#320)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/confluent-kafka-go.v1/gen_test.go
  _integration-tests/tests/confluent-kafka-go.v1/kafka.go
  _integration-tests/tests/confluent-kafka-go.v1/skip_windows.go
  _integration-tests/tests/confluent-kafka-go.v2/gen_test.go
  _integration-tests/tests/confluent-kafka-go.v2/kafka.go
  _integration-tests/tests/confluent-kafka-go.v2/skip_windows.go
  internal/injector/aspect/advice/code/template.go
  internal/injector/aspect/join/join.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/datastreams/confluentinc_kafka.yml
Due: Aspects, Injector, Integration Test Suite

attempt to change config in ci script
  .github/workflows/validate.yml
  _integration-tests/utils/testcontainers.go
Due: Integration Test Suite

do not use container in Setup
  _integration-tests/tests/redigo/redigo.go
  _integration-tests/tests/segmentio_kafka.v0/segmentio_kafka.go
Due: Integration Test Suite

run command on linux only
  .github/workflows/validate.yml
Due: none

feat: support julienschmidt/httprouter (#332)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/julienschmidt_httprouter/gen_test.go
  _integration-tests/tests/julienschmidt_httprouter/julienschmidt_httprouter.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/http/julienschmidt_httprouter.yml
Due: Injector, Integration Test Suite

improved wait strategies
  .github/workflows/validate.yml
  _integration-tests/tests/segmentio_kafka.v0/segmentio_kafka.go
  _integration-tests/utils/testcontainers.go
Due: Integration Test Suite

remove unused code
  _integration-tests/tests/segmentio_kafka.v0/segmentio_kafka.go
Due: Integration Test Suite

remove whitespace
  .github/workflows/validate.yml
Due: none

chore: standardize on errors.Is(err, fs.ErrNotExist)
  internal/pin/gomod.go
  internal/pin/pin.go
  main.go
Due: none

feat(internal/injector/config): load from package and YAML
  docs/static/schema.json
  instrument/orchestrion.tool.go
  internal/injector/aspect/aspect.go
  internal/injector/builtin/builtin.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generator/main.go
  internal/injector/builtin/integration_test.go
  internal/injector/builtin/orchestrion.yml
  internal/injector/config/config.go
  internal/injector/config/load.go
  internal/injector/config/load_test.go
  internal/injector/config/source-go.go
  internal/injector/config/source-yaml.go
  internal/injector/config/testdata/circular.snap.yml
  internal/injector/config/testdata/samples.snap.yml
  internal/pin/pin.go
Due: Generators, Instruments, Aspects, Injector

chore: add support for schema validation
  docs/static/schema.json
  internal/injector/config/load.go
  internal/injector/config/load_test.go
  internal/injector/config/schema.go
  internal/injector/config/schema.json
  internal/injector/config/schema_test.go
  internal/injector/config/source-yaml.go
Due: Injector

feat: support github.com/sirupsen/logrus (#370)
  _integration-tests/go.mod
  _integration-tests/tests/logrus/base.go
  _integration-tests/tests/logrus/gen_test.go
  _integration-tests/tests/logrus/global_logger.go
  _integration-tests/tests/logrus/new_logger.go
  _integration-tests/tests/logrus/struct_literal_ptr.go
  _integration-tests/tests/logrus/struct_literal_val.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/client/logrus.go.snap
  internal/injector/builtin/yaml/logs/logrus.yml
  samples/client/logrus.go
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Test Suite

attempt to fix flaky tests (#378)
  _integration-tests/tests/go-redis.v0/go-redis.go
  _integration-tests/tests/go-redis.v7/go-redis.go
  _integration-tests/tests/go-redis.v8/go-redis.go
  _integration-tests/tests/go-redis.v9/go-redis.go
  _integration-tests/tests/redigo/redigo.go
  _integration-tests/tests/segmentio_kafka.v0/segmentio_kafka.go
  _integration-tests/utils/testcontainers.go
Due: Integration Test Suite

fix lint
  _integration-tests/tests/vault/vault.go
  _integration-tests/utils/testcontainers.go
Due: Integration Test Suite

wip
  internal/pin/auto.go
  internal/pin/gomod.go
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

chore(instrument): rework test files
  instrument/instrument.go
  instrument/instrument_test.go
  instrument/opname.go
  instrument/opname_test.go
  instrument/orchestrion.tool.go
Due: Instruments

test httputil reverseproxy
  _integration-tests/tests/net_http/gen_test.go
  _integration-tests/tests/net_http/httputil_reverse_proxy.go
Due: Integration Test Suite

fix lint
  _integration-tests/tests/net_http/httputil_reverse_proxy.go
Due: Integration Test Suite

rename server -> proxy
  _integration-tests/tests/net_http/httputil_reverse_proxy.go
Due: Integration Test Suite

test(pin): add a few tests files
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

chore: update generated files
  internal/toolexec/proxy/link.flags.go
Due: Toolexec Driver

test(pin): fix prune multiple
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

test(pin): fix assertion on CI
  internal/pin/pin_test.go
Due: none

test(pin): well this is not needed anyway
  internal/pin/pin_test.go
Due: none

test(pin): should have refactored
  internal/pin/pin_test.go
Due: none

feat: `orchestrion pin` can track enabled integrations (#376)
  .github/workflows/validate.yml
  internal/cmd/pin.go
  internal/pin/auto.go
  internal/pin/gomod.go
  internal/pin/importset.go
  internal/pin/pin.go
  internal/pin/pin_test.go
  internal/toolexec/proxy/link.flags.go
  main.go
  main_test.go
  samples/orchestrion.tool.go
Due: Toolexec Driver

feat: new `built.WithOrchestrion` constant
  _integration-tests/gls/access_test.go
  _integration-tests/tests/civisibility/main_test.go
  _integration-tests/utils/suite.go
  built/built.go
  docs/static/schema.json
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/expression.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generator/doc.join.declaration-of.tmpl
  internal/injector/builtin/yaml/directive/orchestrion-enabled.yml
Due: Aspects, Injector, Integration Test Suite

chore: standardize on `errors.Is(err, fs.ErrNotExist)` (#379)
  internal/pin/gomod.go
  internal/pin/pin.go
  main.go
Due: none

Add regex101 links
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/expression.go
Due: Aspects, Injector

Rename aspect
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/directive/orchestrion-enabled.yml
Due: Injector

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Integration Test Suite: any of: _integration-tests/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
