Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

feat: add support for github.com/gocql/gocql (#263)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/gocql/base.go
  _integration-tests/tests/gocql/new_cluster.go
  _integration-tests/tests/gocql/struct_literal.go
  _integration-tests/tests/gocql/struct_literal_ptr.go
  _integration-tests/tests/k8s_client_go/base.go
  _integration-tests/tests/suite.generated.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/gocql.go.snap
  internal/injector/builtin/yaml/databases/gocql.yml
  samples/client/gocql.go
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Test Suite

release: v0.8.0
  README.md
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

add gocql to the README
  README.md
Due: none

release: v0.8.0 (#262)
  README.md
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

feat: add support for gcp pubsub
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/gcp_pubsub/gcp_pubsub.go
  _integration-tests/tests/gcp_pubsub/main_test.go
  _integration-tests/tests/suite.generated.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/datastreams/gcp_pubsub.yml
Due: Injector, Integration Test Suite

release: v0.8.1-rc.1
  go.mod
  go.sum
  internal/version/version.go
Due: none

remove code duplication
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/datastreams/gcp_pubsub.yml
Due: Injector, Integration Test Suite

Revert "remove code duplication"
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/datastreams/gcp_pubsub.yml
Due: Injector, Integration Test Suite

update test
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/gcp_pubsub/gcp_pubsub.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/datastreams/gcp_pubsub.yml
Due: Injector, Integration Test Suite

feat: add support for github.com/confluentinc/confluent-kafka-go/kafka
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/confluentinc_confluent-kafka-go/kafka.go
  _integration-tests/tests/suite.generated.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/confluentinc_kafka.go.snap
  internal/injector/builtin/testdata/server/confluentinc_kafka.go.snap
  internal/injector/builtin/yaml/datastreams/confluentinc_kafka.yml
  samples/client/confluentinc_kafka.go
  samples/go.mod
  samples/go.sum
  samples/server/confluentinc_kafka.go
Due: Injector, Integration Test Suite

go mod tidy for integration tests
  _integration-tests/go.mod
  _integration-tests/go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

feat: add support for github.com/confluentinc/confluent-kafka-go/v2/kafka
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/confluentinc_confluent-kafka-go.v2/kafka.go
  _integration-tests/tests/suite.generated.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/confluentinc_kafka_v2.go.snap
  internal/injector/builtin/testdata/server/confluentinc_kafka_v2.go.snap
  internal/injector/builtin/yaml/datastreams/confluentinc_kafka_v2.yml
  samples/client/confluentinc_kafka_v2.go
  samples/go.mod
  samples/go.sum
  samples/server/confluentinc_kafka_v2.go
Due: Injector, Integration Test Suite

fix(samples): change copyright header
  samples/client/confluentinc_kafka.go
  samples/client/confluentinc_kafka_v2.go
  samples/server/confluentinc_kafka.go
  samples/server/confluentinc_kafka_v2.go
Due: none

fix(samples): update snap files
  internal/injector/builtin/testdata/client/confluentinc_kafka.go.snap
  internal/injector/builtin/testdata/client/confluentinc_kafka_v2.go.snap
  internal/injector/builtin/testdata/server/confluentinc_kafka.go.snap
  internal/injector/builtin/testdata/server/confluentinc_kafka_v2.go.snap
Due: Injector

fix(integration-tests/confluentinc-kafka): skip on Windows
  _integration-tests/tests/confluentinc_confluent-kafka-go.v2/kafka.go
  _integration-tests/tests/confluentinc_confluent-kafka-go/kafka.go
Due: Integration Test Suite

Harden generate/update workflow
  .github/workflows/validate.yml
Due: none

chore: update generated files
  _integration-tests/go.mod
Due: Integration Test Suite

chore: separate integration tests in its own packages
  _integration-tests/harness.go
  _integration-tests/tests/aws.v1/gen_test.go
  _integration-tests/tests/aws.v2/gen_test.go
  _integration-tests/tests/chi.v5/gen_test.go
  _integration-tests/tests/dd-span/gen_test.go
  _integration-tests/tests/echo.v4/gen_test.go
  _integration-tests/tests/fiber.v2/gen_test.go
  _integration-tests/tests/gin/gen_test.go
  _integration-tests/tests/go-redis.v7/gen_test.go
  _integration-tests/tests/go-redis.v8/gen_test.go
  _integration-tests/tests/go-redis.v9/gen_test.go
  _integration-tests/tests/gocql/gen_test.go
  _integration-tests/tests/gorm.jinzhu/gen_test.go
  _integration-tests/tests/gorm/gen_test.go
  _integration-tests/tests/grpc/gen_test.go
  _integration-tests/tests/ibm_sarama/gen_test.go
  _integration-tests/tests/k8s_client_go/gen_test.go
  _integration-tests/tests/mongo/gen_test.go
  _integration-tests/tests/mux/gen_test.go
  _integration-tests/tests/net_http/gen_test.go
  _integration-tests/tests/os/gen_test.go
  _integration-tests/tests/redigo/gen_test.go
  _integration-tests/tests/shopify_sarama/gen_test.go
  _integration-tests/tests/slog/gen_test.go
  _integration-tests/tests/sql/gen_test.go
  _integration-tests/tests/suite.generated.go
  _integration-tests/tests/suite_test.go
  _integration-tests/tests/vault/gen_test.go
  _integration-tests/utils/generator/main.go
  _integration-tests/utils/suite.go
Due: Generators, Integration Test Suite

Check for absense of failure
  .github/workflows/validate.yml
Due: none

use random port
  _integration-tests/tests/chi.v5/chi.go
  _integration-tests/tests/echo.v4/echo.go
  _integration-tests/tests/fiber.v2/fiber.go
  _integration-tests/tests/gin/gin.go
  _integration-tests/tests/grpc/grpc.go
  _integration-tests/tests/mux/mux.go
  _integration-tests/tests/net_http/net_http.go
  _integration-tests/tests/os/lfi.go
  _integration-tests/utils/net.go
Due: Integration Test Suite

fix os test
  _integration-tests/tests/aws.v1/gen_test.go
  _integration-tests/tests/aws.v2/gen_test.go
  _integration-tests/tests/chi.v5/gen_test.go
  _integration-tests/tests/dd-span/gen_test.go
  _integration-tests/tests/echo.v4/gen_test.go
  _integration-tests/tests/fiber.v2/gen_test.go
  _integration-tests/tests/gin/gen_test.go
  _integration-tests/tests/go-redis.v7/gen_test.go
  _integration-tests/tests/go-redis.v8/gen_test.go
  _integration-tests/tests/go-redis.v9/gen_test.go
  _integration-tests/tests/gocql/gen_test.go
  _integration-tests/tests/gorm.jinzhu/gen_test.go
  _integration-tests/tests/gorm/gen_test.go
  _integration-tests/tests/grpc/gen_test.go
  _integration-tests/tests/ibm_sarama/gen_test.go
  _integration-tests/tests/k8s_client_go/gen_test.go
  _integration-tests/tests/mongo/gen_test.go
  _integration-tests/tests/mux/gen_test.go
  _integration-tests/tests/net_http/gen_test.go
  _integration-tests/tests/os/gen_test.go
  _integration-tests/tests/os/lfi.go
  _integration-tests/tests/redigo/gen_test.go
  _integration-tests/tests/shopify_sarama/gen_test.go
  _integration-tests/tests/slog/gen_test.go
  _integration-tests/tests/sql/gen_test.go
  _integration-tests/tests/vault/gen_test.go
  _integration-tests/utils/generator/main.go
  _integration-tests/utils/net.go
Due: Generators, Integration Test Suite

fix lint
  _integration-tests/tests/net_http/net_http.go
Due: Integration Test Suite

chore: make array expansions empty-safe
  .github/actions/codecov-upload/action.yml
  .github/workflows/validate.yml
Due: none

update generated tests
  _integration-tests/tests/aws.v1/gen_test.go
  _integration-tests/tests/aws.v2/gen_test.go
  _integration-tests/tests/chi.v5/gen_test.go
  _integration-tests/tests/dd-span/gen_test.go
  _integration-tests/tests/echo.v4/gen_test.go
  _integration-tests/tests/fiber.v2/gen_test.go
  _integration-tests/tests/gin/gen_test.go
  _integration-tests/tests/gin/gin.go
  _integration-tests/tests/go-redis.v7/gen_test.go
  _integration-tests/tests/go-redis.v8/gen_test.go
  _integration-tests/tests/go-redis.v9/gen_test.go
  _integration-tests/tests/gocql/gen_test.go
  _integration-tests/tests/gorm.jinzhu/gen_test.go
  _integration-tests/tests/gorm/gen_test.go
  _integration-tests/tests/grpc/gen_test.go
  _integration-tests/tests/ibm_sarama/gen_test.go
  _integration-tests/tests/k8s_client_go/gen_test.go
  _integration-tests/tests/mongo/gen_test.go
  _integration-tests/tests/mux/gen_test.go
  _integration-tests/tests/net_http/gen_test.go
  _integration-tests/tests/os/gen_test.go
  _integration-tests/tests/redigo/gen_test.go
  _integration-tests/tests/shopify_sarama/gen_test.go
  _integration-tests/tests/slog/gen_test.go
  _integration-tests/tests/sql/gen_test.go
  _integration-tests/tests/vault/gen_test.go
  _integration-tests/utils/generator/main.go
  _integration-tests/utils/suite.go
Due: Generators, Integration Test Suite

remove unused code
  _integration-tests/utils/suite.go
Due: Integration Test Suite

fix test
  _integration-tests/tests/gin/gin.go
Due: Integration Test Suite

chore: make array expansions empty-safe (#280)
  .github/actions/codecov-upload/action.yml
  .github/workflows/validate.yml
Due: none

release: v0.8.1-rc.1 (#267)
  .github/workflows/validate.yml
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

chore: separate integration tests in its own packages (#277)
  _integration-tests/integration.go
  _integration-tests/tests/aws.v1/gen_test.go
  _integration-tests/tests/aws.v2/gen_test.go
  _integration-tests/tests/chi.v5/chi.go
  _integration-tests/tests/chi.v5/gen_test.go
  _integration-tests/tests/dd-span/gen_test.go
  _integration-tests/tests/echo.v4/echo.go
  _integration-tests/tests/echo.v4/gen_test.go
  _integration-tests/tests/fiber.v2/fiber.go
  _integration-tests/tests/fiber.v2/gen_test.go
  _integration-tests/tests/gin/gen_test.go
  _integration-tests/tests/gin/gin.go
  _integration-tests/tests/go-redis.v7/gen_test.go
  _integration-tests/tests/go-redis.v8/gen_test.go
  _integration-tests/tests/go-redis.v9/gen_test.go
  _integration-tests/tests/gocql/gen_test.go
  _integration-tests/tests/gorm.jinzhu/gen_test.go
  _integration-tests/tests/gorm/gen_test.go
  _integration-tests/tests/grpc/gen_test.go
  _integration-tests/tests/grpc/grpc.go
  _integration-tests/tests/ibm_sarama/gen_test.go
  _integration-tests/tests/k8s_client_go/gen_test.go
  _integration-tests/tests/mongo/gen_test.go
  _integration-tests/tests/mux/gen_test.go
  _integration-tests/tests/mux/mux.go
  _integration-tests/tests/net_http/gen_test.go
  _integration-tests/tests/net_http/net_http.go
  _integration-tests/tests/os/gen_test.go
  _integration-tests/tests/os/lfi.go
  _integration-tests/tests/redigo/gen_test.go
  _integration-tests/tests/shopify_sarama/gen_test.go
  _integration-tests/tests/slog/gen_test.go
  _integration-tests/tests/sql/gen_test.go
  _integration-tests/tests/suite.generated.go
  _integration-tests/tests/suite_test.go
  _integration-tests/tests/vault/gen_test.go
  _integration-tests/utils/generator/main.go
  _integration-tests/utils/net.go
  _integration-tests/utils/suite.go
Due: Generators, Integration Test Suite

chore: update generated files
  samples/go.mod
  samples/go.sum
Due: none

chore: update generated files
  go.mod
  go.sum
Due: none

fix: CompileCommand may return extraneous files
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.flags.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
  internal/toolexec/proxy/flags.go
  internal/toolexec/proxy/flags_test.go
  internal/toolexec/proxy/generator/main.go
  internal/toolexec/proxy/link.flags.go
  internal/toolexec/proxy/link.go
  internal/toolexec/proxy/link_test.go
  internal/toolexec/proxy/proxy.go
  internal/toolexec/proxy/proxy_test.go
Due: Generators, Toolexec Driver

Forgot some changes
  internal/cmd/toolexec.go
  internal/toolexec/proxy/compile.flags.go
Due: Toolexec Driver

chore: update generated files
  internal/toolexec/proxy/compile.flags.go
Due: Toolexec Driver

Make linter happy
  internal/toolexec/proxy/compile.flags.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
  internal/toolexec/proxy/generator/main.go
  internal/toolexec/proxy/link.flags.go
  internal/toolexec/proxy/link.go
  internal/toolexec/proxy/link_test.go
Due: Generators, Toolexec Driver

Fixup generator
  internal/toolexec/proxy/generator/main.go
Due: Generators, Toolexec Driver

chore: update generated files
  internal/toolexec/proxy/compile.flags.go
  internal/toolexec/proxy/link.flags.go
Due: Toolexec Driver

chore: go implementation for mock agent
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/aws.v1/aws.go
  _integration-tests/tests/aws.v2/base.go
  _integration-tests/tests/chi.v5/chi.go
  _integration-tests/tests/dd-span/no-tag.go
  _integration-tests/tests/dd-span/tag.go
  _integration-tests/tests/echo.v4/echo.go
  _integration-tests/tests/fiber.v2/fiber.go
  _integration-tests/tests/gin/gin.go
  _integration-tests/tests/go-redis.v7/go-redis.go
  _integration-tests/tests/go-redis.v8/go-redis.go
  _integration-tests/tests/go-redis.v9/go-redis.go
  _integration-tests/tests/gocql/base.go
  _integration-tests/tests/gorm.jinzhu/gorm.go
  _integration-tests/tests/gorm/gorm.go
  _integration-tests/tests/ibm_sarama/ibm_sarama.go
  _integration-tests/tests/k8s_client_go/base.go
  _integration-tests/tests/mongo/mongo.go
  _integration-tests/tests/mux/mux.go
  _integration-tests/tests/net_http/net_http.go
  _integration-tests/tests/os/lfi.go
  _integration-tests/tests/redigo/redigo.go
  _integration-tests/tests/shopify_sarama/shopify_sarama.go
  _integration-tests/tests/sql/sql.go
  _integration-tests/tests/vault/vault.go
  _integration-tests/utils/agent/agent.go
  _integration-tests/utils/agent/requirements.txt
  _integration-tests/utils/suite.go
  _integration-tests/utils/testcontainers/containerlogs.go
  _integration-tests/utils/testcontainers/testcontainers.go
  _integration-tests/validator/trace/raw.go
  _integration-tests/validator/trace/span.go
  _integration-tests/validator/trace/testdata/missing-child/diff.txt
Due: Integration Test Suite

fix lint
  _integration-tests/utils/agent/agent.go
  _integration-tests/validator/trace/raw.go
Due: Integration Test Suite

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Integration Test Suite: any of: _integration-tests/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
