Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

fix RequireAnyMatch
  _integration-tests/tests/segmentio_kafka.v0/segmentio_kafka.go
  _integration-tests/utils/suite.go
  _integration-tests/validator/trace/diff.go
  _integration-tests/validator/trace/diff_test.go
Due: Integration Test Suite

ctx gets modified
  _integration-tests/tests/segmentio_kafka.v0/segmentio_kafka.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/datastreams/segmentio_kafka_v0.yml
Due: Injector, Integration Test Suite

fix sibling spans issue
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/segmentio_kafka.v0/segmentio_kafka.go
  _integration-tests/utils/suite.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/datastreams/segmentio_kafka_v0.yml
Due: Injector, Integration Test Suite

chore: update generated files
  internal/injector/builtin/generated.go
Due: Injector

add more benchmarks
  main_test.go
Due: none

misc fixes
  .github/workflows/validate.yml
Due: none

increase timeout
  .github/workflows/validate.yml
Due: none

Linter fix
  main_test.go
Due: none

chore: add benchmark to measure cost of use (#292)
  .github/workflows/validate.yml
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  main_test.go
  samples/go.mod
  samples/go.sum
  tools.go
Due: Integration Test Suite

add copyright header
  _integration-tests/validator/trace/diff_test.go
Due: Integration Test Suite

chore: update generated files
  samples/go.sum
Due: none

feat: instrument source files in parallel
  internal/injector/aspect/context/node.go
  internal/injector/injector.go
  internal/injector/restorer.go
  internal/jobserver/pkgs/resolve.go
Due: Aspects, Injector, Job Server

Fix race
  internal/injector/injector.go
  internal/injector/restorer.go
Due: Injector

feat: instrument source files in parallel (#302)
  internal/injector/aspect/context/node.go
  internal/injector/injector.go
  internal/injector/restorer.go
  internal/jobserver/pkgs/resolve.go
Due: Aspects, Injector, Job Server

chore: reduce allocations in injector
  internal/injector/aspect/context/node.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/struct.go
  internal/injector/injector.go
Due: Aspects, Injector

Make linter happy
  internal/injector/aspect/context/node.go
Due: Aspects, Injector

update go.mod
  samples/go.mod
  samples/go.sum
Due: none

Fix more documentation links
  _integration-tests/utils/suite.go
  internal/ensure/integration/main.go
  internal/injector/aspect/advice/code/generator/main.go
  internal/injector/lineinfo/annotation.go
  internal/jobserver/pkgs/resolve.go
Due: Generators, Aspects, Injector, Job Server, Integration Test Suite

Also reduce AST traversal context allocations
  internal/injector/aspect/advice/code/dot_directive.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/advice/wrap.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/context/node.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/struct.go
  internal/injector/injector.go
Due: Aspects, Injector

chore: update generated files
  _integration-tests/go.mod
Due: Integration Test Suite

feat: support for GraphQL integrations
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/99designs.gqlgen/gen_test.go
  _integration-tests/tests/99designs.gqlgen/gqlgen.go
  _integration-tests/tests/graph-gophers/gen_test.go
  _integration-tests/tests/graph-gophers/graphql-go.go
  _integration-tests/tests/graphql-go/gen_test.go
  _integration-tests/tests/graphql-go/graphql.go
  go.mod
  go.sum
  internal/injector/aspect/advice/call.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/server/graphql.go.snap
  internal/injector/builtin/yaml/graphql/gqlgen.yml
  internal/injector/builtin/yaml/graphql/graph-gophers.yml
  internal/injector/builtin/yaml/graphql/graphql-go.yml
  internal/injector/lineinfo/canonicalize.go
  samples/go.mod
  samples/go.sum
  samples/server/graphql.go
Due: Aspects, Injector, Integration Test Suite

chore: update generated files
  samples/go.mod
Due: none

docs: getting started with orchestrion built-in profiling
  docs/content/contributing/performance.md
Due: none

Add references
  docs/content/contributing/performance.md
Due: none

docs: getting started with orchestrion built-in profiling (#311)
  docs/content/contributing/performance.md
Due: none

Linter fixes
  _integration-tests/tests/99designs.gqlgen/gqlgen.go
  _integration-tests/tests/graph-gophers/graphql-go.go
  _integration-tests/tests/graphql-go/graphql.go
Due: Integration Test Suite

fix lint
  _integration-tests/tests/gcp_pubsub/gcp_pubsub.go
  _integration-tests/tests/go-redis.v9/go-redis.go
  _integration-tests/validator/trace/trace.go
Due: Integration Test Suite

feat: add support go-redis/redis.v0
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/go-redis.v0/gen_test.go
  _integration-tests/tests/go-redis.v0/go-redis.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/redis.go.snap
  internal/injector/builtin/yaml/databases/go-redis.yml
  samples/client/redis.go
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Test Suite

chore: update generated files
  go.mod
  go.sum
Due: none

feat: code adapted to last dd-trace-go implementation
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/confluentinc_confluent-kafka-go.v2/gen_test.go
  _integration-tests/tests/confluentinc_confluent-kafka-go/gen_test.go
  _integration-tests/tests/confluentinc_confluent-kafka-go/kafka.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/confluentinc_kafka.go.snap
  internal/injector/builtin/testdata/server/confluentinc_kafka.go.snap
  internal/injector/builtin/yaml/datastreams/confluentinc_kafka.yml
  samples/server/confluentinc_kafka.go
Due: Injector, Integration Test Suite

feat: add support go-redis/redis.v0 (#312)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/go-redis.v0/gen_test.go
  _integration-tests/tests/go-redis.v0/go-redis.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/redis.go.snap
  internal/injector/builtin/yaml/databases/go-redis.yml
  samples/client/redis.go
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Test Suite

chore: reduce allocations in injector (#303)
  _integration-tests/utils/suite.go
  internal/ensure/integration/main.go
  internal/injector/aspect/advice/code/dot_directive.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/code/generator/main.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/advice/wrap.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/context/node.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/struct.go
  internal/injector/injector.go
  internal/injector/lineinfo/annotation.go
  internal/jobserver/pkgs/resolve.go
Due: Generators, Aspects, Injector, Job Server, Integration Test Suite

chore: allow validation to run for ALL commits on push
  .github/workflows/validate.yml
Due: none

fix(injector): nil-dereference on a specific import order
  internal/injector/imports.go
  internal/injector/imports_test.go
  internal/injector/write.go
Due: Injector

fix(injector): potential data-race
  internal/injector/injector.go
Due: Injector
