Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Integration Tests

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 15
    wait_for_ci: true

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

comment:
  require_changes: true

component_management:
  individual_components:
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: integration-tests
      name: Integration Tests
      paths: [_integration-tests/**]

rework to pedantic operations
  _integration-tests/tests/os/lfi.go
  _integration-tests/tests/suite.generated.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/stdlib/ossec.yml
Due: Injector, Integration Tests

trying to debug the injector
  _integration-tests/tests/os/lfi.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/ossec.yml
Due: Injector, Integration Tests

refactor tests
  _integration-tests/tests/os/lfi.go
  _integration-tests/tests/testdata/rasp.json
  _integration-tests/utils/generator/main.go
Due: Integration Tests

Add workflow parameter + refactor OpenOperationRes
  .github/workflows/workflow_call.yml
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/ossec.yml
Due: Injector

switch back the dd-apm-test-agent to the main branch
  _integration-tests/utils/agent/requirements.txt
Due: Integration Tests

release: v0.7.4 (#237)
  internal/version/version.go
Due: none

docs: mention new integrations in README.md
  README.md
Due: none

docs: mention new integrations in README.md (#239)
  README.md
Due: none

Manually trigger codecov notification
  .github/workflows/generate.yml
  .github/workflows/validate.yml
  codecov.yml
Due: none

Fix off-by-1 error
  internal/goflags/flags.go
Due: Go Driver

Tweak naming & codecov config a little
  .github/workflows/validate.yml
  codecov.yml
Due: none

Allow dependabot to also update the requirements.txt file
  .github/dependabot.yml
Due: none

Deep-freeze pip dependencies
  _integration-tests/utils/agent/requirements.txt
Due: Integration Tests

Stop generating a restorer map, it's no longer used
  internal/injector/builtin/generated.go
  internal/injector/builtin/generator/main.go
Due: Injector

feat: improved line information preservation (#231)
  internal/goflags/flags.go
  internal/injector/builtin/testdata/client/aws.go.snap
  internal/injector/builtin/testdata/client/gorm.go.snap
  internal/injector/builtin/testdata/client/grpc.go.snap
  internal/injector/builtin/testdata/client/http.go.snap
  internal/injector/builtin/testdata/client/ibm_sarama.go.snap
  internal/injector/builtin/testdata/client/main.go.snap
  internal/injector/builtin/testdata/client/mongo.go.snap
  internal/injector/builtin/testdata/client/redis.go.snap
  internal/injector/builtin/testdata/client/shopify_sarama.go.snap
  internal/injector/builtin/testdata/client/vault.go.snap
  internal/injector/builtin/testdata/server/chiv5.go.snap
  internal/injector/builtin/testdata/server/database.go.snap
  internal/injector/builtin/testdata/server/echov4.go.snap
  internal/injector/builtin/testdata/server/fiberv2.go.snap
  internal/injector/builtin/testdata/server/gin.go.snap
  internal/injector/builtin/testdata/server/gorilla.go.snap
  internal/injector/builtin/testdata/server/grpc.go.snap
  internal/injector/builtin/testdata/server/ibm_sarama.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/testdata/server/other_handlers.go.snap
  internal/injector/builtin/testdata/server/shopify_sarama.go.snap
  internal/injector/injector.go
  internal/injector/lineinfo/annotation.go
  internal/injector/lineinfo/canonicalize.go
  internal/injector/lineinfo/lineinfo.go
  internal/injector/testdata/injector/chi5-newroute-dotimport/expected.diff
  internal/injector/testdata/injector/chi5-newroute/expected.diff
  internal/injector/testdata/injector/database-sql/expected.diff
  internal/injector/testdata/injector/directive/expected.diff
  internal/injector/testdata/injector/grpc/expected.diff
  internal/injector/testdata/injector/http-line-info/expected.diff
  internal/injector/testdata/injector/http-server/expected.diff
  internal/injector/testdata/injector/name-conflict/expected.diff
  internal/injector/testdata/injector/redigo/expected.diff
  internal/toolexec/aspect/oncompile.go
Due: Go Driver, Toolexec Driver, Injector

Fix codecov URL
  .github/workflows/validate.yml
Due: none

Update requirements.txt
  _integration-tests/utils/agent/requirements.txt
Due: Integration Tests

Typofix
  .github/workflows/validate.yml
Due: none

Fix remaining requirements.txt vulnerable dependencies
  _integration-tests/utils/agent/requirements.txt
Due: Integration Tests

Drop dead code
  internal/injector/builtin/generator/doc.go
Due: Injector

Remove cruft from requirements.txt file
  .github/workflows/validate.yml
  .github/workflows/workflow_call.yml
  _integration-tests/utils/agent/requirements.txt
Due: Integration Tests

Use codecov-recommended commands
  .github/workflows/validate.yml
Due: none

Unpack in PWD
  .github/workflows/validate.yml
Due: none

go generate
  _integration-tests/tests/os/lfi.go
  _integration-tests/tests/suite.generated.go
Due: Integration Tests

Do a checkout before trying to trigger notifications
  .github/workflows/validate.yml
Due: none

Explicitly specify parameters
  .github/workflows/validate.yml
Due: none

Fix conditionals, FFS!
  .github/workflows/validate.yml
Due: none

Update validate.yml
  .github/workflows/validate.yml
Due: none

Switch to updated branch
  .github/workflows/deps-update.yml
Due: none

Remove unnecessary blank import of unsafe
  internal/injector/imports.go
Due: Injector

Remove receiver from parseFile(s) functions
  internal/injector/injector.go
  internal/injector/parse.go
Due: Injector

Remove gccgo support (untested)
  internal/injector/restorer.go
  internal/injector/restorer_gc.go
  internal/injector/restorer_unsupported.go
Due: Injector

feat: support `//dd:span` directive on context-less functions (#225)
  _integration-tests/tests/chi.v5/chi.go
  _integration-tests/tests/dd-span/ddspan.go
  _integration-tests/tests/dd-span/no-tag.go
  _integration-tests/tests/dd-span/tag.go
  _integration-tests/tests/echo.v4/echo.go
  _integration-tests/tests/fiber.v2/fiber.go
  _integration-tests/tests/gin/gin.go
  _integration-tests/tests/grpc/server.go
  _integration-tests/tests/k8s_client_go/common.go
  _integration-tests/tests/mux/mux.go
  _integration-tests/tests/net_http/net_http.go
  _integration-tests/validator/trace/diff.go
  docs/content/contributing/aspects/code-templates.md
  docs/static/schema.json
  internal/injector/aspect/advice/code/dot_findargument.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/integration_test.go
  internal/injector/builtin/testdata/client/http.go.snap
  internal/injector/builtin/testdata/server/other_handlers.go.snap
  internal/injector/builtin/yaml/datastreams/ibm_sarama.yml
  internal/injector/builtin/yaml/datastreams/shopify_sarama.yml
  internal/injector/builtin/yaml/dd-span.yml
  internal/injector/builtin/yaml/http/gorilla.yml
  internal/injector/builtin/yaml/stdlib/net-http.client.yml
  internal/injector/testdata/injector/access-return-value/config.yml
  internal/injector/testdata/injector/access-return-value/expected.diff
  internal/injector/testdata/injector/directive/config.yml
  samples/server/other_handlers.go
Due: Aspects, Injector, Integration Tests

Apply suggestions from code review
  internal/injector/injector.go
Due: Injector

Remove redundant precondition in post-order DST traversal
  internal/injector/injector.go
Due: Injector

add support for aws-sdk-go-v2
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/aws.v2/base.go
  _integration-tests/tests/aws.v2/load_default_config.go
  _integration-tests/tests/aws.v2/struct_literal.go
  _integration-tests/tests/suite.generated.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/aws_v2.go.snap
  internal/injector/builtin/yaml/cloud/aws-sdk-v2.yml
  samples/client/aws_v2.go
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Tests

update snapshot
  internal/injector/builtin/testdata/client/aws_v2.go.snap
Due: Injector

chore: update generated files
  go.mod
  go.sum
Due: none

Try out gccgo
  .github/workflows/validate.yml
  internal/injector/restorer.go
  internal/injector/restorer_gc.go
  internal/injector/restorer_unsupported.go
Due: Injector

add copyright header
  internal/injector/builtin/testdata/client/aws_v2.go.snap
  samples/client/aws_v2.go
Due: Injector
