Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Test Harness

codecov.yml:

---
ignore:
  - '**/generator/main.go' # Generators are not actually part of the product
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

comment:
  after_n_builds: 9 # Generators + Unit Tests (2 entries) + Integration Tests (6 entries)
  require_changes: true

component_management:
  individual_components:
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: test-harness
      name: Test Harness
      paths: [_integration-tests/**]

chore: collect coverage when running generators (#121)
  .github/workflows/generate.yml
  .github/workflows/tests.yml
  codecov.yml
Due: none

chore: remove append-statements advice (unused)
  codecov.yml
  internal/injector/aspect/advice/append.go
Due: Aspects, Injector

chore: add test coverage for goenv package
  internal/goenv/goenv.go
  internal/goenv/goenv_test.go
Due: Go Driver

chore: stop using syscall.Exec, as it prevents coverage collection
  codecov.yml
  integration-tests.ps1
  internal/goproxy/proxy.go
Due: Go Driver

chore: remove some dead code
  internal/goproxy/proxy.go
  internal/toolexec/examples/add-go-file.go
  internal/toolexec/examples/list-go-files.go
  internal/toolexec/examples/replace-go-file.go
  internal/toolexec/utils/utils.go
  main.go
Due: Go Driver, Toolexec Driver

Update internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function.go
Due: Aspects, Injector

release: v0.7.1
  internal/version/version.go
Due: none

chore: test on go1.23-rc.1
  .github/workflows/tests.yml
Due: none

Use stable as go-version in workflows where it is not important
  .github/workflows/generate.yml
  .github/workflows/tests.yml
Due: none

Use correct version string
  .github/workflows/tests.yml
Due: none

Use simple go version, always
  .github/workflows/tests.yml
Due: none

chore: set up dependabot
  .github/dependabot.yml
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: Test Harness

chore: test on go1.23-rc.1 (#122)
  .github/workflows/generate.yml
  .github/workflows/tests.yml
Due: none

chore: add unit test for autoPinOrchestrion / pinOrchestrion
  pin_test.go
Due: none

fix: missing `link.deps` records cause link-time error
  .github/workflows/tests.yml
  _integration-tests/gls/access.go
  _integration-tests/gls/access_test.go
  internal/injector/aspect/advice/assign.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/directive.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/directive/orchestrion-enabled.yml
  internal/injector/builtin/yaml/stdlib/runtime.yml
  internal/injector/injector.go
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
Due: Toolexec Driver, Aspects, Injector, Test Harness

Separate coverage files, so they are rm-rf safe
  .github/workflows/tests.yml
Due: none

Fix order of options to go run
  .github/workflows/tests.yml
Due: none

Make coverdir path absolute
  .github/workflows/tests.yml
Due: none

explicitly use bash (windows durrrr)
  .github/workflows/tests.yml
Due: none

Fixup broken matrix
  .github/workflows/tests.yml
Due: none

Mkdir -p
  .github/workflows/tests.yml
Due: none

Add build mode to artifact name
  .github/workflows/tests.yml
Due: none

Normalize golden stuff manually
  _integration-tests/validator/trace/span_test.go
Due: Test Harness

Try to use regex instead
  _integration-tests/validator/trace/span_test.go
Due: Test Harness

use assert bytes?
  _integration-tests/validator/trace/span_test.go
Due: Test Harness

Trim spaces
  _integration-tests/validator/trace/span_test.go
  _integration-tests/validator/trace/testdata/missing-child/diff.txt
  _integration-tests/validator/trace/testdata/missing-children/diff.txt
Due: Test Harness

use gitattributes
  _integration-tests/validator/trace/testdata/.gitattributes
Due: Test Harness

Powershell is really annoying
  .github/workflows/tests.yml
Due: none

chore: update generated files
  _integration-tests/go.mod
Due: Test Harness

Add missing tags
  .github/workflows/tests.yml
Due: none

Use absolute coverage dir
  .github/workflows/tests.yml
Due: none

Skip coverage of integration tests themselves, due to https://github.com/golang/go/issues/68212
  .github/workflows/tests.yml
  _integration-tests/go.mod
Due: Test Harness

restore go.mod file that was mistakenly deleted
  _integration-tests/go.mod
Due: Test Harness

Fix broken tests
  .github/workflows/tests.yml
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/redigo/main.go
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: Test Harness

Shuffle tests
  .github/workflows/tests.yml
  _integration-tests/tests/chi.v5/main.go
  _integration-tests/tests/echo.v4/main.go
  _integration-tests/tests/fiber.v2/main.go
  _integration-tests/tests/grpc/main.go
  _integration-tests/utils/agent/agent.go
Due: Test Harness

unify directive primitives
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/function.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/dd-span.yml
  internal/injector/testdata/injector.yml
Due: Aspects, Injector

Extract lookupDecoratedFile function
  internal/injector/injector.go
Due: Injector

Simplify error join
  internal/injector/injector.go
Due: Injector

try to add -a to go test
  .github/workflows/tests.yml
Due: none
