Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

chore(docs): add version compatibility matrix
  _docs/content/docs/getting-started.md
Due: none

chore: upgrade dd-trace-go to v1.73.1
  _docs/go.mod
  _docs/go.sum
  instrument/go.mod
  instrument/go.sum
  internal/pin/pin.go
  samples/go.mod
  samples/go.sum
Due: Instruments

release: v1.4.0
  internal/version/version.go
Due: none

chore: update generated files
  _docs/go.mod
  instrument/go.mod
  samples/go.mod
Due: Instruments

release: v1.4.0 (#627)
  _docs/go.mod
  _docs/go.sum
  instrument/go.mod
  instrument/go.sum
  internal/pin/pin.go
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

feat(injector): Support generic join point types
  internal/injector/aspect/join/join.go
Due: Aspects, Injector

Add tests for Matches()
  internal/injector/aspect/join/join_test.go
Due: Aspects, Injector

feat(cmd): orchestrion diff
  internal/cmd/diff.go
  internal/toolexec/aspect/oncompile.go
  main.go
Due: Toolexec Driver

fix misconception about original file placement in fs
  internal/cmd/diff.go
  internal/injector/parse/mappedfilename.go
  internal/injector/parse/parse_test.go
  internal/injector/parse/parser.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Injector

move code to the report package
  internal/cmd/diff.go
  internal/report/report.go
Due: none

wip
  internal/cmd/diff.go
  internal/report/report.go
Due: none

feat(injector): Support generic join point types (#628)
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/join_test.go
Due: Aspects, Injector

chore: Address review issues
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/code/dot_function_test.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/context/context.go
  internal/injector/injector.go
Due: Aspects, Injector

feat(injector): add ability to find function results implementing an interface
  .gitignore
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/code/dot_function_test.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/context/context_test.go
  internal/injector/injector.go
  internal/injector/testdata/injector/result-implements/config.yml
  internal/injector/testdata/injector/result-implements/modified.go.snap
Due: Aspects, Injector

feat(injector): Add FinalResultImplements method to check interface implementation
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/testdata/injector/result-implements/config.yml
  internal/injector/testdata/injector/result-implements/modified.go.snap
Due: Aspects, Injector

chore: Address review comments
  internal/injector/aspect/advice/code/dot_function.go
Due: Aspects, Injector

test with sourcegraph lib
  go.mod
  go.sum
  internal/cmd/diff.go
  internal/report/report.go
Due: none

feat(injector/join): Introduce finalResultImplements for final return value interface matching
  internal/injector/aspect/join/function.go
  internal/injector/testdata/injector/result-implements-join/config.yml
  internal/injector/testdata/injector/result-implements-join/modified.go.snap
Due: Aspects, Injector

feat(injector/join): add 'return-implements' function join point
  internal/injector/aspect/advice/code/dot.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/join/function.go
  internal/injector/testdata/injector/return-implements/config.yml
  internal/injector/testdata/injector/return-implements/modified.go.snap
  internal/injector/typed/refmap.go
  internal/injector/typed/typecheck.go
  internal/injector/typed/typecheck_test.go
Due: Aspects, Injector

chore: Address review comments
  internal/injector/aspect/join/function.go
  internal/injector/testdata/injector/result-implements-aspect/config.yml
  internal/injector/testdata/injector/result-implements-aspect/modified.go.snap
  internal/injector/testdata/injector/result-implements-join/config.yml
  internal/injector/testdata/injector/result-implements-join/modified.go.snap
  internal/injector/typed/typecheck.go
Due: Aspects, Injector

refactor(injector): Refactor TypeName handling and migrate to typed package
  _docs/generator/template-funcs.go
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/call_test.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/struct.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/struct.go
  internal/injector/config/builtin.go
  internal/injector/typed/typename.go
  internal/injector/typed/typename_test.go
Due: Generators, Aspects, Injector

feat(injector): Add support for generic types in result-implements join points
  internal/injector/aspect/context/context.go
  internal/injector/check.go
  internal/injector/testdata/injector/result-implements-join/config.yml
  internal/injector/testdata/injector/result-implements-join/modified.go.snap
  internal/injector/typed/typecheck.go
Due: Aspects, Injector

test with the diff binary
  go.mod
  go.sum
  internal/cmd/diff.go
  internal/report/report.go
Due: none

reduce the diff
  internal/report/report.go
Due: none

chore: Address review comments requires minor changes
  internal/injector/aspect/advice/call_test.go
  internal/injector/config/builtin.go
  internal/injector/typed/typename.go
Due: Aspects, Injector

support --package
  internal/cmd/diff.go
  internal/report/report.go
Due: none

better error reporting
  internal/report/report.go
Due: none

feat(injector/typed): add interface-based type system with parser
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/call_test.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/struct.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/aspect/join/struct.go
  internal/injector/typed/array.go
  internal/injector/typed/array_test.go
  internal/injector/typed/benchmark_test.go
  internal/injector/typed/doc/PARSER_BENCHMARK_RESULTS.md
  internal/injector/typed/doc/benchstat_detailed.txt
  internal/injector/typed/doc/combined_benchmarks.txt
  internal/injector/typed/map.go
  internal/injector/typed/map_test.go
  internal/injector/typed/namedtype.go
  internal/injector/typed/namedtype_test.go
  internal/injector/typed/parse_test.go
  internal/injector/typed/parser.go
  internal/injector/typed/pointer.go
  internal/injector/typed/pointer_test.go
  internal/injector/typed/slice.go
  internal/injector/typed/slice_test.go
  internal/injector/typed/type.go
  internal/injector/typed/type_test.go
  internal/injector/typed/typed.go
  internal/injector/typed/typename.go
  internal/injector/typed/typename_test.go
Due: Aspects, Injector

perf(injector/typed): remove regex-based parsing and document improvements
  internal/injector/typed/benchmark_test.go
  internal/injector/typed/doc/PARSER_BENCHMARK_RESULTS.md
  internal/injector/typed/doc/benchstat_detailed.txt
  internal/injector/typed/doc/combined_benchmarks.txt
Due: Injector

chore: Address review comments
  internal/injector/typed/typecheck.go
Due: Injector

refactor(injector/typed): Refactor ResolveInterfaceTypeByName for improved clarity and error handling
  internal/injector/typed/typecheck.go
Due: Injector

feat(injector): Add ArgumentThatImplements method for argument interface matching
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/join/function.go
  internal/injector/testdata/injector/argument-implements-join/config.yml
  internal/injector/testdata/injector/argument-implements-join/modified.go.snap
  internal/injector/testdata/injector/argument-implements/config.yml
  internal/injector/testdata/injector/argument-implements/modified.go.snap
  internal/injector/typed/typecheck.go
Due: Aspects, Injector

feat(injector/typed): Enhance type checking with additional generic type test cases
  internal/injector/typed/typecheck.go
  internal/injector/typed/typecheck_test.go
Due: Injector

add special case for synthetic path
  internal/report/report.go
Due: none

rework report to use fs.FS when possible
  go.mod
  go.sum
  internal/injector/parse/mappedfilename.go
  internal/report/report.go
  internal/report/report_test.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Injector

chore: update generated files
  _docs/go.sum
  instrument/go.sum
  samples/go.sum
Due: Instruments

chore: use GitHub App instead of PAT
  .github/workflows/deps-update.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/validate.yml
Due: none

chore: update some dependencies
  go.mod
  go.sum
Due: none

Stop setting GOTOOLCHAIN in update-deps workflow as it breaks evaluating dependencies to choose the correct one
  .github/workflows/deps-update.yml
Due: none

chore: use GitHub App instead of PAT (#637)
  .github/workflows/deps-update.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/validate.yml
  LICENSE-3rdparty.csv
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments
