Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

fix lint
  _integration-tests/tests/go-elasticsearch/v6.go
  _integration-tests/tests/go-elasticsearch/v7.go
  _integration-tests/tests/go-elasticsearch/v8.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/databases/go-elasticsearch.yml
Due: Injector, Integration Test Suite

update snapshots
  internal/injector/builtin/testdata/client/elasticsearch.go.snap
Due: Injector

feat: support github.com/jackc/pgx/v5 (#342)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/pgx/gen_test.go
  _integration-tests/tests/pgx/pgx.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/pgx.go.snap
  internal/injector/builtin/yaml/databases/pgx.yml
  samples/client/pgx.go
  samples/go.mod
Due: Injector, Integration Test Suite

update samples
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/client/redis.go.snap
  internal/injector/builtin/yaml/databases/redigo.yml
  internal/injector/testdata/injector/redigo/config.yml
  internal/injector/testdata/injector/redigo/expected.diff
  samples/client/redis.go
Due: Injector

remove trailing whitespace in diff
  internal/injector/testdata/injector/redigo/expected.diff
Due: Injector

used tagged version
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

use rc version
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/datastreams/confluentinc_kafka.yml
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Test Suite

chore: use larger runners for linux integration tests
  .github/workflows/validate.yml
Due: none

Fix condition on dockerd start
  .github/workflows/validate.yml
Due: none

Expose github_token env var to benchmarks
  .github/workflows/validate.yml
Due: none

Install docker
  .github/workflows/validate.yml
Due: none

Also register docker's apt repository
  .github/workflows/validate.yml
Due: none

Add runner user to docker group
  .github/workflows/validate.yml
Due: none

Remove -v from tests execution
  .github/workflows/validate.yml
Due: none

Change permissions on docker socket
  .github/workflows/validate.yml
Due: none

Set default --platform value explicitly
  .github/workflows/validate.yml
Due: none

Explicitly enable CGO, install build-essential
  .github/workflows/validate.yml
Due: none

Use arm64-compatible pubsub emulator image
  _integration-tests/tests/gcp_pubsub/gcp_pubsub.go
Due: Integration Test Suite

address review comments
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/server/twirp.go.snap
  internal/injector/builtin/yaml/rpc/twirp.yml
  samples/go.mod
  samples/server/twirp.go
Due: Injector

Remove unnecessary customization attempt
  _integration-tests/tests/gcp_pubsub/gcp_pubsub.go
Due: Integration Test Suite

Setup rust toolchain so codecov cli stuff can install
  .github/actions/codecov-cli/action.yml
Due: none

release: v0.9.4-rc.1
  go.mod
  go.sum
  internal/version/version.go
Due: none

chore: update generated files
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

feat(README.md): document jackc/pgx support
  README.md
Due: none

feat(README.md): fix jackc/pgx link
  README.md
Due: none

fix(toolexec): don't try to go get orchestrion itself
  internal/toolexec/version_test.go
Due: Toolexec Driver

Rollback to known good codecov cli version
  .github/actions/codecov-cli/action.yml
  .github/workflows/validate.yml
Due: none

testing workaround
  .github/workflows/validate.yml
Due: none

Rename to requirements-dev.txt and pin codecov-cli package
  .github/actions/codecov-cli/action.yml
  .github/actions/codecov-cli/requirements-dev.txt
  .github/dependabot.yml
  _integration-tests/utils/agent/agent.go
  _integration-tests/utils/agent/requirements-dev.txt
Due: Integration Test Suite

Fix python deps path
  .github/actions/codecov-cli/action.yml
  .github/workflows/validate.yml
  .github/workflows/workflow_call.yml
  _integration-tests/README.md
Due: Integration Test Suite

chore: use larger runners for linux integration tests (#353)
  .github/actions/codecov-cli/action.yml
  .github/actions/codecov-cli/requirements-dev.txt
  .github/dependabot.yml
  .github/workflows/validate.yml
  .github/workflows/workflow_call.yml
  _integration-tests/README.md
  _integration-tests/tests/gcp_pubsub/gcp_pubsub.go
  _integration-tests/utils/agent/agent.go
  _integration-tests/utils/agent/requirements-dev.txt
Due: Integration Test Suite

remove env variable
  .github/workflows/validate.yml
Due: none

try another workaround
  .github/workflows/validate.yml
Due: none

try skipping packages with a large number of files
  .github/workflows/validate.yml
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/databases/go-elasticsearch.yml
Due: Injector

feat: code templates can declare require go langage level
  docs/content/contributing/aspects/code-templates.md
  docs/static/schema.json
  internal/injector/aspect/advice/assign.go
  internal/injector/aspect/advice/block.go
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/call_test.go
  internal/injector/aspect/advice/code/template.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/advice/inject.go
  internal/injector/aspect/advice/wrap.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/context/golang.go
  internal/injector/aspect/context/golang_test.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/integration_test.go
  internal/injector/injector.go
  internal/injector/injector_test.go
  internal/injector/testdata/injector/lang-level/config.yml
  internal/injector/testdata/injector/lang-level/expected.diff
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
  internal/toolexec/proxy/proxy.go
Due: Toolexec Driver, Aspects, Injector

Make linter happy
  internal/injector/aspect/context/context.go
  internal/injector/injector.go
Due: Aspects, Injector

Make linter happy again
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
Due: Toolexec Driver

chore: update generated files
  internal/injector/builtin/generated.go
Due: Injector

testing
  .github/workflows/validate.yml
Due: none

change filename
  .github/workflows/validate.yml
Due: none

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Integration Test Suite: any of: _integration-tests/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
