Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server

fix(toolexec): forward unknown tool flags instead of failing (#899)
  internal/toolexec/proxy/compile.flags.go
  internal/toolexec/proxy/compile_test.go
  internal/toolexec/proxy/flags.go
  internal/toolexec/proxy/flags_test.go
  internal/toolexec/proxy/generator/main.go
  internal/toolexec/proxy/link.flags.go
  internal/toolexec/proxy/link_test.go
Due: Generators, Toolexec Driver

refactor(runtime/context): propagate context in newproc
  internal/injector/aspect/join/goroutine.go
  internal/injector/config/builtin_context_test.go
  internal/injector/config/config_test.go
  internal/injector/config/schema.json
  internal/injector/testdata/injector/go-statement-call-negated/config.yml
  internal/injector/testdata/injector/go-statement-call-negated/modified.go.snap
  internal/injector/testdata/injector/go-statement-call/config.yml
  internal/injector/testdata/injector/go-statement-call/modified.go.snap
  internal/injector/testdata/injector/runtime-gls/config.yml
  internal/injector/testdata/injector/runtime-gls/modified.go.snap
  main_test.go
  runtime/context/api.go
  runtime/context/api_test.go
  runtime/context/contexttest/contexttest.go
  runtime/context/doc.go
  runtime/context/gls.go
  runtime/context/goroutine.go
  runtime/context/goroutine_bench_test.go
  runtime/context/goroutine_test.go
  runtime/context/mutex.go
  runtime/context/orchestrion.yml
  runtime/context/registry.go
  runtime/context/registry_test.go
Due: Aspects, Injector

refactor(jobserver): split NBT service tests
  internal/jobserver/nbt/nbt.go
  internal/jobserver/nbt/nbt_start_test.go
  internal/jobserver/nbt/nbt_test.go
Due: Job Server

refactor(jobserver): separate resolve request handling
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/resolve_request.go
Due: Job Server

refactor(proxy): remove redundant compile comments
  internal/toolexec/proxy/compile.go
Due: Toolexec Driver

test(e2e): simplify compile loop fixture
  test/e2e/README.md
  test/e2e/compileloop_test.go
  test/e2e/testdata/compileloop/orchestrion.yml
Due: none

fix(jobserver): reject cyclic never-build-twice waits (#897)
  internal/jobserver/nbt/nbt.go
  internal/jobserver/nbt/nbt_start_test.go
  internal/jobserver/nbt/nbt_test.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/resolve_request.go
  internal/toolexec/proxy/compile.go
  test/e2e/README.md
  test/e2e/compileloop_test.go
  test/e2e/testdata/compileloop/go.mod
  test/e2e/testdata/compileloop/go.sum
  test/e2e/testdata/compileloop/main.go
  test/e2e/testdata/compileloop/orchestrion.tool.go
  test/e2e/testdata/compileloop/orchestrion.yml
  test/e2e/testdata/compileloop/tracer/tracer.go
  test/e2e/testdata/compileloop/victim/victim.go
Due: Toolexec Driver, Job Server

release: v1.14.0-rc.1
  LICENSE-3rdparty.csv
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

fix(_docs): render method-call join points in the doc generator
  _docs/generator/doc.join.method-call.tmpl
  _docs/generator/tools.go
  _docs/go.mod
Due: Generators

fix(pin): sync the enclosing go.work with the module's go directive
  internal/gomod/workspace.go
  internal/gomod/workspace_test.go
  internal/pin/pin.go
Due: Go Driver

release: v1.13.1
  internal/version/version.go
Due: none

fix(pin): sync the enclosing go.work with the module's go directive (#902)
  internal/gomod/workspace.go
  internal/gomod/workspace_test.go
  internal/pin/pin.go
Due: Go Driver

fix(pin): avoid inconsistent vendoring failure in pruneImports (#886)
  internal/goenv/goenv.go
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/injector/config/config_test.go
  internal/pin/pin.go
  internal/pin/pin_test.go
  internal/pin/testdata/relative-replace/dep/go.mod
Due: Go Driver, Injector

ci(validate): limit merge-queue unit tests to ubuntu runners
  .github/workflows/validate.yml
Due: none

fix(ci): limit merge-queue unit tests to ubuntu runners (#904)
  .github/workflows/validate.yml
Due: none

test(samples): update snapshots for the crashtracker integration
  samples/testdata/client/main.go.snap
  samples/testdata/server/main.go.snap
Due: none

release: v1.13.1 (#903)
  _docs/go.mod
  instrument/go.mod
  internal/version/version.go
  samples/go.mod
Due: Instruments

fix(release): authenticate submodule tag publication
  .github/chainguard/self.github.release.manual.sts.yaml
  .github/chainguard/self.github.release.published.sts.yaml
  .github/workflows/release.yml
  CONTRIBUTING.md
  _tools/tag-submodules.sh
  _tools/test_tag_submodules.py
Due: none

test(release): use Bats for tagging coverage
  .github/workflows/release.yml
  CONTRIBUTING.md
  RELEASING.md
  _tools/tag-submodules.bats
  _tools/test_tag_submodules.py
Due: none

ci(test): run Bats through the Makefile
  .github/workflows/release.yml
  .github/workflows/validate.yml
  CONTRIBUTING.md
  Makefile
Due: none

test(shell): cover docs and license scripts
  _docs/serve.bats
  _tools/licenses.bats
Due: none

ci(shell): add ShellCheck and shfmt checks
  .github/workflows/shell.yml
  CONTRIBUTING.md
  Makefile
  _tools/make-licenses.sh
  _tools/verify-licenses.sh
Due: none

fix(jobserver): let the go command remove its work directory while a job server runs
  internal/files/log.go
  internal/files/log_other.go
  internal/files/log_test.go
  internal/files/log_windows.go
  internal/jobserver/client/env.go
  main.go
Due: Job Server

fix(jobserver): do not share contexts between request handlers
  internal/jobserver/common/handler.go
  internal/jobserver/common/handler_test.go
Due: Job Server

fix(jobserver): do not lose the paths found when detecting cycles
  internal/jobserver/common/graph.go
  internal/jobserver/common/graph_test.go
Due: Job Server

perf(toolexec): only verify the orchestrion pin when tools report their version
  internal/cmd/toolexec.go
  main_test.go
Due: none

fix(join): let blank function names match function literals in any file
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/testdata/injector/function-literal/config.yml
  internal/injector/testdata/injector/function-literal/modified.go.snap
Due: Aspects, Injector

perf(injector): scan file contents before indexing them in FileContains
  internal/injector/aspect/may/context.go
  internal/injector/aspect/may/context_test.go
Due: Aspects, Injector

perf(injector): only decorate files that an aspect may match on
  internal/injector/injector.go
  internal/injector/parse/parser.go
  internal/injector/parse/parser_test.go
  internal/injector/testdata/injector/injected-code/config.yml
  internal/injector/testdata/injector/injected-code/modified.go.snap
Due: Injector

perf(jobserver): resolve package patterns concurrently
  internal/jobserver/pkgs/load.go
  internal/jobserver/pkgs/load_internal_test.go
  internal/jobserver/pkgs/pkgs_internal_test.go
  internal/jobserver/pkgs/resolve_test.go
Due: Job Server

refactor(jobserver): reference-count the edges of the resolution graph
  internal/jobserver/common/graph.go
  internal/jobserver/common/graph_test.go
Due: Job Server

perf(toolexec): prefetch the resolutions of link-time dependencies
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/prefetch.go
  internal/toolexec/aspect/prefetch_test.go
Due: Toolexec Driver

perf(toolexec): prefetch the link-time dependencies of main packages
  internal/toolexec/aspect/oncompile-main.go
Due: Toolexec Driver

refactor(config): record the files read by the configuration loader
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/injector/config/config.go
  internal/injector/config/files_test.go
Due: Injector

refactor(join): let package-level matching specify the root module's directory
  internal/goenv/goenv.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/package_test.go
  internal/injector/aspect/may/context.go
Due: Go Driver, Aspects, Injector

perf(toolexec): skip loading the configuration for packages no aspect may apply to
  internal/injector/imports.go
  internal/injector/injector.go
  internal/injector/parse/parser.go
  internal/injector/parse/parser_test.go
  internal/jobserver/pkgs/maymodify.go
  internal/jobserver/pkgs/maymodify_internal_test.go
  internal/jobserver/pkgs/pkgs.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Injector, Job Server

perf(jobserver): check for a starting job server more frequently at first
  internal/jobserver/client/env.go
Due: Job Server

perf(jobserver): reuse a running job server before spawning a new one
  internal/jobserver/client/env.go
  internal/jobserver/client/env_internal_test.go
Due: Job Server

perf(toolexec): collect garbage less often in toolexec processes
  internal/cmd/toolexec.go
Due: none

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, _tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
