Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

test expectations
  internal/injector/config/builtin.go
  internal/injector/config/config_test.go
  internal/injector/config/testdata/instrument.snap.yml
  internal/injector/config/testdata/required.snap.yml
Due: Injector

wip
  internal/cmd/diff.go
  internal/cmd/server.go
  internal/jobserver/client/env.go
  internal/jobserver/nbt/nbt.go
  internal/jobserver/server.go
  internal/report/report.go
  internal/toolexec/proxy/compile.go
  main.go
Due: Toolexec Driver, Job Server

chore: update generated files
  _docs/go.sum
  instrument/go.sum
  samples/go.sum
Due: Instruments

feat: new //orchestrion:version pragma (#570)
  internal/injector/config/builtin.go
  internal/injector/config/config_test.go
  internal/injector/config/testdata/instrument.snap.yml
  internal/injector/config/testdata/required.snap.yml
  runtime/built/built.go
  runtime/built/built_test.go
Due: Injector

Review comments
  internal/goflags/flags.go
Due: Go Driver

release: v1.2.0
  internal/version/version.go
Due: none

fix: rosetta not being detected when command is [rosetta] (#565)
  internal/goflags/flags.go
Due: Go Driver

release: v1.2.0 (#575)
  internal/version/version.go
Due: none

chore: remove leftover code (now dead)
  internal/goflags/cmdline_unix.go
  internal/goflags/cmdline_windows.go
  internal/goflags/cmdline_windows_test.go
Due: Go Driver

chore: remove leftover code (now dead) (#576)
  internal/goflags/cmdline_unix.go
  internal/goflags/cmdline_windows.go
  internal/goflags/cmdline_windows_test.go
Due: Go Driver

feat: instrument Orchestrion with Datadog tracing
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/cmd/go.go
  internal/cmd/pin.go
  internal/cmd/toolexec.go
  internal/ensure/requiredversion.go
  internal/goproxy/proxy.go
  internal/injector/check.go
  internal/injector/check_test.go
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/injector/config/config.go
  internal/injector/config/config_test.go
  internal/injector/injector.go
  internal/injector/parse/parser.go
  internal/jobserver/buildid/version.go
  internal/jobserver/client/client.go
  internal/jobserver/common/handler.go
  internal/jobserver/nbt/nbt.go
  internal/jobserver/pkgs/resolve.go
  internal/pin/pin.go
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/resolve.go
  internal/toolexec/importcfg/importcfg.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/proxy.go
  internal/toolexec/version.go
  internal/traceutil/envcarrier.go
  internal/traceutil/natscarrier.go
  main.go
  samples/go.mod
  samples/go.sum
Due: Instruments, Go Driver, Toolexec Driver, Injector, Job Server

chore: update generated files
  LICENSE-3rdparty.csv
  _docs/go.mod
  _docs/go.sum
Due: none

Fix doc generator's use of the config loader
  _docs/generator/generator.go
Due: Generators

Fixup job server name to no longer include spaces
  internal/cmd/server.go
Due: none

Run benchmarks multiple times in parallel to get more reliable readings
  .github/workflows/validate.yml
Due: none

Fixup regression tests' use of config loader API
  samples/regression_test.go
Due: none

Fixup benchmark report generation
  .github/workflows/validate.yml
Due: none

Fixup broken span references (context.Background), name services more distinctively
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/injector/config/config.go
  internal/injector/injector.go
  internal/jobserver/client/client.go
  internal/jobserver/common/handler.go
  internal/toolexec/aspect/resolve.go
  main.go
Due: Toolexec Driver, Injector, Job Server

offload packages.Load calls to the job server
  _docs/generator/generator.go
  internal/cmd/toolexec.go
  internal/injector/config/config.go
  internal/injector/config/config_test.go
  internal/jobserver/buildid/buildid.go
  internal/jobserver/buildid/version.go
  internal/jobserver/client/env.go
  internal/jobserver/nbt/nbt.go
  internal/jobserver/pkgs/load.go
  internal/jobserver/pkgs/pkgs.go
  internal/jobserver/server.go
  internal/pin/pin.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.go
  samples/regression_test.go
Due: Generators, Toolexec Driver, Injector, Job Server

chore: update generated files
  LICENSE-3rdparty.csv
  _docs/go.mod
  go.mod
  instrument/go.mod
  samples/go.mod
Due: Instruments

Review comments from @eliottness
  .github/workflows/validate.yml
  internal/injector/check.go
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/injector/config/config.go
  internal/toolexec/aspect/linkdeps/linkdeps.go
Due: Toolexec Driver, Injector

Fix job server name so it's guaranteed to be valid
  internal/cmd/server.go
  internal/goproxy/proxy.go
  internal/jobserver/server.go
Due: Go Driver, Job Server

Update .github/workflows/validate.yml
  .github/workflows/validate.yml
Due: none

Upgrade golangci-lint to v2.0.1
  .github/workflows/validate.yml
  .golangci.yml
  internal/ensure/requiredversion_test.go
  internal/injector/aspect/advice/call_test.go
  internal/injector/aspect/context/golang_test.go
  internal/injector/imports_test.go
  internal/toolexec/proxy/compile_test.go
Due: Toolexec Driver, Aspects, Injector

release: v1.3.0
  internal/version/version.go
Due: none

doc(troubleshooting): add a paragraph on how to enable internal tracing
  _docs/content/docs/troubleshooting.md
Due: none

Update _docs/content/docs/troubleshooting.md
  _docs/content/docs/troubleshooting.md
Due: none

doc(troubleshooting): add a paragraph on how to enable internal tracing (#586)
  _docs/content/docs/troubleshooting.md
Due: none

release: v1.3.0 (#585)
  internal/version/version.go
Due: none

feat(injector: join): signature-contains
  internal/injector/aspect/join/function.go
Due: Aspects, Injector

chore(join/function): Add tests
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
Due: Aspects, Injector

chore(join/function): Fix linter issues
  internal/injector/aspect/join/function_test.go
Due: Aspects, Injector

chore(join/function): Add snapshot tests
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/testdata/injector/signature-contains/config.yml
  internal/injector/testdata/injector/signature-contains/modified.go.snap
Due: Aspects, Injector

chore(join/function): Add tests to signature-contains (#582)
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/testdata/injector/signature-contains/config.yml
  internal/injector/testdata/injector/signature-contains/modified.go.snap
Due: Aspects, Injector

feat(injector): Enhance aspect context with type resolution
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/context/context.go
  internal/injector/injector.go
Due: Aspects, Injector
