Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server

codecov.yml:

# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true
comment:
  layout: diff, components, files
  behavior: new
ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - '_tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code
coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true
component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: other
      name: Other

fix(toolexec): scope implicit test coverage (#876)
  .github/workflows/validate.yml
  internal/goflags/flags.go
  internal/goflags/flags_test.go
  internal/jobserver/pkgs/coverage_test.go
  internal/jobserver/pkgs/pkgs.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/testvariants.go
  internal/jobserver/pkgs/testvariants_test.go
  main_test.go
Due: Go Driver, Job Server

fix(toolexec): rebuild synthetic test imports
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/reversevariants.go
  internal/jobserver/pkgs/testvariants.go
  internal/jobserver/pkgs/testvariants_test.go
  internal/toolexec/archive/fingerprint.go
  internal/toolexec/archive/fingerprint_test.go
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/linkdeps/linkdeps_test.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile-main_test.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/resolve.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/testmain.go
  internal/toolexec/proxy/testmain_test.go
  internal/toolexec/version.go
  main_test.go
Due: Toolexec Driver, Job Server

fix(toolexec): validate test archives safely
  internal/toolexec/archive/fingerprint.go
  internal/toolexec/archive/fingerprint_test.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile-main_test.go
  internal/toolexec/proxy/testmain_test.go
  main_test.go
Due: Toolexec Driver

chore: improve error message for un-satisfiable test injections, providing a workaround/solution
  internal/toolexec/aspect/resolve.go
Due: Toolexec Driver

test(toolexec): cover reverse variant paths
  internal/jobserver/pkgs/reversevariants_test.go
  internal/jobserver/pkgs/testvariants_test.go
  internal/toolexec/archive/fingerprint_test.go
  internal/toolexec/aspect/oncompile-main_test.go
  internal/toolexec/aspect/onlink_test.go
  internal/toolexec/proxy/testmain_test.go
  internal/toolexec/version_test.go
Due: Toolexec Driver, Job Server

fix(toolexec): parse complete object headers
  internal/toolexec/archive/fingerprint.go
  internal/toolexec/archive/fingerprint_test.go
  internal/toolexec/proxy/testmain_test.go
Due: Toolexec Driver

test(toolexec): cover stale metadata rebuild
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/onlink_test.go
Due: Toolexec Driver

fix(toolexec): rebuild synthetic test imports (#879)
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/reversevariants.go
  internal/jobserver/pkgs/reversevariants_test.go
  internal/jobserver/pkgs/testvariants.go
  internal/jobserver/pkgs/testvariants_test.go
  internal/toolexec/archive/fingerprint.go
  internal/toolexec/archive/fingerprint_test.go
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/linkdeps/linkdeps_test.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile-main_test.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/onlink_test.go
  internal/toolexec/aspect/resolve.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/testmain.go
  internal/toolexec/proxy/testmain_test.go
  internal/toolexec/version.go
  internal/toolexec/version_test.go
  main_test.go
Due: Toolexec Driver, Job Server

feat(join): match typed operator expressions
  internal/injector/aspect/advice/code/dot_concat.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/concat/concat.go
  internal/injector/aspect/concat/root.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/join/function_test.go
  internal/injector/aspect/join/operator_test.go
  internal/injector/aspect/join/package_test.go
  internal/injector/aspect/join/slice_expression.go
  internal/injector/aspect/join/string_concat.go
  internal/injector/config/schema.json
  internal/injector/testdata/injector/operator-join-points/config.yml
  internal/injector/testdata/injector/operator-join-points/modified.go.snap
  internal/injector/typed/coretype.go
  internal/injector/typed/coretype_test.go
Due: Aspects, Injector

fix(join): complete operator template support
  internal/injector/aspect/advice/code/dot_slice.go
Due: Aspects, Injector

feat(join): match safe string byte conversions
  internal/injector/aspect/join/operator_test.go
  internal/injector/aspect/join/type_conversion.go
  internal/injector/config/schema.json
  internal/injector/testdata/injector/operator-join-points/config.yml
  internal/injector/testdata/injector/operator-join-points/modified.go.snap
Due: Aspects, Injector

fix(join): exclude noninteger slice constants
  internal/injector/aspect/join/slice_expression.go
  internal/injector/testdata/injector/operator-join-points/config.yml
  internal/injector/testdata/injector/operator-join-points/modified.go.snap
Due: Aspects, Injector

release: v1.13.0
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

ci: bump golangci-lint to v2.13.2
  .github/workflows/validate.yml
Due: none

release: v1.13.0 (#883)
  .github/workflows/validate.yml
  LICENSE-3rdparty.csv
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/toolexec/proxy/compile.flags.go
  internal/toolexec/proxy/link.flags.go
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments, Toolexec Driver

chore: refresh dependency updates after merging main
  LICENSE-3rdparty.csv
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

test(samples): update fiber v2 regression snapshot
  samples/testdata/server/fiberv2.go.snap
Due: none

fix(pin): avoid inconsistent vendoring failure in pruneImports
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

fix(pin): disable workspace mode for pruneImports package resolution
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

fix(ensure): avoid inconsistent vendoring failure in goModVersion
  internal/ensure/requiredversion.go
  internal/ensure/requiredversion_test.go
Due: none

fix(pin): don't disable workspace mode for pruneImports resolution
  internal/goenv/goenv.go
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: Go Driver

fix(pin): persist pruneImports mutations to orchestrion.tool.go
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

fix(injector/config): dedupe built-in aspect loading across referencing files
  internal/injector/config/config-go.go
  internal/injector/config/config_test.go
Due: Injector

feat(runtime/context): add goroutine context propagation API
  runtime/context/api.go
  runtime/context/api_test.go
  runtime/context/channel.go
  runtime/context/contexttest/contexttest.go
  runtime/context/doc.go
  runtime/context/gls.go
  runtime/context/goroutine.go
  runtime/context/mutex.go
  runtime/context/registry.go
Due: none

feat(injector): weave goroutine context propagation into go statements and runtime.g
  internal/injector/aspect/join/goroutine.go
  internal/injector/config/builtin_context.go
  internal/injector/config/testdata/required.snap.yml
  internal/injector/testdata/injector/go-statement-call/config.yml
  internal/injector/testdata/injector/go-statement-call/modified.go.snap
  internal/injector/testdata/injector/runtime-gls/config.yml
  internal/injector/testdata/injector/runtime-gls/modified.go.snap
Due: Aspects, Injector

test(pin): cover HasConfig error path independent of dd-trace-go
  internal/pin/pin_test.go
Due: none

fix(pin): guard against nil import spec in pruneImports
  internal/pin/pin.go
Due: none

fix(pin): log a warning on silent no-op paths in pruneImport
  internal/pin/pin.go
Due: none

fix(ensure): preserve vendor lookup, fall back to -mod=readonly only on inconsistency
  internal/ensure/requiredversion.go
  internal/ensure/requiredversion_test.go
Due: none

fix(pin): preserve non-marker trailing comments on import lines
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

fix(pin): surface pkg.Errors as prune reason instead of a misleading message
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

fix(pin): fail pin when a dependency's own config is genuinely invalid
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: Injector

fix(runtime/context): synchronize registry access with atomic pointer
  runtime/context/registry.go
  runtime/context/registry_test.go
Due: none

test(runtime/context): add goroutine-wrap overhead benchmarks
  runtime/context/goroutine_bench_test.go
Due: none

fix(config): classify a missing extends target as ErrInvalidConfig
  internal/injector/config/config-yml.go
  internal/injector/config/config_test.go
  internal/pin/pin_test.go
Due: Injector

fix(runtime/context): panic on zero-value Chan[T] instead of deadlocking
  runtime/context/api_test.go
  runtime/context/channel.go
Due: none

test(runtime/context): adopt petermattis/goid for goroutine ID lookup
  go.mod
  go.sum
  runtime/context/api_test.go
  runtime/context/contexttest/contexttest.go
Due: none

test(pin): cover NoPrune branch for load-error prune reason
  internal/pin/pin_test.go
Due: none

fix(tools): make license generation independent of host architecture
  _tools/make-licenses.sh
Due: none

fix(config): don't classify environmental stat errors as invalid config
  internal/injector/config/config-yml.go
  internal/injector/config/config_test.go
Due: Injector
