Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

release: v1.5.0 (#663)
  .github/workflows/validate.yml
  _docs/go.mod
  instrument/go.mod
  internal/version/version.go
  main_test.go
  samples/go.mod
Due: Instruments

fix(bench): use a different endpoint to get the latest release of benchmarked repositories
  main_test.go
Due: none

upgrade golangci-lint and run it
  internal/cmd/diff.go
  main_test.go
Due: none

upgrade golangci-lint and run it
  main_test.go
Due: none

ci: add typo check workflow and configuration
  .github/workflows/typos.yml
  typos.yaml
Due: none

ci: add typo check workflow and configuration
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver

ci: add typo check workflow and configuration
  .github/workflows/spelling.yml
  LICENSE-3rdparty.csv
  internal/goenv/goenv.go
  internal/goflags/flags.go
  internal/injector/aspect/aspect.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/join/directive.go
  internal/injector/config/schema.json
  typos.yaml
Due: Go Driver, Aspects, Injector

ci: add typo check workflow and configuration
  .github/workflows/spelling.yml
  internal/jobserver/client/env.go
Due: Job Server

ci: add typo check workflow and configuration
  typos.yaml
Due: none

chore: pin sha versions to align with repository convention
  .github/workflows/spelling.yml
Due: none

chore: fix typo for qualifed
  internal/injector/imports_test.go
  typos.yaml
Due: Injector

feat: extend typo check to across the codebase
  .github/workflows/validate.yml
Due: none

chore: add Unknwon to typo whitelist because it's special name and developer of go-ini package
  LICENSE-3rdparty.csv
  typos.yaml
Due: none

fix: correct typos extenstion from yaml to toml
  .github/workflows/validate.yml
  .typos.toml
Due: none

fix(bench): traefik module go.opentelemetry.io/otel/sdk@latest found (v1.37.0), but does not contain package go.opentelemetry.io/otel/sdk/internal/internaltest (#666)
  internal/cmd/diff.go
  main_test.go
Due: none

chore: remove seperated typo check workflow
  .github/workflows/spelling.yml
Due: none

init config for wrapping errors
  internal/injector/testdata/injector/wrap-errors/config.yml
Due: Injector

fix (?) some incorrect formatting
  internal/injector/testdata/injector/wrap-errors/config.yml
Due: Injector

init: still have lots to fix
  internal/injector/testdata/injector/wrap-errors/config.yml
  internal/injector/testdata/injector/wrap-errors/modified.go.snap
Due: Injector

ensure value is updated before return
  internal/injector/testdata/injector/wrap-errors/config.yml
  internal/injector/testdata/injector/wrap-errors/modified.go.snap
Due: Injector

add missing test cases
  internal/injector/aspect/advice/code/dot_directive_test.go
Due: Aspects, Injector

add some more test cases
  internal/injector/testdata/injector/wrap-errors/config.yml
  internal/injector/testdata/injector/wrap-errors/modified.go.snap
Due: Injector

support pkg level errors and use final error only
  internal/injector/testdata/injector/wrap-errors/config.yml
  internal/injector/testdata/injector/wrap-errors/modified.go.snap
Due: Injector

remove unnecessary import
  internal/injector/testdata/injector/wrap-errors/config.yml
Due: Injector

move wrapping errors to existing signature-contains
  internal/injector/testdata/injector/signature-contains/config.yml
  internal/injector/testdata/injector/signature-contains/modified.go.snap
  internal/injector/testdata/injector/wrap-errors/config.yml
  internal/injector/testdata/injector/wrap-errors/modified.go.snap
Due: Injector

feat(injector): add package-filter join point with glob patterns and module filtering
  _docs/generator/doc.join.package-filter.tmpl
  internal/goenv/goenv.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/package_test.go
  internal/injector/testdata/injector/package-filter-no-match/config.yml
  internal/injector/testdata/injector/package-filter-no-match/modified.go.snap
  internal/injector/testdata/injector/package-filter-root/config.yml
  internal/injector/testdata/injector/package-filter-root/modified.go.snap
  internal/injector/testdata/injector/package-filter-specific-module/config.yml
  internal/injector/testdata/injector/package-filter-specific-module/modified.go.snap
  internal/injector/testdata/injector/package-filter/config.yml
  internal/injector/testdata/injector/package-filter/modified.go.snap
Due: Go Driver, Aspects, Injector

WIP: fix(internal/injector): fix processImports for non-imported dst.SelectorExpr
  internal/injector/aspect/advice/code/template.go
  internal/injector/testdata/injector/import-conflict-symbol/config.yml
  internal/injector/testdata/injector/import-conflict-symbol/modified.go.snap
Due: Aspects, Injector

fix(bench): fix traefik build
  main_test.go
Due: none

use go apis
  main_test.go
Due: none

fix(bench): fix traefik build (#679)
  main_test.go
Due: none

ci: add typo check workflow and configuration
  .github/workflows/validate.yml
  .typos.toml
  internal/goenv/goenv.go
  internal/goflags/flags.go
  internal/injector/aspect/aspect.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/join/directive.go
  internal/injector/config/schema.json
  internal/injector/imports_test.go
  internal/jobserver/client/env.go
  internal/toolexec/aspect/oncompile.go
Due: Go Driver, Toolexec Driver, Aspects, Injector, Job Server

chore: enhance typo check workflow (#667)
  .github/workflows/validate.yml
  .typos.toml
  internal/goenv/goenv.go
  internal/goflags/flags.go
  internal/injector/aspect/aspect.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/join/directive.go
  internal/injector/config/schema.json
  internal/injector/imports_test.go
  internal/jobserver/client/env.go
  internal/toolexec/aspect/oncompile.go
Due: Go Driver, Toolexec Driver, Aspects, Injector, Job Server

feat: set minimum required go to 1.24
  _docs/go.mod
  _tools/go.mod
  go.mod
  instrument/go.mod
  internal/toolexec/proxy/compile.flags.go
  internal/toolexec/proxy/link.flags.go
  samples/go.mod
Due: Instruments, Toolexec Driver

also update dependencies
  _docs/go.mod
  _docs/go.sum
  _tools/go.mod
  _tools/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

processImports before replacing placeholders
  internal/injector/aspect/advice/code/template.go
Due: Aspects, Injector

chore: don't re-run all CI on push to main
  .github/workflows/validate.yml
Due: none

fix(internal/injector): fix processImports for non-imported `dst.SelectorExpr` (#678)
  internal/injector/aspect/advice/code/template.go
  internal/injector/testdata/injector/import-conflict-symbol/config.yml
  internal/injector/testdata/injector/import-conflict-symbol/modified.go.snap
Due: Aspects, Injector

chore: don't re-run all CI on push to main (#681)
  .github/workflows/validate.yml
Due: none
