Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server

codecov.yml:

# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true
comment:
  layout: diff, components, files
  behavior: new
ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - '_tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code
coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true
component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: other
      name: Other

test(injector/config): add CI canary for runtime.goexit1 dependency
  internal/injector/config/builtin_context_test.go
Due: Injector

fix(pin): don't misclassify build-tag-excluded but configured packages as unnecessary
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

refactor(runtime/context): make context aspects opt-in via orchestrion.yml
  internal/injector/config/builtin_context.go
  internal/injector/config/config_test.go
  internal/injector/config/testdata/required.snap.yml
  runtime/context/orchestrion.yml
Due: Injector

fix(injector/config): add go-statement-call to JoinPoint schema
  internal/injector/config/schema.json
Due: Injector

fix(runtime/context): correct eval-order doc, wrap goroutine panics
  runtime/context/doc.go
  runtime/context/goroutine.go
  runtime/context/goroutine_test.go
Due: none

docs(runtime/context): explain Pop/Peek's intentional asymmetry
  runtime/context/api.go
Due: none

refactor(runtime/context): simplify blob growth, document accessor forms
  runtime/context/gls.go
Due: none

fix(pin): surface pkg.Errors as prune reason instead of a misleading message (#891)
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

fix(runtime/context): scope context.main to the receiverless entry point
  internal/injector/testdata/injector/context-main-receiverless/config.yml
  internal/injector/testdata/injector/context-main-receiverless/modified.go.snap
  runtime/context/orchestrion.yml
Due: Injector

fix(runtime/context): dispatch Hooks.Go synchronously in the parent
  runtime/context/goroutine.go
  runtime/context/goroutine_bench_test.go
  runtime/context/goroutine_test.go
Due: none

fix(samples): set Content-Type before writing error bodies
  samples/server/main.go
Due: none

style: fix CI Format Check and GolangCI Lint failures
  internal/injector/config/builtin_context_test.go
  runtime/context/api_test.go
  runtime/context/goroutine_bench_test.go
  runtime/context/goroutine_test.go
  runtime/context/orchestrion.yml
  runtime/context/registry.go
  runtime/context/registry_test.go
Due: Injector

fix(injector/join): honor the go-statement-call boolean value
  internal/injector/aspect/join/goroutine.go
  internal/injector/testdata/injector/go-statement-call-negated/config.yml
  internal/injector/testdata/injector/go-statement-call-negated/modified.go.snap
Due: Aspects, Injector

docs(runtime/context): document the required tool-file import
  runtime/context/doc.go
Due: none

fix(pin): stop resolving dependency imports against their own directory
  internal/injector/config/config-go.go
  internal/injector/config/config.go
  internal/injector/config/config_test.go
  internal/pin/pin.go
  internal/pin/pin_test.go
  internal/pin/testdata/relative-replace/dep/dep.go
  internal/pin/testdata/relative-replace/dep/go.mod
  internal/pin/testdata/relative-replace/dep/orchestrion.tool.go
  internal/pin/testdata/relative-replace/thing/go.mod
  internal/pin/testdata/relative-replace/thing/orchestrion.yml
  internal/pin/testdata/relative-replace/thing/thing.go
Due: Injector

ci: exclude testdata go.mod files from the repo-wide tidy sweep
  .github/workflows/validate.yml
Due: none

test(samples): update golden snapshot for Content-Type header injection
  samples/testdata/server/main.go.snap
Due: none

fix(pin): resolve dependency imports from the consuming module, not their own directory (#885)
  .github/workflows/validate.yml
  internal/injector/config/config-go.go
  internal/injector/config/config.go
  internal/injector/config/config_test.go
  internal/pin/pin.go
  internal/pin/pin_test.go
  internal/pin/testdata/relative-replace/dep/dep.go
  internal/pin/testdata/relative-replace/dep/go.mod
  internal/pin/testdata/relative-replace/dep/orchestrion.tool.go
  internal/pin/testdata/relative-replace/thing/go.mod
  internal/pin/testdata/relative-replace/thing/orchestrion.yml
  internal/pin/testdata/relative-replace/thing/thing.go
Due: Injector

fix(ci): resolve shellcheck SC2016 in validate.yml dirty-tree notice
  .github/workflows/validate.yml
Due: none

fix(pin): avoid inconsistent vendoring failure in pruneImports
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

fix(pin): disable workspace mode for pruneImports package resolution
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

fix(pin): don't disable workspace mode for pruneImports resolution
  internal/goenv/goenv.go
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: Go Driver

fix(pin): persist pruneImports mutations to orchestrion.tool.go
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

test(pin): cover HasConfig error path independent of dd-trace-go
  internal/pin/pin_test.go
Due: none

fix(pin): preserve non-marker trailing comments on import lines
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

fix(pin): fail pin when a dependency's own config is genuinely invalid
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: Injector

fix(config): classify a missing extends target as ErrInvalidConfig
  internal/injector/config/config-yml.go
  internal/injector/config/config_test.go
  internal/pin/pin_test.go
Due: Injector

fix(config): don't classify environmental stat errors as invalid config
  internal/injector/config/config-yml.go
  internal/injector/config/config_test.go
Due: Injector

fix(pin): persist pruneImports mutations to orchestrion.tool.go (#888)
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/injector/config/config_test.go
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: Injector

fix(samples): set Content-Type before writing error bodies (#893)
  samples/server/main.go
  samples/testdata/server/main.go.snap
Due: none

fix(tools): make license generation independent of host architecture (#892)
  _tools/make-licenses.sh
Due: none

fix(ensure): avoid inconsistent vendoring failure in goModVersion (#887)
  internal/ensure/requiredversion.go
  internal/ensure/requiredversion_test.go
Due: none

fix(pin): guard against nil import spec in pruneImports (#890)
  internal/pin/pin.go
Due: none

fix(jobserver): detect cyclic never-build-twice waits
  _docs/content/docs/architecture.md
  internal/jobserver/nbt/nbt.go
  internal/jobserver/nbt/nbt_test.go
  internal/jobserver/pkgs/pkgs.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/server.go
  internal/toolexec/proxy/compile.go
Due: Toolexec Driver, Job Server

Revert "fix(jobserver): detect cyclic never-build-twice waits"
  _docs/content/docs/architecture.md
  internal/jobserver/nbt/nbt.go
  internal/jobserver/nbt/nbt_test.go
  internal/jobserver/pkgs/pkgs.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/server.go
  internal/toolexec/proxy/compile.go
Due: Toolexec Driver, Job Server

test: reproduce never-build-twice deadlock
  internal/jobserver/nbt/nbt.go
  internal/jobserver/nbt/nbt_test.go
  internal/jobserver/pkgs/resolve.go
  internal/toolexec/proxy/compile.go
  test/e2e/README.md
  test/e2e/compileloop_test.go
  test/e2e/testdata/compileloop/go.mod
  test/e2e/testdata/compileloop/go.sum
  test/e2e/testdata/compileloop/main.go
  test/e2e/testdata/compileloop/orchestrion.tool.go
  test/e2e/testdata/compileloop/orchestrion.yml
  test/e2e/testdata/compileloop/tracer/tracer.go
  test/e2e/testdata/compileloop/victim/victim.go
Due: Toolexec Driver, Job Server

fix(toolexec): forward unknown tool flags instead of failing
  internal/toolexec/proxy/compile.flags.go
  internal/toolexec/proxy/compile_test.go
  internal/toolexec/proxy/flags.go
  internal/toolexec/proxy/flags_test.go
  internal/toolexec/proxy/generator/main.go
  internal/toolexec/proxy/link.flags.go
  internal/toolexec/proxy/link_test.go
Due: Generators, Toolexec Driver

fix(jobserver): reject cyclic never-build-twice waits
  internal/jobserver/nbt/nbt.go
Due: Job Server

refactor(runtime/context): propagate context in newproc
  internal/injector/aspect/join/goroutine.go
  internal/injector/config/builtin_context_test.go
  internal/injector/config/config_test.go
  internal/injector/config/schema.json
  internal/injector/testdata/injector/go-statement-call-negated/config.yml
  internal/injector/testdata/injector/go-statement-call-negated/modified.go.snap
  internal/injector/testdata/injector/go-statement-call/config.yml
  internal/injector/testdata/injector/go-statement-call/modified.go.snap
  internal/injector/testdata/injector/runtime-gls/config.yml
  internal/injector/testdata/injector/runtime-gls/modified.go.snap
  main_test.go
  runtime/context/api.go
  runtime/context/api_test.go
  runtime/context/contexttest/contexttest.go
  runtime/context/doc.go
  runtime/context/gls.go
  runtime/context/goroutine.go
  runtime/context/goroutine_bench_test.go
  runtime/context/goroutine_test.go
  runtime/context/mutex.go
  runtime/context/orchestrion.yml
  runtime/context/registry.go
  runtime/context/registry_test.go
Due: Aspects, Injector
