Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

chore: Address review comments
  internal/injector/typed/typecheck.go
Due: Injector

refactor(injector/typed): Refactor ResolveInterfaceTypeByName for improved clarity and error handling (#616)
  internal/injector/typed/typecheck.go
Due: Injector

feat(injector): Add ArgumentThatImplements method for argument interface matching
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/join/function.go
  internal/injector/testdata/injector/argument-implements-join/config.yml
  internal/injector/testdata/injector/argument-implements-join/modified.go.snap
  internal/injector/testdata/injector/argument-implements/config.yml
  internal/injector/testdata/injector/argument-implements/modified.go.snap
Due: Aspects, Injector

feat(injector): Add ArgumentThatImplements method for argument interface matching (#617)
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/join/function.go
  internal/injector/testdata/injector/argument-implements-join/config.yml
  internal/injector/testdata/injector/argument-implements-join/modified.go.snap
  internal/injector/testdata/injector/argument-implements/config.yml
  internal/injector/testdata/injector/argument-implements/modified.go.snap
Due: Aspects, Injector

feat(injector/typed): Enhance type checking with additional generic type test cases
  internal/injector/typed/typecheck.go
  internal/injector/typed/typecheck_test.go
Due: Injector

feat(injector/typed): Enhance type checking with additional generic type test cases (#634)
  internal/injector/typed/typecheck.go
  internal/injector/typed/typecheck_test.go
Due: Injector

feat(injector/typed): add interface-based type system with parser
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/call_test.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/struct.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/aspect/join/struct.go
  internal/injector/typed/array.go
  internal/injector/typed/array_test.go
  internal/injector/typed/map.go
  internal/injector/typed/map_test.go
  internal/injector/typed/namedtype.go
  internal/injector/typed/namedtype_test.go
  internal/injector/typed/parse_test.go
  internal/injector/typed/parser.go
  internal/injector/typed/pointer.go
  internal/injector/typed/pointer_test.go
  internal/injector/typed/slice.go
  internal/injector/typed/slice_test.go
  internal/injector/typed/type.go
  internal/injector/typed/type_test.go
  internal/injector/typed/typed.go
  internal/injector/typed/typename.go
  internal/injector/typed/typename_test.go
Due: Aspects, Injector

chore: fix broken link in docs
  _docs/content/docs/dd-trace-go/_index.md
Due: none

chore: fix broken link in docs (#642)
  _docs/content/docs/dd-trace-go/_index.md
Due: none

upgrade gofiber/fiber to v2.52.8
  _docs/go.mod
  _docs/go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

chore: switch orchestrion to dd-trace-go v2 by default
  .github/workflows/deps-update.yml
  README.md
  _docs/go.mod
  _docs/go.sum
  instrument/go.mod
  instrument/go.sum
  internal/injector/config/schema.json
  internal/injector/config/testdata/instrument.snap.yml
  internal/pin/pin.go
  samples/go.mod
  samples/go.sum
  samples/testdata/client/aws.go.snap
  samples/testdata/client/aws_v2.go.snap
  samples/testdata/client/elasticsearch.go.snap
  samples/testdata/client/gocql.go.snap
  samples/testdata/client/gorm.go.snap
  samples/testdata/client/grpc.go.snap
  samples/testdata/client/http.go.snap
  samples/testdata/client/ibm_sarama.go.snap
  samples/testdata/client/main.go.snap
  samples/testdata/client/mongo.go.snap
  samples/testdata/client/pgx.go.snap
  samples/testdata/client/redis.go.snap
  samples/testdata/client/shopify_sarama.go.snap
  samples/testdata/client/vault.go.snap
  samples/testdata/server/chiv5.go.snap
  samples/testdata/server/database.go.snap
  samples/testdata/server/echov4.go.snap
  samples/testdata/server/fiberv2.go.snap
  samples/testdata/server/gin.go.snap
  samples/testdata/server/graphqlgen.go.snap
  samples/testdata/server/grpc.go.snap
  samples/testdata/server/ibm_sarama.go.snap
  samples/testdata/server/main.go.snap
  samples/testdata/server/other_handlers.go.snap
  samples/testdata/server/shopify_sarama.go.snap
  samples/testdata/server/twirp.go.snap
Due: Instruments, Injector

docs: configuration
  _docs/content/docs/configuration.md
  _docs/content/docs/dd-trace-go/custom-trace.md
Due: none

fix: TypeName parser incorrectly rejects leading digits in path segments
  internal/injector/typed/typename.go
  internal/injector/typed/typename_test.go
Due: Injector

Use +dev instead of +devel suffix to avoid tripping the go toolchain
  internal/version/version.go
  internal/version/version_test.go
Due: none

fix: TypeName parser incorrectly rejects leading digits in path segments (#646)
  internal/injector/typed/typename.go
  internal/injector/typed/typename_test.go
  internal/version/version.go
  internal/version/version_test.go
Due: Injector

remove jnzhu/gorm from samples since it was removed from the v2 contribs
  samples/client/gorm.go
  samples/go.mod
  samples/go.sum
  samples/testdata/client/gorm.go.snap
Due: none

Update docs page to use aap
  _docs/content/_index.md
Due: none

docs: update ASM product name to AAP (#650)
  _docs/content/_index.md
Due: none

Update configuration.md
  _docs/content/docs/configuration.md
Due: none

Apply suggestions from code review
  _docs/content/docs/configuration.md
Due: none

docs: configuration (#645)
  _docs/content/docs/configuration.md
  _docs/content/docs/dd-trace-go/custom-trace.md
Due: none

feat: gracefully upgrade from v1 to v2-based setup
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

Make linter happy
  internal/pin/auto_test.go
  internal/pin/pin_test.go
Due: none

Feedback from @eliottness
  internal/pin/pin.go
Due: none

Update pin.go
  internal/pin/pin.go
Due: none

feat: gracefully upgrade from v1 to v2-based setup (#661)
  internal/pin/auto_test.go
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

chore: dependency update workflow use stable go
  .github/workflows/deps-update.yml
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

Revert to github.com/DataDog/datadog-agent/pkg/trace due to missing symbol
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

chore: dependency update workflow use stable go (#662)
  .github/workflows/deps-update.yml
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

release: v1.5.0
  internal/version/version.go
Due: none

feat(runtime): context propagation API
  runtime/context/api.go
Due: none

fix: support spaces in directive argument values
  internal/injector/aspect/advice/code/dot_directive.go
  internal/injector/aspect/advice/code/dot_directive_test.go
Due: Aspects, Injector

remove non relevant test
  internal/injector/aspect/advice/code/dot_directive_test.go
Due: Aspects, Injector

fix lint
  internal/injector/aspect/advice/code/dot_directive.go
  internal/injector/aspect/advice/code/dot_directive_test.go
Due: Aspects, Injector

fix copyright header
  internal/injector/aspect/advice/code/dot_directive_test.go
Due: Aspects, Injector

make sure benchmarks are required to work before merging
  .github/workflows/validate.yml
  main_test.go
Due: none

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Integration Test Suite: any of: _integration-tests/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
