Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Integration Tests

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 15
    wait_for_ci: true

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

comment:
  require_changes: true

component_management:
  individual_components:
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: integration-tests
      name: Integration Tests
      paths: [_integration-tests/**]

Tweak documentation a bit
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/dd-span.yml
Due: Injector

Move workaround/hack to its rightful place
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/dd-span.yml
  internal/injector/builtin/yaml/directive/orchestrion-enabled.yml
Due: Injector

fix: fetch commits before pushing CI blank
  .github/workflows/deps-update.yml
Due: none

Missing comma
  _integration-tests/tests/dd-span/tag.go
Due: Integration Tests

Fix test broken by GLS context weaving (new trace is better, of course)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/chi.v5/main.go
  _integration-tests/tests/echo.v4/main.go
  _integration-tests/tests/fiber.v2/main.go
  _integration-tests/tests/gin/main.go
  _integration-tests/tests/go-redis.v7/main.go
  _integration-tests/tests/go-redis.v8/main.go
  _integration-tests/tests/grpc/server.go
  _integration-tests/tests/k8s_client_go/common.go
  _integration-tests/tests/mux/main.go
  _integration-tests/tests/net_http/main.go
  _integration-tests/tests/redigo/main.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/directive/orchestrion-enabled.yml
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Tests

Don't try to assert server span in k8s client test, this is superfluous
  _integration-tests/tests/k8s_client_go/common.go
Due: Integration Tests

Have goroutines inherit the GLS slot from their creator; properly clean up the GLS slot before returning to free list
  _integration-tests/tests/k8s_client_go/common.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/runtime.yml
Due: Injector, Integration Tests

chore: update generated files
  internal/injector/builtin/generated.go
Due: Injector

chore: use oldstable and stable for running workflows
  .github/workflows/deps-update.yml
  .github/workflows/docsite.yml
  .github/workflows/generate.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/workflow_call.yml
Due: none

Stop using gotip
  .github/workflows/tests.yml
Due: none

chore: uniformize integration tests
  _integration-tests/tests/aws.v1/aws.go
  _integration-tests/tests/chi.v5/chi.go
  _integration-tests/tests/dd-span/ddspan.go
  _integration-tests/tests/dd-span/no-tag.go
  _integration-tests/tests/dd-span/tag.go
  _integration-tests/tests/echo.v4/echo.go
  _integration-tests/tests/fiber.v2/fiber.go
  _integration-tests/tests/gin/gin.go
  _integration-tests/tests/go-redis.v7/go-redis.go
  _integration-tests/tests/go-redis.v8/go-redis.go
  _integration-tests/tests/gorm.jinzhu/gorm.go
  _integration-tests/tests/gorm/gorm.go
  _integration-tests/tests/grpc/grpc.go
  _integration-tests/tests/grpc/server.go
  _integration-tests/tests/k8s_client_go/common.go
  _integration-tests/tests/k8s_client_go/new_cfg_func.go
  _integration-tests/tests/k8s_client_go/struct_literal_with_param.go
  _integration-tests/tests/k8s_client_go/struct_literal_without_param.go
  _integration-tests/tests/mongo/mongo.go
  _integration-tests/tests/mux/mux.go
  _integration-tests/tests/net_http/net_http.go
  _integration-tests/tests/redigo/redigo.go
  _integration-tests/tests/slog/slog.go
  _integration-tests/tests/sql/sql.go
  _integration-tests/tests/suite.generated.go
  _integration-tests/tests/suite.go
  _integration-tests/tests/vault/vault.go
  _integration-tests/utils/generator/main.go
Due: Integration Tests

fix: avoid sarama tests flakiness by producing multiple messages
  _integration-tests/tests/ibm_sarama/main.go
  _integration-tests/tests/shopify_sarama/main.go
Due: Integration Tests

chore: uniformly pass log.Tracef as packages.Load logger
  internal/ensure/requiredversion.go
  internal/injector/injector.go
  internal/jobserver/buildid/version.go
  internal/jobserver/pkgs/resolve.go
Due: Injector

fix(integration-tests/sarama): remove wait option when using redpanda
  _integration-tests/tests/ibm_sarama/main.go
  _integration-tests/tests/shopify_sarama/main.go
Due: Integration Tests

fix(integration-tests/sarama): break for loop by returning
  _integration-tests/tests/ibm_sarama/main.go
  _integration-tests/tests/shopify_sarama/main.go
Due: Integration Tests

fix(integration-tests/sarama): loop over expected messages instead
  _integration-tests/tests/ibm_sarama/main.go
  _integration-tests/tests/shopify_sarama/main.go
Due: Integration Tests

fix(goflags): parse from `$GOFLAGS` and fixup `-coverpkg`
  internal/ensure/requiredversion_test.go
  internal/goenv/gobin.go
  internal/goenv/gobin_test.go
  internal/goflags/flags.go
  internal/goflags/flags_test.go
  internal/goflags/quoted/quoted.go
  internal/goflags/quoted/quoted_test.go
  internal/goproxy/dashc.go
  internal/goproxy/proxy.go
Due: Go Driver

feat: improved line information preservation
  internal/injector/builtin/testdata/client/aws.go.snap
  internal/injector/builtin/testdata/client/gorm.go.snap
  internal/injector/builtin/testdata/client/grpc.go.snap
  internal/injector/builtin/testdata/client/http.go.snap
  internal/injector/builtin/testdata/client/main.go.snap
  internal/injector/builtin/testdata/client/mongo.go.snap
  internal/injector/builtin/testdata/client/redis.go.snap
  internal/injector/builtin/testdata/client/vault.go.snap
  internal/injector/builtin/testdata/server/chiv5.go.snap
  internal/injector/builtin/testdata/server/database.go.snap
  internal/injector/builtin/testdata/server/echov4.go.snap
  internal/injector/builtin/testdata/server/fiberv2.go.snap
  internal/injector/builtin/testdata/server/gin.go.snap
  internal/injector/builtin/testdata/server/gorilla.go.snap
  internal/injector/builtin/testdata/server/grpc.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/testdata/server/other_handlers.go.snap
  internal/injector/injector.go
  internal/injector/lineinfo/annotation.go
  internal/injector/lineinfo/canonicalize.go
  internal/injector/lineinfo/lineinfo.go
  internal/injector/testdata/injector/chi5-newroute-dotimport/expected.diff
  internal/injector/testdata/injector/chi5-newroute/expected.diff
  internal/injector/testdata/injector/database-sql/expected.diff
  internal/injector/testdata/injector/directive/expected.diff
  internal/injector/testdata/injector/grpc/expected.diff
  internal/injector/testdata/injector/http-line-info/expected.diff
  internal/injector/testdata/injector/http-server/expected.diff
  internal/injector/testdata/injector/name-conflict/expected.diff
  internal/injector/testdata/injector/redigo/expected.diff
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Injector

Typofix
  internal/injector/builtin/yaml/stdlib/runtime.yml
Due: Injector

feat: support instrumentation of `github.com/{Shopify,IBM}/sarama` (#216)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/ibm_sarama/main.go
  _integration-tests/tests/shopify_sarama/main.go
  _integration-tests/tests/suite.generated.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/ibm_sarama.go.snap
  internal/injector/builtin/testdata/client/sarama.go.snap
  internal/injector/builtin/testdata/client/shopify_sarama.go.snap
  internal/injector/builtin/testdata/server/ibm_sarama.go.snap
  internal/injector/builtin/testdata/server/sarama.go.snap
  internal/injector/builtin/testdata/server/shopify_sarama.go.snap
  internal/injector/builtin/yaml/datastreams/ibm_sarama.yml
  internal/injector/builtin/yaml/datastreams/shopify_sarama.yml
  samples/client/ibm_sarama.go
  samples/client/shopify_sarama.go
  samples/go.mod
  samples/go.sum
  samples/server/ibm_sarama.go
  samples/server/shopify_sarama.go
Due: Injector, Integration Tests

fix: GLS slot not cleaned up after goroutine exits
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/runtime.yml
Due: Injector

chore: use oldstable and stable for running workflows (#227)
  .github/workflows/deps-update.yml
  .github/workflows/docsite.yml
  .github/workflows/generate.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/workflow_call.yml
Due: none

upgrade dd-trace-go with bug fix
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/injector/builtin/yaml/directive/orchestrion-enabled.yml
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Tests

docs: improved contributor guide, security policy
  .github/pull_request_template.md
  CONTRIBUTING.md
  SECURITY.md
Due: none

chore: uniformly pass log.Tracef as packages.Load logger (#229)
  internal/ensure/requiredversion.go
  internal/injector/injector.go
  internal/jobserver/buildid/version.go
  internal/jobserver/pkgs/resolve.go
Due: Injector

Fix redigo test now that GLS context is woven
  _integration-tests/tests/redigo/main.go
Due: Integration Tests

refactor(injector): new API with better performance
  internal/injector/builtin/integration_test.go
  internal/injector/check.go
  internal/injector/imports.go
  internal/injector/injector.go
  internal/injector/injector_test.go
  internal/injector/lineinfo/annotation.go
  internal/injector/lineinfo/lineinfo.go
  internal/injector/parse.go
  internal/injector/parse_test.go
  internal/injector/restorer.go
  internal/injector/testdata/injector/access-return-value/expected.diff
  internal/injector/testdata/injector/chi5-newroute-dotimport/config.yml
  internal/injector/testdata/injector/chi5-newroute/config.yml
  internal/injector/testdata/injector/database-sql/config.yml
  internal/injector/testdata/injector/directive/config.yml
  internal/injector/testdata/injector/grpc/config.yml
  internal/injector/testdata/injector/http-anonymous-handler/expected.diff
  internal/injector/testdata/injector/http-default/expected.diff
  internal/injector/testdata/injector/http-line-info/config.yml
  internal/injector/testdata/injector/http-no-arg-name/expected.diff
  internal/injector/testdata/injector/http-server/config.yml
  internal/injector/testdata/injector/name-conflict/config.yml
  internal/injector/testdata/injector/redigo/config.yml
  internal/injector/write.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/importcfg/lookup.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
Due: Toolexec Driver, Injector

docs: improved contributor guide, security policy (#233)
  .github/pull_request_template.md
  CONTRIBUTING.md
  SECURITY.md
Due: none

chore: uniformize integration tests (#228)
  _integration-tests/tests/aws.v1/aws.go
  _integration-tests/tests/chi.v5/chi.go
  _integration-tests/tests/dd-span/ddspan.go
  _integration-tests/tests/dd-span/no-tag.go
  _integration-tests/tests/dd-span/tag.go
  _integration-tests/tests/echo.v4/echo.go
  _integration-tests/tests/fiber.v2/fiber.go
  _integration-tests/tests/gin/gin.go
  _integration-tests/tests/go-redis.v7/go-redis.go
  _integration-tests/tests/go-redis.v8/go-redis.go
  _integration-tests/tests/gorm.jinzhu/gorm.go
  _integration-tests/tests/gorm/gorm.go
  _integration-tests/tests/grpc/grpc.go
  _integration-tests/tests/grpc/server.go
  _integration-tests/tests/k8s_client_go/common.go
  _integration-tests/tests/k8s_client_go/new_cfg_func.go
  _integration-tests/tests/k8s_client_go/struct_literal_with_param.go
  _integration-tests/tests/k8s_client_go/struct_literal_without_param.go
  _integration-tests/tests/mongo/mongo.go
  _integration-tests/tests/mux/mux.go
  _integration-tests/tests/net_http/net_http.go
  _integration-tests/tests/redigo/redigo.go
  _integration-tests/tests/slog/slog.go
  _integration-tests/tests/sql/sql.go
  _integration-tests/tests/suite.generated.go
  _integration-tests/tests/suite.go
  _integration-tests/tests/vault/vault.go
  _integration-tests/utils/generator/main.go
Due: Integration Tests

fix(goflags): using `-cover` causes fingerprint mismatch (#230)
  internal/ensure/requiredversion_test.go
  internal/goenv/gobin.go
  internal/goenv/gobin_test.go
  internal/goflags/flags.go
  internal/goflags/flags_test.go
  internal/goflags/quoted/quoted.go
  internal/goflags/quoted/quoted_test.go
  internal/goproxy/dashc.go
  internal/goproxy/proxy.go
Due: Go Driver

Fix injected template
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/runtime.yml
Due: Injector

Fixup import-normalizing traversal
  internal/injector/imports.go
Due: Injector

Wait for HTTP availability of DDB-local to avoid AWS test flake
  _integration-tests/tests/aws.v1/aws.go
Due: Integration Tests

fix: GLS slot not cleaned up after goroutine exits (#232)
  _integration-tests/tests/aws.v1/aws.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/runtime.yml
Due: Injector, Integration Tests

Use tracer release version
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Tests

fix: apply `//dd:orchestrion-enabled` to tracer-internal modules (#223)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/redigo/redigo.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/directive/orchestrion-enabled.yml
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Tests

add support for gocql
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/gocql/gocql.go
  _integration-tests/tests/suite.generated.go
  internal/injector/builtin/yaml/databases/gocql.yml
Due: Injector, Integration Tests

release: v0.7.4
  internal/version/version.go
Due: none

feat(injector: stdlib): instrument os.OpenFile
  _integration-tests/testdata/rasp.json
  _integration-tests/tests/os/lfi.go
  internal/injector/builtin/yaml/stdlib/ossec.yml
Due: Injector, Integration Tests
