Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

feat(cmd): orchestrion diff
  internal/cmd/diff.go
  internal/toolexec/aspect/oncompile.go
  main.go
Due: Toolexec Driver

fix misconception about original file placement in fs
  internal/cmd/diff.go
  internal/injector/parse/mappedfilename.go
  internal/injector/parse/parse_test.go
  internal/injector/parse/parser.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Injector

wip
  internal/cmd/diff.go
  internal/report/report.go
Due: none

move code to the report package
  internal/cmd/diff.go
  internal/report/report.go
Due: none

test with sourcegraph lib
  go.mod
  go.sum
  internal/cmd/diff.go
  internal/report/report.go
Due: none

test with the diff binary
  go.mod
  go.sum
  internal/cmd/diff.go
  internal/report/report.go
Due: none

reduce the diff
  internal/report/report.go
Due: none

support --package
  internal/cmd/diff.go
  internal/report/report.go
Due: none

better error reporting
  internal/report/report.go
Due: none

add special case for synthetic path
  internal/report/report.go
Due: none

rework report to use fs.FS when possible
  go.mod
  go.sum
  internal/injector/parse/mappedfilename.go
  internal/report/report.go
  internal/report/report_test.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Injector

chore: update generated files
  _docs/go.sum
  instrument/go.sum
  samples/go.sum
Due: Instruments

write a small doc and filter weaving special cases
  _docs/content/docs/getting-started.md
  internal/cmd/diff.go
  internal/injector/aspect/join/directive_test.go
  internal/report/report.go
  internal/report/report_test.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/specialcase.go
Due: Toolexec Driver, Aspects, Injector

order output
  internal/cmd/diff.go
  internal/report/report.go
  internal/report/report_test.go
Due: none

fix license header issu
  internal/report/report.go
  internal/report/report_test.go
  internal/toolexec/aspect/specialcase.go
Due: Toolexec Driver

fix doc phrasing
  internal/cmd/diff.go
Due: none

fix using path.Clean on empty string
  internal/report/report.go
  internal/report/report_test.go
Due: none

feat(injector): add ability to find function results implementing an interface
  .gitignore
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/code/dot_function_test.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/context/context_test.go
  internal/injector/injector.go
  internal/injector/testdata/injector/result-implements/config.yml
  internal/injector/testdata/injector/result-implements/modified.go.snap
Due: Aspects, Injector

chore: Address review issues
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/code/dot_function_test.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/context/context.go
  internal/injector/injector.go
Due: Aspects, Injector

feat(injector): Add FinalResultImplements method to check interface implementation
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/testdata/injector/result-implements/config.yml
  internal/injector/testdata/injector/result-implements/modified.go.snap
Due: Aspects, Injector

chore: Address review comments
  internal/injector/aspect/advice/code/dot_function.go
Due: Aspects, Injector

chore: Address review comments
  internal/injector/aspect/context/context.go
Due: Aspects, Injector

fix diff not working anymore because of copies
  internal/report/report.go
Due: none

feat(injector): Add ability to find function results implementing an interface (#587)
  .gitignore
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/code/dot_function_test.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/context/context_test.go
  internal/injector/injector.go
  internal/injector/testdata/injector/result-implements/config.yml
  internal/injector/testdata/injector/result-implements/modified.go.snap
Due: Aspects, Injector

chore: upgrade to dd-trace-go v2.0.0
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

chore: upgrade to dd-trace-go v2.0.0 (#640)
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

fix tests on windows
  internal/report/report_test.go
Due: none

chore: Address review comments
  internal/injector/aspect/join/function.go
  internal/injector/testdata/injector/result-implements-aspect/config.yml
  internal/injector/testdata/injector/result-implements-aspect/modified.go.snap
  internal/injector/testdata/injector/result-implements-join/config.yml
  internal/injector/testdata/injector/result-implements-join/modified.go.snap
  internal/injector/typed/typecheck.go
Due: Aspects, Injector

feat(injector/join): Introduce finalResultImplements for final return value interface matching
  internal/injector/aspect/join/function.go
  internal/injector/testdata/injector/result-implements-join/config.yml
  internal/injector/testdata/injector/result-implements-join/modified.go.snap
Due: Aspects, Injector

chore: Address review comments
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/join/function.go
  internal/injector/typed/refmap.go
Due: Aspects, Injector

feat(injector): Add support for generic types in result-implements join points
  internal/injector/aspect/context/context.go
  internal/injector/check.go
  internal/injector/testdata/injector/result-implements-join/config.yml
  internal/injector/testdata/injector/result-implements-join/modified.go.snap
  internal/injector/typed/typecheck.go
Due: Aspects, Injector

feat(injector/join): add 'return-implements' function join point
  internal/injector/aspect/advice/code/dot.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/join/function.go
  internal/injector/testdata/injector/return-implements/config.yml
  internal/injector/testdata/injector/return-implements/modified.go.snap
  internal/injector/typed/refmap.go
  internal/injector/typed/typecheck.go
  internal/injector/typed/typecheck_test.go
Due: Aspects, Injector

feat(injector): Add return-implements function join point (#602)
  internal/injector/aspect/advice/code/dot.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/join/function.go
  internal/injector/check.go
  internal/injector/testdata/injector/result-implements-aspect/config.yml
  internal/injector/testdata/injector/result-implements-aspect/modified.go.snap
  internal/injector/testdata/injector/result-implements-join/config.yml
  internal/injector/testdata/injector/result-implements-join/modified.go.snap
  internal/injector/typed/typecheck.go
  internal/injector/typed/typecheck_test.go
Due: Aspects, Injector

chore: Address review comments requires minor changes
  internal/injector/aspect/advice/call_test.go
  internal/injector/config/builtin.go
  internal/injector/typed/typename.go
Due: Aspects, Injector

chore: Address review comments
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/join.go
Due: Aspects, Injector

refactor(injector): Refactor TypeName handling and migrate to typed package
  _docs/generator/template-funcs.go
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/call_test.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/struct.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/struct.go
  internal/injector/config/builtin.go
  internal/injector/typed/typename.go
  internal/injector/typed/typename_test.go
Due: Generators, Aspects, Injector

refactor(injector): Refactor TypeName handling and migrate to typed package (#615)
  _docs/generator/template-funcs.go
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/call_test.go
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/struct.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/struct.go
  internal/injector/config/builtin.go
  internal/injector/typed/typename.go
  internal/injector/typed/typename_test.go
Due: Generators, Aspects, Injector

feat: orchestrion diff (#631)
  _docs/content/docs/getting-started.md
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.sum
  internal/cmd/diff.go
  internal/injector/aspect/join/directive_test.go
  internal/injector/parse/mappedfilename.go
  internal/injector/parse/parse_test.go
  internal/injector/parse/parser.go
  internal/report/report.go
  internal/report/report_test.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/specialcase.go
  main.go
  samples/go.sum
Due: Instruments, Toolexec Driver, Aspects, Injector

chore: Address review comments
  internal/injector/typed/typecheck.go
Due: Injector

refactor(injector/typed): Refactor ResolveInterfaceTypeByName for improved clarity and error handling
  internal/injector/typed/typecheck.go
Due: Injector
