Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Test Harness

chore: allow manual runs of docsite publisher
  .github/workflows/docsite.yml
Due: none

chore: publish documentation site on all pushes
  .github/workflows/docsite.yml
Due: none

Update RELEASING.md
  RELEASING.md
Due: none

chore: remove SRI tags from scripts, too
  docs/layouts/partials/scripts.html
Due: none

chore: correct `gh release create` command, edit RELEASING.md (#151)
  .github/workflows/release.yml
  RELEASING.md
Due: none

chore: use PAT to authorize CI on self-mutation
  .github/workflows/generate.yml
Due: none

Permalink + dedup
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/runtime.yml
Due: Injector

chore: use PAT to authorize CI on self-mutation (#154)
  .github/workflows/generate.yml
Due: none

readme: friendlier landing repo page
  README.md
Due: none

docs: friendlier landing repo page (#162)
  README.md
Due: none

Isolate signal test to UNIX only
  _integration-tests/gls/access_test.go
  _integration-tests/gls/access_unix_test.go
Due: Test Harness

fix: cannot lazily link against GLS accessors (#127)
  _integration-tests/gls/access.go
  _integration-tests/gls/access_test.go
  _integration-tests/gls/access_unix_test.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/runtime.yml
Due: Injector, Test Harness

feat: support instrumentation of go.mongodb.org/mongo-driver/mongo
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/mongo/main.go
  _integration-tests/tests/suite.generated.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/databases/mongo.yml
  samples/client/mongo.go
  samples/go.mod
  samples/go.sum
Due: Injector, Test Harness

chore: update generated files
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
Due: Test Harness

internal/injector/builtin/testdata/client: generate mongo.go.snap file
  internal/injector/builtin/testdata/client/mongo.go.snap
Due: Injector

internal/injector/builtin: fix mongo's injection template
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/client/mongo.go.snap
  internal/injector/builtin/yaml/databases/mongo.yml
Due: Injector

internal/injector/builtin: remove parameter in mongo's injection template
  internal/injector/builtin/yaml/databases/mongo.yml
Due: Injector

chore: update generated files
  internal/injector/builtin/generated.go
Due: Injector

internal/injector/builtin: update mongo.snap
  internal/injector/builtin/testdata/client/mongo.go.snap
Due: Injector

_integration-tests/tests/mongo: fix mongo span sample
  _integration-tests/tests/mongo/main.go
Due: Test Harness

internal/injector/builtin/yaml/databases/mongo: fix imports
  internal/injector/builtin/yaml/databases/mongo.yml
Due: Injector

internal/injector/builtin: apply code review feedback
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/client/mongo.go.snap
  internal/injector/builtin/yaml/databases/mongo.yml
Due: Injector

fix: go artifact cache may not be invalidated correctly
  internal/toolexec/version.go
  main.go
Due: Toolexec Driver

codecov: Fixup notify after n builds
  codecov.yml
Due: none

add test
  internal/toolexec/version_test.go
Due: Toolexec Driver

fix situation with directory replaces
  internal/golist/golist.go
  internal/toolexec/aspect/resolve.go
  internal/toolexec/version.go
  internal/toolexec/version_test.go
Due: Go Driver, Toolexec Driver

chore: update generated files
  go.mod
Due: none

internal/injector/builtin: simplify mongo IIFE template
  internal/injector/builtin/yaml/databases/mongo.yml
Due: Injector

internal/injector/builtin: apply code review feedback
  internal/injector/builtin/testdata/client/mongo.go.snap
Due: Injector

Try not to consolidate coverage reports from integration; simply ship them as-is
  .github/workflows/tests.yml
Due: none

Protect against stale go.mod signal
  internal/toolexec/version_test.go
Due: Toolexec Driver

feat: support instrumentation of `go.mongodb.org/mongo-driver/mongo` (#164)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/mongo/main.go
  _integration-tests/tests/suite.generated.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/mongo.go.snap
  internal/injector/builtin/yaml/databases/mongo.yml
  samples/client/mongo.go
  samples/go.mod
  samples/go.sum
Due: Injector, Test Harness

Explicit go mod tidy
  internal/toolexec/version_test.go
Due: Toolexec Driver

Revert "Try not to consolidate coverage reports from integration; simply ship them as-is"
  .github/workflows/tests.yml
Due: none

Try to set ulimit higher
  .github/workflows/tests.yml
Due: none

Use gotip to aggregate coverage data
  .github/workflows/tests.yml
Due: none

Stop tweaking ulimit (wont work)
  .github/workflows/tests.yml
Due: none

Make codecov config valid again
  codecov.yml
Due: none

Path conditions:
  Instruments: any of: instrument/**, but not: **/generator/main.go, samples/**, tools/**
  Go Driver: any of: internal/go*/**, but not: **/generator/main.go, samples/**, tools/**
  Toolexec Driver: any of: internal/toolexec/**, but not: **/generator/main.go, samples/**, tools/**
  Aspects: any of: internal/injector/aspect/**, but not: **/generator/main.go, samples/**, tools/**
  Injector: any of: internal/injector/**, but not: **/generator/main.go, samples/**, tools/**
  Test Harness: any of: _integration-tests/**, but not: **/generator/main.go, samples/**, tools/**
