Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

Typofix
  internal/fingerprint/fingerprint.go
  internal/fingerprint/fingerprint_test.go
Due: none

refactor(fingerprint): switch to lower level functions to create the hash
  internal/fingerprint/fingerprint.go
  internal/fingerprint/types.go
Due: none

fix(injector: join): missing struct members to fingerprint
  internal/fingerprint/types.go
  internal/injector/aspect/advice/code/template.go
  internal/injector/aspect/context/golang.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/struct.go
Due: Aspects, Injector

Use 0x prefix for bytes
  internal/fingerprint/fingerprint.go
Due: none

feat: mechanism to fingerprint arbitrary data (#392)
  internal/fingerprint/fingerprint.go
  internal/fingerprint/fingerprint_test.go
  internal/fingerprint/types.go
  internal/injector/aspect/advice/advice.go
  internal/injector/aspect/advice/assign.go
  internal/injector/aspect/advice/block.go
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/call_test.go
  internal/injector/aspect/advice/code/template.go
  internal/injector/aspect/advice/import.go
  internal/injector/aspect/advice/inject.go
  internal/injector/aspect/advice/struct.go
  internal/injector/aspect/advice/wrap.go
  internal/injector/aspect/aspect.go
  internal/injector/aspect/context/golang.go
  internal/injector/aspect/join/all-of.go
  internal/injector/aspect/join/configuration.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/expression.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/not.go
  internal/injector/aspect/join/one-of.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/struct.go
Due: Aspects, Injector

fix: net/http server-side instrumentation
  instrument/http.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/net-http.server.yml
Due: Instruments, Injector

add tests
  _integration-tests/tests/chi.v5/chi.go
  _integration-tests/tests/gorilla_mux/gen_test.go
  _integration-tests/tests/gorilla_mux/gorilla_mux.go
  _integration-tests/tests/net_http/base.go
  _integration-tests/tests/net_http/func_handler.go
  _integration-tests/tests/net_http/gen_test.go
  _integration-tests/tests/net_http/handler_implementation.go
  _integration-tests/tests/net_http/issue_400.go
  _integration-tests/tests/net_http/serve_mux_handler.go
  _integration-tests/utils/suite.go
  docs/content/docs/custom-trace.md
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/server/chiv5.go.snap
  internal/injector/builtin/testdata/server/gorilla.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/testdata/server/other_handlers.go.snap
  internal/injector/builtin/yaml/stdlib/net-http.server.yml
  samples/server/gorilla.go
Due: Injector, Integration Test Suite

chore: update generated files
  _integration-tests/tests/gorilla_mux/gen_test.go
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

fix lint
  _integration-tests/tests/net_http/base.go
Due: Integration Test Suite

feat: dynamically load injector configuration
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/injector/aspect/aspect.go
  internal/injector/builtin/builtin.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/generator/main.go
  internal/injector/builtin/generator/schema.go
  internal/injector/builtin/integration_test.go
  internal/injector/config/validate.go
  internal/injector/injector.go
  internal/injector/injector_test.go
  internal/jobserver/buildid/version.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/version_test.go
  samples/go.mod
  samples/go.sum
Due: Generators, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

add vendor.go file in YAML-only directories
  _integration-tests/orchestrion.tool.go
  internal/injector/builtin/builtin.go
  internal/injector/builtin/yaml/api/vendor.go
  internal/injector/builtin/yaml/civisibility/vendor.go
  internal/injector/builtin/yaml/cloud/vendor.go
  internal/injector/builtin/yaml/databases/vendor.go
  internal/injector/builtin/yaml/datastreams/vendor.go
  internal/injector/builtin/yaml/directive/vendor.go
  internal/injector/builtin/yaml/graphql/vendor.go
  internal/injector/builtin/yaml/http/vendor.go
  internal/injector/builtin/yaml/logs/vendor.go
  internal/injector/builtin/yaml/rpc/vendor.go
  internal/injector/builtin/yaml/stdlib/vendor.go
  internal/injector/builtin/yaml/vendor.go
Due: Injector, Integration Test Suite

chore: restore lost dependencies
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/generator/doc.tmpl
  internal/injector/builtin/generator/main.go
  internal/injector/builtin/generator/schema.go
  samples/go.mod
  samples/go.sum
Due: Generators, Injector, Integration Test Suite

chore(codecov): single upload per flag
  .github/workflows/validate.yml
Due: none

feat: rename `dd:ignore` to `orchestrion:ignore`
  README.md
  _integration-tests/tests/chi.v5/chi.go
  _integration-tests/tests/gcp_pubsub/gcp_pubsub.go
  docs/content/docs/_index.md
  docs/content/docs/custom-trace.md
  docs/content/docs/features.md
  internal/injector/injector.go
  internal/injector/labels.go
  internal/injector/testdata/injector/http-ignored/config.yml
Due: Injector, Integration Test Suite

Fix merge artifact
  internal/toolexec/version_test.go
Due: Toolexec Driver

Denote library-side contributions in README, etc...
  README.md
  docs/content/docs/custom-trace.md
Due: none

JS ellipsis is prefix, not postfix
  .github/workflows/validate.yml
Due: none

Fix artifacts download
  .github/workflows/validate.yml
Due: none

Feedback from @eliottness
  README.md
  docs/content/docs/custom-trace.md
  docs/layouts/partials/navbar.html
Due: none

feat: rename `dd:ignore` to `orchestrion:ignore` (#405)
  README.md
  _integration-tests/tests/chi.v5/chi.go
  _integration-tests/tests/gcp_pubsub/gcp_pubsub.go
  docs/content/docs/_index.md
  docs/content/docs/custom-trace.md
  docs/content/docs/features.md
  docs/layouts/partials/navbar.html
  internal/injector/injector.go
  internal/injector/labels.go
  internal/injector/testdata/injector/http-ignored/config.yml
Due: Injector, Integration Test Suite

fix tests
  _integration-tests/tests/echo.v4/echo.go
  _integration-tests/tests/fiber.v2/fiber.go
  _integration-tests/tests/gin/gin.go
  _integration-tests/tests/gorilla_mux/gorilla_mux.go
  _integration-tests/tests/net_http/issue_400.go
  internal/injector/config/testdata/instrument.snap.yml
Due: Injector, Integration Test Suite

remove tab
  docs/content/docs/custom-trace.md
Due: none

update test
  internal/injector/config/config_test.go
Due: Injector

fix(pin): segfault orchestrion.tool.go is not valid go code
  internal/pin/pin.go
Due: none

test(pin): add empty orchestrion.tool.go test
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

fix fiber test
  _integration-tests/tests/fiber.v2/fiber.go
Due: Integration Test Suite

use *testing.B from the subtest instead of the parent test
  main_test.go
Due: none

fix lint
  main_test.go
Due: none

tests: add benchmark for building test packages
  main_test.go
Due: none

flagFiles
  .github/workflows/validate.yml
Due: none

fix(injector: builtin: sql): driver is not registered from non-instrumented sql calls
  _integration-tests/tests/sql/sql.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/database-sql.yml
Due: Injector, Integration Test Suite

fix: properly forward link.deps from transitive dependencies even if no instrumentation happend in a package
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver

clean up some of the on-compile hook to make it easier to follow
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
Due: Toolexec Driver

Provide CodeCov token
  .github/workflows/validate.yml
Due: none

Remove excessive pruning of link.deps file
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver

tests: add benchmark for building test packages (#410)
  main_test.go
Due: none

Remove all AsCode implementations
  internal/injector/aspect/advice/advice.go
  internal/injector/aspect/advice/assign.go
  internal/injector/aspect/advice/block.go
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/code/template.go
  internal/injector/aspect/advice/import.go
  internal/injector/aspect/advice/inject.go
  internal/injector/aspect/advice/struct.go
  internal/injector/aspect/advice/wrap.go
  internal/injector/aspect/aspect.go
  internal/injector/aspect/join/all-of.go
  internal/injector/aspect/join/configuration.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/expression.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/join.go
  internal/injector/aspect/join/not.go
  internal/injector/aspect/join/one-of.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/struct.go
Due: Aspects, Injector

Fix unit test
  main_test.go
Due: none
