Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

chore(Makefile): Add/Configure yaml and action linters/formatters
  .yamlfmt
  Makefile
Due: none

chore(*.yml): Format yaml files
  .github/actions/codecov-cli/action.yml
  .github/actions/codecov-upload/action.yml
  .github/dependabot.yml
  .github/workflows/deps-update.yml
  .github/workflows/docsite.yml
  .github/workflows/ossf-scorecard.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release.yml
  .github/workflows/sast.yml
  .github/workflows/validate.yml
  .golangci.yml
  codecov.yml
Due: none

chore(.github/workflows): Add Ratchet to make sure everything is pinned
  .github/actions/codecov-cli/action.yml
  .github/workflows/validate.yml
  Makefile
Due: none

chore(.github/workflows): Add actionlint and fix the discovered issues
  .github/actionlint.yaml
  .github/workflows/deps-update.yml
  .github/workflows/release.yml
  .github/workflows/validate.yml
Due: none

chore(.github/workflows): Add a format check
  .github/workflows/validate.yml
  Makefile
Due: none

chore: Add linters/formatters for GH actions (#726)
  .github/actionlint.yaml
  .github/actions/codecov-cli/action.yml
  .github/actions/codecov-upload/action.yml
  .github/dependabot.yml
  .github/workflows/deps-update.yml
  .github/workflows/docsite.yml
  .github/workflows/ossf-scorecard.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release.yml
  .github/workflows/sast.yml
  .github/workflows/validate.yml
  .golangci.yml
  .yamlfmt
  Makefile
  codecov.yml
Due: none

upgrade to v2.3.0-rc.2
  go.mod
  go.sum
  internal/version/version.go
Due: none

fix ddtracego version
  _docs/go.mod
  _docs/go.sum
  _tools/go.mod
  _tools/go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

fix(samples): Fix snapshot regression tests
  samples/testdata/client/gorm.go.snap
  samples/testdata/client/http.go.snap
  samples/testdata/client/main.go.snap
  samples/testdata/server/main.go.snap
Due: none

feat: bump dd-trace-go to v2.3.0
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

release: v1.6.0 (#698)
  LICENSE-3rdparty.csv
  _docs/go.mod
  _docs/go.sum
  _tools/go.mod
  _tools/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
  samples/testdata/client/gorm.go.snap
  samples/testdata/client/http.go.snap
  samples/testdata/client/main.go.snap
  samples/testdata/server/main.go.snap
Due: Instruments

chore(Makefile): Add/Configure yaml and action linters/formatters
  Makefile
Due: none

chore(.github/workflows): Add Ratchet to make sure everything is pinned
  .github/workflows/validate.yml
  Makefile
Due: none

chore(.github/workflows): Add a format check
  .github/workflows/validate.yml
Due: none

chore(docs): Generate and update contributing docs
  .github/workflows/validate.yml
  CONTRIBUTING.md
  Makefile
  README.md
  RELEASING.md
Due: none

chore(docs): Generate and update contributing docs (#727)
  .github/workflows/validate.yml
  CONTRIBUTING.md
  Makefile
  README.md
  RELEASING.md
Due: none

chore: Fix typos
  internal/goproxy/dashc.go
  internal/injector/parse/mappedfilename.go
  main_test.go
Due: Go Driver, Injector

Downgrade click version from 8.3.0 to 8.1.8
  .github/actions/codecov-cli/requirements-dev.txt
Due: none

chore: Fix typos (#731)
  internal/goproxy/dashc.go
  internal/injector/parse/mappedfilename.go
  main_test.go
Due: Go Driver, Injector

fix(internal/ensure): Do not fail hard when the submodule does not exist
  internal/ensure/requiredintegrations.go
  internal/ensure/requiredintegrations_test.go
Due: none

fix(internal/ensure): Do not fail hard when the submodule does not exist (#736)
  internal/ensure/requiredintegrations.go
  internal/ensure/requiredintegrations_test.go
Due: none

chore: Cut v1.6.1
  _docs/go.mod
  instrument/go.mod
  internal/version/version.go
  samples/go.mod
Due: Instruments

release: v1.6.1 (#737)
  _docs/go.mod
  instrument/go.mod
  internal/version/version.go
  samples/go.mod
Due: Instruments

chore(checks): Add checkmake
  .checkmake
  .github/workflows/validate.yml
  Makefile
Due: none

chore(checks): Add checkmake (#742)
  .checkmake
  .github/workflows/validate.yml
  CONTRIBUTING.md
  Makefile
Due: none

chore(.github/actions/codecov-cli): downgrade click to the highest compatible version for codecov-cli
  .github/actions/codecov-cli/requirements-dev.txt
Due: none

chore(.github/actions/codecov-cli): downgrade test_results_parser to the highest compatible version for codecov-cli
  .github/actions/codecov-cli/requirements-dev.txt
Due: none

chore: re-enable schema validation for V2 integrations
  _docs/generator/main.go
Due: Generators

chore: re-enable schema validation for V2 integrations (#755)
  _docs/generator/main.go
Due: Generators

make sure handler functions are properly ignored
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
Due: Aspects, Injector

nit: better organization
  internal/injector/aspect/join/function.go
Due: Aspects, Injector

release: v1.7.0-rc.1
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

chore: run all generators & fix checkmake check
  LICENSE-3rdparty.csv
  Makefile
  _docs/go.mod
  samples/go.mod
Due: none

chore(.github/workflows): fix checkmake check
  .github/workflows/validate.yml
Due: none

release: v1.7.0-rc.1 (#759)
  .github/workflows/validate.yml
  LICENSE-3rdparty.csv
  Makefile
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

chore(deps): remove non-direct dependencies from requirements-dev.txt
  .github/actions/codecov-cli/requirements-dev.txt
Due: none

chore(deps): remove non-direct dependencies from requirements-dev.txt (#761)
  .github/actions/codecov-cli/requirements-dev.txt
Due: none

release: v1.7.0
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

fix: set correct org for checkmake
  .github/workflows/validate.yml
Due: none

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Integration Test Suite: any of: _integration-tests/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
