Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

Upgrade golangci-lint
  .github/workflows/validate.yml
Due: none

docs: architecture documentation (#504)
  .github/workflows/validate.yml
  _docs/content/docs/architecture.md
  _docs/generator/doc.join.declaration-of.tmpl
  _docs/go.mod
  _docs/go.sum
Due: none

release: v1.1.0-rc.2 (#542)
  .github/conventional-commits.yml
  .github/dependabot.yml
  .github/release.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release.yml
  internal/version/version.go
  samples/go.mod
Due: none

chore: upgrade go dependencies, minimum supported go runtime
  _docs/go.mod
  _docs/go.sum
  _tools/go.mod
  _tools/go.sum
  go.mod
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

chore: upgrade go dependencies, minimum supported go runtime (#544)
  _docs/go.mod
  _docs/go.sum
  _tools/go.mod
  _tools/go.sum
  go.mod
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

chore: more logging around job server start
  internal/cmd/server.go
  internal/jobserver/client/env.go
Due: Job Server

Silcence revive false positive
  internal/jobserver/client/env.go
Due: Job Server

Perform read/write operations though the filelock.Mutex
  internal/cmd/server.go
  internal/filelock/filelock.go
  internal/filelock/filelock_posix.go
  internal/filelock/filelock_test.go
  internal/filelock/filelock_windows.go
  internal/filelock/io.go
  internal/jobserver/client/env.go
  internal/pin/pin.go
Due: Job Server

Properly handle idempotent job server with URL file
  internal/jobserver/client/env.go
Due: Job Server

Update internal/filelock/filelock.go
  internal/filelock/filelock.go
Due: none

Use custom PR labeler that works off PR's title
  .github/conventional-commits.yml
  .github/workflows/pr-labeler.yml
  _tools/conventionalcommit/main.go
  _tools/go.mod
  _tools/go.sum
Due: none

fix: job server fails to start on Windows due to locking error (#545)
  .github/conventional-commits.yml
  .github/workflows/pr-labeler.yml
  _tools/conventionalcommit/main.go
  _tools/go.mod
  _tools/go.sum
  internal/cmd/server.go
  internal/filelock/filelock.go
  internal/filelock/filelock_posix.go
  internal/filelock/filelock_test.go
  internal/filelock/filelock_windows.go
  internal/filelock/io.go
  internal/jobserver/client/env.go
  internal/pin/pin.go
Due: Job Server

chore: don't upload artifact if there is none
  .github/workflows/deps-update.yml
Due: none

release: v1.1.0-rc.3
  internal/injector/config/builtin.go
  internal/version/version.go
Due: Injector

chore: don't upload artifact if there is none (#547)
  .github/workflows/deps-update.yml
Due: none

chore: fix broken dependency updater workflow
  .github/workflows/deps-update.yml
  .github/workflows/validate.yml
  _docs/go.mod
  _docs/go.sum
  _tools/go.mod
  _tools/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

chore: fix broken dependency updater workflow (#549)
  .github/workflows/deps-update.yml
  .github/workflows/validate.yml
  _docs/go.mod
  _docs/go.sum
  _tools/go.mod
  _tools/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

chore: apply tracer-internal-only to dd-trace-go V2
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver

Also allow v1 integration tests, duh.
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver

chore: apply tracer-internal-only to dd-trace-go V2 (#550)
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver

release: v1.1.0-rc.3 (#548)
  internal/injector/config/builtin.go
  internal/version/version.go
Due: Injector

chore(docs): Fix typos and spellcheck
  .github/workflows/validate.yml
  .golangci.yml
  _docs/content/contributing/aspects/code-templates.md
  _docs/content/docs/architecture.md
  _docs/content/docs/dd-trace-go/_index.md
  _docs/content/docs/dd-trace-go/custom-trace.md
  _docs/content/docs/getting-started.md
  _docs/content/docs/troubleshooting.md
  _docs/typos.toml
  internal/injector/aspect/join/directive.go
  internal/injector/config/schema.json
  internal/injector/injector.go
  internal/toolexec/version_test.go
Due: Toolexec Driver, Aspects, Injector

Add ignore word
  _docs/content/docs/architecture.md
  _docs/typos.toml
Due: none

release: v1.1.0
  instrument/go.mod
  instrument/go.sum
  internal/pin/pin.go
  internal/version/version.go
Due: Instruments

De-pluralize advice
  _docs/content/docs/architecture.md
  _docs/typos.toml
Due: none

docs: restore generated docs for join points & advice
  _docs/generator/main.go
  _docs/generator/schema.go
  _docs/go.mod
Due: Generators

chore(docs): Fix typos and spellcheck (#551)
  .github/workflows/validate.yml
  .golangci.yml
  _docs/content/contributing/aspects/code-templates.md
  _docs/content/docs/architecture.md
  _docs/content/docs/dd-trace-go/_index.md
  _docs/content/docs/dd-trace-go/custom-trace.md
  _docs/content/docs/getting-started.md
  _docs/content/docs/troubleshooting.md
  _docs/typos.toml
  internal/injector/aspect/join/directive.go
  internal/injector/config/schema.json
  internal/injector/injector.go
  internal/toolexec/version_test.go
Due: Toolexec Driver, Aspects, Injector

release: v1.1.0 (#555)
  instrument/go.mod
  instrument/go.sum
  internal/pin/pin.go
  internal/version/version.go
Due: Instruments

docs: restore generated docs for join points & advice (#556)
  _docs/generator/main.go
  _docs/generator/schema.go
  _docs/go.mod
Due: Generators

fix: add-struct-field does not implicitly import the type's package
  internal/injector/aspect/advice/struct.go
  internal/injector/testdata/injector/add-struct-field/config.yml
  internal/injector/testdata/injector/add-struct-field/modified.go.snap
Due: Aspects, Injector

fix: add-struct-field does not implicitly import the type's package (#559)
  internal/injector/aspect/advice/struct.go
  internal/injector/testdata/injector/add-struct-field/config.yml
  internal/injector/testdata/injector/add-struct-field/modified.go.snap
Due: Aspects, Injector

chore: update generated files
  _docs/go.sum
  instrument/go.sum
  samples/go.sum
Due: Instruments

fix: rosetta not being detected when command is [rosetta]
  internal/goflags/flags.go
Due: Go Driver

add qemu and err nil checks
  internal/goflags/flags.go
Due: Go Driver

feat: new //orchestrion:version pragma
  internal/injector/config/builtin.go
  runtime/built/built.go
  runtime/built/built_test.go
Due: Injector
