Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Instruments, Go Driver, Toolexec Driver, Aspects, Injector

doc: update integration test instructions
  _integration-tests/README.md
Due: none

doc: update integration test instructions (#169)
  _integration-tests/README.md
Due: none

fix: go artifact cache may not be invalidated correctly (#166)
  .github/workflows/tests.yml
  codecov.yml
  go.mod
  internal/golist/golist.go
  internal/toolexec/aspect/resolve.go
  internal/toolexec/version.go
  internal/toolexec/version_test.go
  main.go
Due: Go Driver, Toolexec Driver

feat: orchestrion job server to reduce duplicated effort
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/filelock/filelock.go
  internal/filelock/filelock_posix.go
  internal/filelock/filelock_test.go
  internal/filelock/filelock_windows.go
  internal/goproxy/proxy.go
  internal/jobserver/buildid/buildid.go
  internal/jobserver/buildid/version.go
  internal/jobserver/client/client.go
  internal/jobserver/client/env.go
  internal/jobserver/client/syscall_unix.go
  internal/jobserver/client/syscall_windows.go
  internal/jobserver/common/cache.go
  internal/jobserver/common/common.go
  internal/jobserver/common/fork.go
  internal/jobserver/pkgs/pkgs.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/resolve_test.go
  internal/jobserver/run.go
  internal/jobserver/server.go
  internal/log/level.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/resolve.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/link.go
  internal/toolexec/version.go
  internal/toolexec/version_test.go
  main.go
  samples/go.mod
  samples/go.sum
Due: Go Driver, Toolexec Driver

stop appending version data to unmodified commands
  main.go
Due: none

update LICENSE-3rdparty.csv
  LICENSE-3rdparty.csv
Due: none

Handle subscription failures properly
  internal/jobserver/buildid/buildid.go
  internal/jobserver/pkgs/pkgs.go
  internal/jobserver/server.go
Due: none

codecov is still a little too eager to chime in...
  codecov.yml
Due: none

fix: injected imports conflict with local names
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/code/template.go
  internal/injector/aspect/advice/import.go
  internal/injector/aspect/advice/inject.go
  internal/injector/builtin/testdata/client/gorm.go.snap
  internal/injector/builtin/testdata/client/grpc.go.snap
  internal/injector/builtin/testdata/client/http.go.snap
  internal/injector/builtin/testdata/client/main.go.snap
  internal/injector/builtin/testdata/client/mongo.go.snap
  internal/injector/builtin/testdata/client/redis.go.snap
  internal/injector/builtin/testdata/server/chiv5.go.snap
  internal/injector/builtin/testdata/server/database.go.snap
  internal/injector/builtin/testdata/server/echov4.go.snap
  internal/injector/builtin/testdata/server/fiberv2.go.snap
  internal/injector/builtin/testdata/server/gin.go.snap
  internal/injector/builtin/testdata/server/gorilla.go.snap
  internal/injector/builtin/testdata/server/grpc.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/testdata/server/other_handlers.go.snap
  internal/injector/typed/refmap.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Aspects, Injector

Update snapshot tests to use golden
  go.mod
  go.sum
  internal/injector/injector_test.go
  internal/injector/testdata/injector.yml
  internal/injector/testdata/injector/access-return-value/config.yml
  internal/injector/testdata/injector/access-return-value/expected.diff
  internal/injector/testdata/injector/chi5-newroute-dotimport/config.yml
  internal/injector/testdata/injector/chi5-newroute-dotimport/expected.diff
  internal/injector/testdata/injector/chi5-newroute/config.yml
  internal/injector/testdata/injector/chi5-newroute/expected.diff
  internal/injector/testdata/injector/database-sql/config.yml
  internal/injector/testdata/injector/database-sql/expected.diff
  internal/injector/testdata/injector/directive/config.yml
  internal/injector/testdata/injector/directive/expected.diff
  internal/injector/testdata/injector/grpc-client/config.yml
  internal/injector/testdata/injector/grpc-client/expected.diff
  internal/injector/testdata/injector/http-anonymous-handler/config.yml
  internal/injector/testdata/injector/http-anonymous-handler/expected.diff
  internal/injector/testdata/injector/http-default/config.yml
  internal/injector/testdata/injector/http-default/expected.diff
  internal/injector/testdata/injector/http-ignored/config.yml
  internal/injector/testdata/injector/http-ignored/expected.diff
  internal/injector/testdata/injector/http-line-info/config.yml
  internal/injector/testdata/injector/http-line-info/expected.diff
  internal/injector/testdata/injector/http-no-arg-name/config.yml
  internal/injector/testdata/injector/http-no-arg-name/expected.diff
  internal/injector/testdata/injector/http-server/config.yml
  internal/injector/testdata/injector/http-server/expected.diff
  internal/injector/testdata/injector/redigo/config.yml
  internal/injector/testdata/injector/redigo/expected.diff
  samples/go.sum
Due: Injector

Make test validate outputs compile
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/http/gorilla.yml
  internal/injector/injector_test.go
  internal/injector/testdata/injector/access-return-value/config.yml
  internal/injector/testdata/injector/grpc/config.yml
  internal/injector/testdata/injector/grpc/expected.diff
  internal/injector/testdata/injector/http-anonymous-handler/config.yml
  internal/injector/testdata/injector/http-anonymous-handler/expected.diff
  internal/injector/testdata/injector/http-default/config.yml
  internal/injector/testdata/injector/http-default/expected.diff
  internal/injector/testdata/injector/http-ignored/config.yml
  internal/injector/testdata/injector/http-line-info/config.yml
  internal/injector/testdata/injector/http-line-info/expected.diff
  internal/injector/testdata/injector/http-no-arg-name/config.yml
  internal/injector/testdata/injector/http-no-arg-name/expected.diff
  internal/injector/testdata/injector/name-conflict/config.yml
  internal/injector/testdata/injector/name-conflict/expected.diff
  internal/injector/testdata/injector/redigo/config.yml
Due: Injector

Use gob encoding instead of JSON for major operations
  internal/jobserver/buildid/version.go
  internal/jobserver/client/client.go
  internal/jobserver/common/common.go
  internal/jobserver/pkgs/resolve.go
  internal/toolexec/version.go
Due: Toolexec Driver

Try to identify a valid loopback address; for IPv6-only systems
  internal/jobserver/server.go
Due: none

chore: properly label net/http client aspects
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/net-http.client.yml
Due: Injector

docs: fix broken pkg.go.dev links
  docs/layouts/shortcodes/godoc.html
Due: none

WIP: instrument net/http.ServeHTTP implementations
  _integration-tests/tests/net_http/main.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/server/chiv5.go.snap
  internal/injector/builtin/testdata/server/gorilla.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/testdata/server/other_handlers.go.snap
  internal/injector/builtin/yaml/stdlib/net-http.server.yml
Due: Injector

docs: fix broken pkg.go.dev links (#180)
  docs/layouts/shortcodes/godoc.html
Due: none

chore: properly label net/http client aspects (#179)
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/net-http.client.yml
Due: Injector

Revert "Use gob encoding instead of JSON for major operations"
  internal/jobserver/buildid/version.go
  internal/jobserver/client/client.go
  internal/jobserver/common/common.go
  internal/jobserver/pkgs/resolve.go
  internal/toolexec/version.go
Due: Toolexec Driver

docs: introduce contributor guide
  .vscode/.gitignore
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  docs/.gitignore
  docs/assets/css/custom.css
  docs/assets/images/orchestrion.jpg
  docs/config/_default/hugo.toml
  docs/config/_default/params.toml
  docs/content/_index.md
  docs/content/contributing/_index.md
  docs/content/contributing/aspects/_index.md
  docs/content/contributing/aspects/code-templates.md
  docs/content/contributing/aspects/guidelines.md
  docs/content/contributing/introduction.md
  docs/content/docs/_index.md
  docs/content/docs/configuration/_index.md
  docs/content/docs/configuration/advice/_index.md
  docs/content/docs/configuration/advice/templates.md
  docs/content/docs/configuration/join-points/_index.md
  docs/content/docs/getting-started.md
  docs/layouts/partials/navbar.html
  docs/layouts/shortcodes/releaseTag.html
  docs/static/schema.json
  go.mod
  go.sum
  internal/injector/builtin/builtin.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/generator/main.go
  internal/injector/builtin/generator/schema.go
  internal/injector/builtin/yaml/dd-span.yml
  internal/injector/builtin/yaml/directive/orchestrion-enabled.yml
  internal/injector/builtin/yaml/go-main.yml
  internal/injector/builtin/yaml/http/gorilla.yml
  internal/injector/builtin/yaml/stdlib/net-http.client.yml
  internal/injector/builtin/yaml/stdlib/net-http.server.yml
  internal/injector/builtin/yaml/stdlib/runtime.yml
Due: Injector

chore: update generated files
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: none

Add a couple of badges to README
  README.md
Due: none

Update LICENSE-3rdparty.csv
  LICENSE-3rdparty.csv
Due: none

release: v0.7.3
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: none

chore: update generated files
  go.sum
Due: none

release: v0.7.3 (#184)
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: none

Update uses of copy to match new API
  internal/toolexec/version_test.go
Due: Toolexec Driver

Use context instead of timeout
  internal/jobserver/client/client.go
  internal/jobserver/pkgs/resolve_test.go
  internal/toolexec/aspect/resolve.go
  internal/toolexec/version.go
Due: Toolexec Driver

feat: support instrumentation of k8s.io/client-go
  .gitignore
  _integration-tests/README.md
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/k8s_client_go/main.go
  _integration-tests/tests/suite.generated.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/k8s-client.yml
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
Due: Toolexec Driver, Injector

chore: update generated files
  go.sum
  samples/go.sum
Due: none

feat: support instrumentation of hashicorp/vault
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/vault/main.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/vault.go.snap
  internal/injector/builtin/yaml/api/vault.yml
  samples/client/vault.go
  samples/go.mod
  samples/go.sum
Due: Injector

feat: proactively detect injection cycles
  internal/jobserver/common/cache.go
  internal/jobserver/common/graph.go
  internal/jobserver/common/graph_test.go
  internal/jobserver/pkgs/pkgs.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/resolve_test.go
  internal/toolexec/aspect/resolve.go
Due: Toolexec Driver

Use yaml-language-server annotation to bind schemas
  .github/dependabot.yml
  .golangci.yml
  .vscode/.gitignore
  .vscode/settings.json
  codecov.yml
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/databases/go-redis.yml
  internal/injector/builtin/yaml/databases/gorm.yml
  internal/injector/builtin/yaml/databases/mongo.yml
  internal/injector/builtin/yaml/databases/redigo.yml
  internal/injector/builtin/yaml/dd-span.yml
  internal/injector/builtin/yaml/directive/orchestrion-enabled.yml
  internal/injector/builtin/yaml/go-main.yml
  internal/injector/builtin/yaml/grpc.yml
  internal/injector/builtin/yaml/http/chi.yml
  internal/injector/builtin/yaml/http/echo.yml
  internal/injector/builtin/yaml/http/fiber.yml
  internal/injector/builtin/yaml/http/gin.yml
  internal/injector/builtin/yaml/http/gorilla.yml
  internal/injector/builtin/yaml/stdlib/database-sql.yml
  internal/injector/builtin/yaml/stdlib/net-http.client.yml
  internal/injector/builtin/yaml/stdlib/net-http.server.yml
  internal/injector/builtin/yaml/stdlib/runtime.yml
Due: Injector

Work around https://github.com/nats-io/nats-server/issues/5721
  internal/jobserver/server.go
Due: none

fix implementation
  _integration-tests/tests/k8s_client_go/common.go
  _integration-tests/tests/k8s_client_go/new_cfg_func.go
  _integration-tests/tests/k8s_client_go/struct_literal_with_param.go
  _integration-tests/tests/k8s_client_go/struct_literal_without_param.go
  _integration-tests/tests/suite.generated.go
  _integration-tests/tests/suite.go
  _integration-tests/tests/suite_test.go
  _integration-tests/utils/generator/main.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/k8s-client.yml
Due: Injector

chore: update generated files
  _integration-tests/go.mod
  samples/go.mod
  samples/go.sum
Due: none

remove unused code
  _integration-tests/utils/generator/main.go
Due: none

feat: add continuous profiler instrumentation
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/main.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/yaml/go-main.yml
  samples/go.mod
  samples/go.sum
Due: Injector

Path conditions:
  Instruments: any of: instrument/**, but not: **/generator/main.go, samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: **/generator/main.go, samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: **/generator/main.go, samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: **/generator/main.go, samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: **/generator/main.go, samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
