Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

chore: update generated files
  LICENSE-3rdparty.csv
Due: none

Add unit tests
  internal/goflags/cmdline_windows.go
  internal/goflags/cmdline_windows_test.go
Due: Go Driver

Run unit tests on Windows, too.
  .github/workflows/validate.yml
Due: none

Fix test unexpectedly succeeding
  internal/goflags/cmdline_windows_test.go
Due: Go Driver

Fix file locking on Windows incorrectly assuming lock upgrade semantics
  internal/filelock/filelock.go
  internal/filelock/filelock_posix.go
  internal/filelock/filelock_windows.go
Due: none

go mod tidy
  instrument/go.mod
  instrument/go.sum
  instrument/orchestrion.tool.go
  samples/go.mod
  samples/go.sum
Due: Instruments

Fix test assumptions
  internal/injector/config/config_test.go
  internal/injector/config/testdata/instrument.snap.yml
Due: Injector

Increase timeout for windows tests
  .github/workflows/validate.yml
  internal/injector/injector_test.go
Due: Injector

go mod tidy (again)
  samples/go.mod
Due: none

use eol=lf on snapshot files
  internal/injector/injector_test.go
  internal/injector/testdata/.gitattributes
  samples/testdata/.gitattributes
Due: Injector

fix(injector: config): better error message when orchestrion.tool.go is missing
  internal/injector/config/config-go.go
  internal/injector/config/config_test.go
  internal/jobserver/buildid/version.go
Due: Injector, Job Server

Try to hoist gitattributes up top
  .gitattributes
  internal/injector/testdata/.gitattributes
  samples/testdata/.gitattributes
Due: Injector

Add editorconfig file
  .editorconfig
  .vscode/extensions.json
Due: none

Canonicalize windows line endings before building diff
  internal/injector/injector_test.go
Due: Injector

Hopefully done with the windows line ending insanity
  internal/injector/injector_test.go
  internal/injector/testdata/injector/access-return-value/expected.diff
  internal/injector/testdata/injector/access-return-value/modified.go.snap
  internal/injector/testdata/injector/chi5-newroute-dotimport/expected.diff
  internal/injector/testdata/injector/chi5-newroute-dotimport/modified.go.snap
  internal/injector/testdata/injector/chi5-newroute/expected.diff
  internal/injector/testdata/injector/chi5-newroute/modified.go.snap
  internal/injector/testdata/injector/database-sql/expected.diff
  internal/injector/testdata/injector/database-sql/modified.go.snap
  internal/injector/testdata/injector/directive/expected.diff
  internal/injector/testdata/injector/directive/modified.go.snap
  internal/injector/testdata/injector/grpc/expected.diff
  internal/injector/testdata/injector/grpc/modified.go.snap
  internal/injector/testdata/injector/import-shadowing/expected.diff
  internal/injector/testdata/injector/import-shadowing/modified.go.snap
  internal/injector/testdata/injector/lang-level/expected.diff
  internal/injector/testdata/injector/lang-level/modified.go.snap
  internal/injector/testdata/injector/name-conflict/expected.diff
  internal/injector/testdata/injector/name-conflict/modified.go.snap
  internal/injector/testdata/injector/redigo/expected.diff
  internal/injector/testdata/injector/redigo/modified.go.snap
  internal/injector/testdata/injector/struct-literal/expected.diff
  internal/injector/testdata/injector/struct-literal/modified.go.snap
  samples/regression_test.go
Due: Injector

fix(injector: config): better error message when orchestrion.tool.go is missing (#536)
  internal/injector/config/config-go.go
  internal/injector/config/config_test.go
  internal/jobserver/buildid/version.go
Due: Injector, Job Server

Properly chdir back all the time in auto pin tests
  internal/pin/auto_test.go
  internal/pin/pin_test.go
Due: none

Properly discard unwanted outputs
  internal/pin/pin_test.go
Due: none

fix: pragma directives not picked up on return statement
  internal/injector/aspect/join/directive.go
Due: Aspects, Injector

Additional snapshot file rename
  go.mod
  go.sum
  instrument/go.sum
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/advice/code/testdata/parse_error.snap
  samples/go.sum
Due: Instruments, Aspects, Injector

Add unit test coverage
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/directive_test.go
Due: Aspects, Injector

Fix regression test path handling
  samples/regression_test.go
Due: none

Make linter happy
  internal/injector/aspect/join/directive_test.go
Due: Aspects, Injector

Disable regression tests on Windows (behaves differently w/r/t comment placement for some reason)
  samples/regression_test.go
Due: none

Update documentation a bit
  _docs/content/docs/architecture.md
Due: none

go mod tidy
  _docs/go.mod
Due: none

go mod tidy
  _docs/go.mod
  _docs/go.sum
Due: none

Add missing declaration-of documentation template
  _docs/generator/doc.join.declaration-of.tmpl
Due: none

fix: auto-pin race condition on go.mod file (#521)
  internal/filelock/filelock.go
  internal/pin/auto_test.go
  internal/pin/gomod.go
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

Feedback from @eliottness
  internal/injector/aspect/join/directive.go
Due: Aspects, Injector

fix: pragma directives not picked up on return statement (#540)
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/directive_test.go
Due: Aspects, Injector

Add example for cache invalidation tokens
  _docs/content/docs/architecture.md
Due: none

Add some comments on the diagrams, clarify linker process
  _docs/content/docs/architecture.md
Due: none

Add some information about how the injector works
  _docs/content/docs/architecture.md
Due: none

release: v1.1.0-rc.2
  internal/version/version.go
Due: none

auto-tag submodules on release publishing
  .github/workflows/release.yml
  samples/go.mod
Due: none

Auto-label PRs and customize release notes generation
  .github/conventional-commits.yml
  .github/dependabot.yml
  .github/release.yml
  .github/workflows/pr-labeler.yml
Due: none

Set default permissions on new workflow
  .github/workflows/pr-labeler.yml
Due: none

Upgrade golangci-lint
  .github/workflows/validate.yml
Due: none

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Integration Test Suite: any of: _integration-tests/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
