Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server

codecov.yml:

# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true
comment:
  layout: diff, components, files
  behavior: new
ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - '_tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code
coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true
component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: other
      name: Other

release: v1.11.0
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

chore: bump go-libddwaf/v4 from v4.9.0 to v4.10.0 across all modules
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

release: v1.11.0 (#842)
  _docs/go.mod
  _docs/go.sum
  go.mod
  go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

fix: restrict self-mutation OIDC token scope
  .github/chainguard/self.github.validate.self-mutation.sts.yaml
  .github/workflows/validate.yml
Due: none

fix: narrow validate sts policy
  .github/chainguard/self.github.validate.self-mutation.sts.yaml
Due: none

fix(ci): skip OIDC integration workflow for fork PRs
  .github/workflows/validate.yml
Due: none

ci: restrict benchmark runner to trusted PRs
  .github/workflows/validate.yml
Due: none

chore: restrict benchmark runner to trusted PRs (#849)
  .github/workflows/validate.yml
Due: none

fix(ci): skip OIDC-enabled integration workflow for fork PRs (#847)
  .github/workflows/validate.yml
Due: none

fix: narrow validate STS policy (#846)
  .github/chainguard/self.github.validate.self-mutation.sts.yaml
Due: none

feat(join): match functions without receivers
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/config/schema.json
Due: Aspects, Injector

feat(join): match methods with any receiver
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/config/schema.json
Due: Aspects, Injector

fix: heuristic for any/no receiver
  internal/injector/aspect/join/function.go
Due: Aspects, Injector

feat(runtime/taint): add runtime taint propagation
  runtime/taint/README.md
  runtime/taint/buffer.go
  runtime/taint/builder.go
  runtime/taint/bytes.go
  runtime/taint/bytes_test.go
  runtime/taint/concurrency_test.go
  runtime/taint/constructors.go
  runtime/taint/instrument/doc.go
  runtime/taint/instrument/instrument_test.go
  runtime/taint/instrument/orchestrion.yml
  runtime/taint/range.go
  runtime/taint/registry.go
  runtime/taint/runes.go
  runtime/taint/scalar.go
  runtime/taint/sink.go
  runtime/taint/sink_test.go
  runtime/taint/string.go
  runtime/taint/string_test.go
  runtime/taint/transforms.go
Due: none

feat(injector): add typed value operation join points
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/join/package_test.go
  internal/injector/aspect/join/value_operation.go
  internal/injector/aspect/join/value_operation_ast.go
  internal/injector/aspect/join/value_operation_types.go
Due: Aspects, Injector

feat(injector): support statement-level taint advice
  internal/injector/aspect/advice/insert_after.go
  internal/injector/aspect/advice/replace.go
  internal/injector/config/schema.json
  internal/injector/config/validate_test.go
  internal/injector/injector.go
Due: Aspects, Injector

test(iast): add patched compiler fixture suite
  experiments/go-shadow/fixture/addressparam/main.go
  experiments/go-shadow/fixture/call/main.go
  experiments/go-shadow/fixture/channel/main.go
  experiments/go-shadow/fixture/channelgc/main.go
  experiments/go-shadow/fixture/channelunbuffered/main.go
  experiments/go-shadow/fixture/channelzero/main.go
  experiments/go-shadow/fixture/closurevalue/main.go
  experiments/go-shadow/fixture/dynamicdefer/main.go
  experiments/go-shadow/fixture/dynamicrecursion/main.go
  experiments/go-shadow/fixture/functionvalue/main.go
  experiments/go-shadow/fixture/heapreuse/main.go
  experiments/go-shadow/fixture/interfacecall/main.go
  experiments/go-shadow/fixture/interfacereceiver/main.go
  experiments/go-shadow/fixture/localcopy/main.go
  experiments/go-shadow/fixture/main.go
  experiments/go-shadow/fixture/mapassign/main.go
  experiments/go-shadow/fixture/mapcases/main.go
  experiments/go-shadow/fixture/mapgenericsmall/main.go
  experiments/go-shadow/fixture/mapgrowth/main.go
  experiments/go-shadow/fixture/mapvalue/main.go
  experiments/go-shadow/fixture/panic/main.go
  experiments/go-shadow/fixture/phi/main.go
  experiments/go-shadow/fixture/recoverreturn/main.go
  experiments/go-shadow/fixture/recursion/main.go
  experiments/go-shadow/fixture/selectcases/main.go
  experiments/go-shadow/fixture/selectchannel/main.go
  experiments/go-shadow/fixture/unnamedparam/main.go
  experiments/go-shadow/suite/taint_test.go
Due: none

docs(iast): document patched Go experiment
  experiments/go-shadow/0001-debug-gate.patch
  experiments/go-shadow/README.md
  experiments/go-shadow/go-taint-shadow.patch
Due: none

fix: orchestrion pin fails in projects using a Go workspace
  internal/ensure/requiredintegrations.go
  internal/ensure/requiredintegrations_test.go
Due: none

fix: orchestrion pin fails in workspace-mode submodules and lint
  internal/ensure/requiredintegrations_test.go
  internal/gomod/gomod.go
  internal/gomod/gomod_test.go
Due: Go Driver

fix: orchestrion pin fails in projects using a Go workspace (#859)
  internal/ensure/requiredintegrations.go
  internal/ensure/requiredintegrations_test.go
  internal/gomod/gomod.go
  internal/gomod/gomod_test.go
Due: Go Driver

fix(injector): preserve negated may matches
  internal/injector/aspect/may/match.go
  internal/injector/testdata/injector/function-body-negated-receiver/config.yml
  internal/injector/testdata/injector/function-body-negated-receiver/modified.go.snap
Due: Aspects, Injector

feat(join): match functions by receiver presence (#856)
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/config/schema.json
Due: Aspects, Injector

chore(ci): exclude `go.mod` from typo checks
  .typos.toml
Due: none

fix(injector): preserve negated may matches (#857)
  internal/injector/aspect/may/match.go
  internal/injector/testdata/injector/function-body-negated-receiver/config.yml
  internal/injector/testdata/injector/function-body-negated-receiver/modified.go.snap
Due: Aspects, Injector

chore: add Datadog Code Coverage upload, remove CodeCov (#841)
  .github/actions/codecov-cli/action.yml
  .github/actions/codecov-cli/requirements-dev.txt
  .github/actions/codecov-upload/action.yml
  .github/dependabot.yml
  .github/workflows/validate.yml
  codecov.yml
Due: none

refactor(toolexec): reuse package resolution
  internal/jobserver/pkgs/pkgs.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/resolve_test.go
  internal/jobserver/pkgs/testvariants.go
  internal/jobserver/pkgs/testvariants_test.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/resolve.go
  main_test.go
  orchestrion-test-variant-linkdeps.md
Due: Toolexec Driver, Job Server

refactor(jobserver): share resolver setup
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/testvariants.go
Due: Job Server

docs: remove test variant implementation plan
  orchestrion-test-variant-linkdeps.md
Due: none

fix: more sources for attempting to locate a source directory
  internal/jobserver/pkgs/testvariants.go
Due: Job Server

fix(toolexec): harden test variant resolution
  internal/jobserver/pkgs/overlay.go
  internal/jobserver/pkgs/overlay_test.go
  internal/jobserver/pkgs/resolve.go
  internal/jobserver/pkgs/resolve_test.go
  internal/jobserver/pkgs/testvariants.go
  internal/jobserver/pkgs/testvariants_test.go
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/resolve.go
  internal/toolexec/aspect/resolve_test.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/link.go
  internal/toolexec/proxy/link_test.go
  internal/toolexec/proxy/testmain.go
  internal/toolexec/proxy/testmain_test.go
  main_test.go
Due: Toolexec Driver, Job Server

fix(toolexec): preserve test link context
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/linkdeps/linkdeps_test.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/resolve.go
  internal/toolexec/aspect/resolve_test.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
Due: Toolexec Driver

fix(jobserver): locate SWIG package sources
  internal/jobserver/pkgs/testvariants.go
  internal/jobserver/pkgs/testvariants_test.go
Due: Job Server

fix(toolexec): retain synthetic edge origins
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile-main_test.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/compile_test.go
Due: Toolexec Driver

fix(toolexec): handle variant closure edge cases
  internal/cmd/toolexec.go
  internal/jobserver/pkgs/overlay.go
  internal/jobserver/pkgs/overlay_test.go
  internal/jobserver/pkgs/testvariants.go
  internal/jobserver/pkgs/testvariants_test.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile-main_test.go
  main_test.go
Due: Toolexec Driver, Job Server

fix(toolexec): validate exact test variants
  internal/jobserver/pkgs/resolve_test.go
  internal/jobserver/pkgs/testvariants.go
  internal/toolexec/aspect/linkdeps/linkdeps.go
  internal/toolexec/aspect/linkdeps/linkdeps_test.go
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile-main_test.go
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/resolve.go
  internal/toolexec/aspect/resolve_test.go
  internal/toolexec/proxy/compile.go
  internal/toolexec/proxy/testmain.go
Due: Toolexec Driver, Job Server

fix(toolexec): validate satisfied test imports early
  internal/toolexec/aspect/oncompile-main.go
  internal/toolexec/aspect/oncompile-main_test.go
  internal/toolexec/aspect/onlink.go
  internal/toolexec/aspect/resolve.go
Due: Toolexec Driver

feat(injector): add method-expression and method-value join points
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/context/context.go
  internal/injector/aspect/join/method_call.go
  internal/injector/aspect/join/method_expression.go
  internal/injector/aspect/join/method_value.go
  internal/injector/aspect/join/package_test.go
  internal/injector/check.go
  internal/injector/testdata/injector/method-expression/config.yml
  internal/injector/testdata/injector/method-expression/modified.go.snap
  internal/injector/testdata/injector/method-value/config.yml
  internal/injector/testdata/injector/method-value/modified.go.snap
Due: Aspects, Injector

feat(injector): carry byte and rune scalars across calls, maps and channels
  internal/injector/aspect/join/value_operation.go
  internal/injector/aspect/join/value_operation_ast.go
  internal/injector/aspect/join/value_operation_test.go
  internal/injector/aspect/join/value_operation_types.go
  internal/injector/config/schema.json
  internal/injector/testdata/injector/scalar-assignment-scope/config.yml
  internal/injector/testdata/injector/scalar-assignment-scope/modified.go.snap
  internal/injector/testdata/injector/scalar-container-scope/config.yml
  internal/injector/testdata/injector/scalar-container-scope/modified.go.snap
Due: Aspects, Injector
