Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

orchestrion debug
  .github/workflows/validate.yml
Due: none

fix(injector: redigo) fix bad argument type from []redis.DialOption to []any (#351)
  _integration-tests/tests/redigo/redigo.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/client/redis.go.snap
  internal/injector/builtin/yaml/databases/redigo.yml
  internal/injector/testdata/injector/redigo/config.yml
  internal/injector/testdata/injector/redigo/expected.diff
  samples/client/redis.go
Due: Injector, Integration Test Suite

add some logging
  internal/cmd/toolexec.go
  internal/jobserver/pkgs/resolve.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Job Server

set info
  .github/workflows/validate.yml
Due: none

chore: update generated files
  internal/injector/builtin/generated.go
Due: Injector

add build
  .github/workflows/validate.yml
Due: none

Revert "add some logging"
  internal/cmd/toolexec.go
  internal/jobserver/pkgs/resolve.go
  internal/toolexec/aspect/oncompile.go
Due: Toolexec Driver, Job Server

try renaming toolexec binary
  .github/workflows/validate.yml
Due: none

ci fix
  .github/workflows/validate.yml
Due: none

add verbose flags
  .github/workflows/validate.yml
Due: none

fix ci
  .github/workflows/validate.yml
  _integration-tests/tests/go-elasticsearch/skip.go
  _integration-tests/tests/go-elasticsearch/v6.go
  _integration-tests/tests/go-elasticsearch/v7.go
  _integration-tests/tests/go-elasticsearch/v8.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/databases/go-elasticsearch.yml
Due: Injector, Integration Test Suite

chore: update generated files
  _integration-tests/tests/go-elasticsearch/gen_test.go
Due: Integration Test Suite

add missing build tag
  _integration-tests/tests/go-elasticsearch/base.go
Due: Integration Test Suite

do not duplicate test cases
  _integration-tests/tests/go-elasticsearch/gen_test.go
  _integration-tests/utils/generator/main.go
Due: Generators, Integration Test Suite

refactor
  _integration-tests/tests/go-elasticsearch/skip_windows.go
  _integration-tests/tests/go-elasticsearch/v6.go
Due: Integration Test Suite

feat: support github.com/elastic/go-elasticsearch (#347)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/go-elasticsearch/base.go
  _integration-tests/tests/go-elasticsearch/gen_test.go
  _integration-tests/tests/go-elasticsearch/skip_windows.go
  _integration-tests/tests/go-elasticsearch/v6.go
  _integration-tests/tests/go-elasticsearch/v7.go
  _integration-tests/tests/go-elasticsearch/v8.go
  _integration-tests/utils/generator/main.go
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/elasticsearch.go.snap
  internal/injector/builtin/yaml/databases/go-elasticsearch.yml
  samples/client/elasticsearch.go
  samples/go.mod
  samples/go.sum
Due: Generators, Injector, Integration Test Suite

release: v0.9.4-rc.1 (#356)
  README.md
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/toolexec/version_test.go
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Toolexec Driver, Integration Test Suite

chore: use ubuntu-16-core-latest runner for linux integration tests
  .github/workflows/validate.yml
Due: none

Specify group name
  .github/workflows/validate.yml
Due: none

For some reason it's labels, not label
  .github/workflows/validate.yml
Due: none

Quote strings containing colons
  .github/workflows/validate.yml
Due: none

Can't use services without separating Linux tests
  .github/workflows/validate.yml
  _integration-tests/tests/go-redis.v0/go-redis.go
  _integration-tests/tests/go-redis.v7/go-redis.go
  _integration-tests/tests/go-redis.v8/go-redis.go
  _integration-tests/tests/go-redis.v9/go-redis.go
  _integration-tests/tests/redigo/redigo.go
  _integration-tests/utils/agent/agent.go
  _integration-tests/utils/github.go
Due: Integration Test Suite

Foward agent logs to os.Stdout / os.Stderr
  _integration-tests/utils/agent/agent.go
Due: Integration Test Suite

Fail-fast on merge_group checks since these cannot be retried anyway
  .github/workflows/validate.yml
Due: none

fix(injector: redigo) undefined: redis
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/databases/redigo.yml
Due: Injector

Mark test harness HTTP client as internal so it's not traced
  _integration-tests/utils/agent/agent.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/stdlib/net-http.client.yml
Due: Injector, Integration Test Suite

Provide session ID in trace header
  _integration-tests/tests/go-elasticsearch/base.go
Due: Integration Test Suite

Reduce parallel processes on ubuntu variant
  .github/workflows/validate.yml
  _integration-tests/utils/agent/agent.go
Due: Integration Test Suite

Ignore printf return values
  _integration-tests/utils/agent/agent.go
Due: Integration Test Suite

Use go/Version
  internal/injector/aspect/context/golang.go
Due: Aspects, Injector

Show status code of non-200 response from test agent
  _integration-tests/utils/agent/agent.go
Due: Integration Test Suite

chore(injector: redigo): update snap file
  internal/injector/builtin/testdata/client/redis.go.snap
Due: Injector

fix(injector: redigo) undefined: redis (#366)
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/client/redis.go.snap
  internal/injector/builtin/yaml/databases/redigo.yml
Due: Injector

Upgrade testcontainers-go to 0.34.0 to work around race condition
  _integration-tests/go.mod
  _integration-tests/go.sum
Due: Integration Test Suite

Skip testcontainers-needing tests if driver is not healthy
  _integration-tests/tests/aws.v1/aws.go
  _integration-tests/tests/aws.v2/base.go
  _integration-tests/tests/gcp_pubsub/gcp_pubsub.go
  _integration-tests/tests/go-elasticsearch/base.go
  _integration-tests/tests/go-redis.v0/go-redis.go
  _integration-tests/tests/go-redis.v7/go-redis.go
  _integration-tests/tests/go-redis.v8/go-redis.go
  _integration-tests/tests/go-redis.v9/go-redis.go
  _integration-tests/tests/gocql/base.go
  _integration-tests/tests/ibm_sarama/ibm_sarama.go
  _integration-tests/tests/mongo/mongo.go
  _integration-tests/tests/pgx/pgx.go
  _integration-tests/tests/redigo/redigo.go
  _integration-tests/tests/shopify_sarama/shopify_sarama.go
  _integration-tests/tests/vault/vault.go
  _integration-tests/utils/testcontainers.go
Due: Integration Test Suite

Fix broken test
  internal/injector/aspect/context/golang_test.go
Due: Aspects, Injector
