Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

chore: update generated files
  instrument/go.sum
  samples/go.sum
Due: Instruments

feat(injector: join): signature-contains (#489)
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/testdata/injector/signature-contains/config.yml
  internal/injector/testdata/injector/signature-contains/modified.go.snap
Due: Aspects, Injector

chore: add trace logs to versionSuffix
  .editorconfig
  internal/jobserver/buildid/version.go
Due: Job Server

fix: fingerprint mismatch when using go.work files
  internal/jobserver/buildid/version.go
  internal/toolexec/version_test.go
Due: Toolexec Driver, Job Server

chore: add trace logs to versionSuffix (#590)
  .editorconfig
  internal/jobserver/buildid/version.go
Due: Job Server

Feedback from @kakkoyun
  internal/jobserver/buildid/version.go
Due: Job Server

test against my branch
  .github/workflows/validate.yml
Due: none

pass in api key
  .github/workflows/validate.yml
Due: none

fix: fingerprint mismatch when using go.work files (#591)
  internal/jobserver/buildid/version.go
  internal/toolexec/version_test.go
Due: Toolexec Driver, Job Server

Trigger tests
  .github/workflows/validate.yml
Due: none

docs: auto-document v2 tracer integrations
  _docs/content/docs/dd-trace-go/.gitignore
  _docs/content/docs/dd-trace-go/_index.md
  _docs/content/docs/dd-trace-go/custom-trace.md
  _docs/content/docs/dd-trace-go/features.md
  _docs/content/docs/dd-trace-go/v1/_index.md
  _docs/content/docs/dd-trace-go/v2/_index.md
  _docs/generator/generator.go
  _docs/generator/main.go
  _docs/generator/tools.go
  _docs/go.mod
  _docs/go.sum
  _docs/orchestrion.tool.go
Due: Generators

pass api key to script
  .github/workflows/validate.yml
Due: none

remove line i'm not using anymore
  .github/workflows/validate.yml
Due: none

mess around with jobs vs steps
  .github/workflows/validate.yml
Due: none

feat(injector): Enhance aspect context with type resolution
  internal/injector/aspect/advice/code/dot_function.go
  internal/injector/aspect/advice/code/template_test.go
  internal/injector/aspect/context/context.go
  internal/injector/injector.go
Due: Aspects, Injector

use separate job to grab the api key
  .github/workflows/validate.yml
Due: none

fix formatting and add runs-on
  .github/workflows/validate.yml
Due: none

check that the secret is actually getting retrieved
  .github/workflows/validate.yml
Due: none

fix substitution
  .github/workflows/validate.yml
Due: none

fix typos
  .github/workflows/validate.yml
Due: none

maybe fix the run
  .github/workflows/validate.yml
Due: none

remove quotes?
  .github/workflows/validate.yml
Due: none

release: v1.3.1
  internal/version/version.go
Due: none

release: v1.3.1 (#596)
  internal/version/version.go
Due: none

chore: migrate from gopkg.in/yaml.v3 to github.com/goccy/go-yaml
  _docs/generator/schema.go
  go.mod
  go.sum
  internal/cmd/server.go
  internal/injector/aspect/advice/assign.go
  internal/injector/aspect/advice/block.go
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/code/template.go
  internal/injector/aspect/advice/import.go
  internal/injector/aspect/advice/inject.go
  internal/injector/aspect/advice/struct.go
  internal/injector/aspect/advice/unmarshal.go
  internal/injector/aspect/advice/wrap.go
  internal/injector/aspect/aspect.go
  internal/injector/aspect/context/golang.go
  internal/injector/aspect/context/golang_test.go
  internal/injector/aspect/join/all-of.go
  internal/injector/aspect/join/configuration.go
  internal/injector/aspect/join/declaration.go
  internal/injector/aspect/join/directive.go
  internal/injector/aspect/join/expression.go
  internal/injector/aspect/join/function.go
  internal/injector/aspect/join/function_test.go
  internal/injector/aspect/join/not.go
  internal/injector/aspect/join/one-of.go
  internal/injector/aspect/join/package.go
  internal/injector/aspect/join/struct.go
  internal/injector/aspect/join/testmain.go
  internal/injector/aspect/join/unmarshal.go
  internal/injector/config/config-yml.go
  internal/injector/config/config_test.go
  internal/injector/injector_test.go
  internal/injector/postprocess_test.go
  internal/injector/singleton/singleton.go
  internal/yaml/yaml.go
Due: Generators, Aspects, Injector

chore: update generated files
  LICENSE-3rdparty.csv
  _docs/go.mod
  _docs/go.sum
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

Add missing license header
  internal/yaml/yaml.go
Due: none

revert changes
  .github/workflows/validate.yml
Due: none

Normalize EOL on .yml/.yaml files
  .gitattributes
Due: none

pass as secret
  .github/workflows/validate.yml
Due: none

revert ref branch to main
  .github/workflows/validate.yml
Due: none

release: v1.4.0-rc.1
  _docs/go.mod
  _docs/go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

chore: enable perfsprint linter
  .golangci.yml
  internal/ensure/requiredversion_test.go
  internal/injector/aspect/advice/code/dot.go
  internal/injector/aspect/advice/code/dot_directive.go
  internal/injector/aspect/join/join_test.go
  internal/injector/config/config_test.go
  internal/injector/injector_test.go
  internal/injector/typed/refmap.go
  internal/jobserver/client/env.go
  internal/pin/gomod.go
  internal/toolexec/proxy/generator/main.go
  internal/toolexec/proxy/proxy.go
  internal/toolexec/version_test.go
  main.go
  main_test.go
  runtime/built/built_test.go
Due: Generators, Toolexec Driver, Aspects, Injector, Job Server

checkout my branch
  .github/workflows/validate.yml
Due: none
