Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

suggestion + fix header
  internal/injector/imports_test.go
  internal/injector/write.go
  tools/headercheck/header_check.go
Due: Injector

fix(injector): nil-dereference on a specific import order (#315)
  internal/injector/imports.go
  internal/injector/imports_test.go
  internal/injector/injector.go
  internal/injector/write.go
  tools/headercheck/header_check.go
Due: Injector

chore: allow validation to run for ALL commits on push (#314)
  .github/workflows/validate.yml
Due: none

Feedback from @eliottness
  internal/injector/aspect/advice/call_test.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/server/graphqlgen.go.snap
  internal/injector/builtin/yaml/graphql/gqlgen.yml
  internal/injector/builtin/yaml/graphql/graph-gophers.yml
  samples/server/graphqlgen.go
Due: Aspects, Injector

Actually generate the gqlgen server
  _integration-tests/tests/99designs.gqlgen/generated/README.md
  _integration-tests/tests/99designs.gqlgen/generated/generate.go
  _integration-tests/tests/99designs.gqlgen/generated/gqlgen.yml
  _integration-tests/tests/99designs.gqlgen/generated/graph/generated.go
  _integration-tests/tests/99designs.gqlgen/generated/graph/model/models_gen.go
  _integration-tests/tests/99designs.gqlgen/generated/graph/resolver.go
  _integration-tests/tests/99designs.gqlgen/generated/graph/schema.graphqls
  _integration-tests/tests/99designs.gqlgen/generated/graph/schema.resolvers.go
  _integration-tests/tests/99designs.gqlgen/gqlgen.go
Due: Integration Test Suite

Fix broken unit test
  internal/injector/builtin/testdata/server/graphqlgen.go.snap
Due: Injector

fix: `//dd:span` on `func main()` does not work
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/main.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/yaml/go-main.yml
  samples/client/main.go
Due: Injector

chore: update generated files
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  samples/go.mod
  samples/go.sum
Due: Integration Test Suite

feat: support for GraphQL integrations (#310)
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/99designs.gqlgen/gen_test.go
  _integration-tests/tests/99designs.gqlgen/generated/README.md
  _integration-tests/tests/99designs.gqlgen/generated/generate.go
  _integration-tests/tests/99designs.gqlgen/generated/gqlgen.yml
  _integration-tests/tests/99designs.gqlgen/generated/graph/generated.go
  _integration-tests/tests/99designs.gqlgen/generated/graph/model/models_gen.go
  _integration-tests/tests/99designs.gqlgen/generated/graph/resolver.go
  _integration-tests/tests/99designs.gqlgen/generated/graph/schema.graphqls
  _integration-tests/tests/99designs.gqlgen/generated/graph/schema.resolvers.go
  _integration-tests/tests/99designs.gqlgen/gqlgen.go
  _integration-tests/tests/graph-gophers/gen_test.go
  _integration-tests/tests/graph-gophers/graphql-go.go
  _integration-tests/tests/graphql-go/gen_test.go
  _integration-tests/tests/graphql-go/graphql.go
  go.mod
  go.sum
  internal/injector/aspect/advice/call.go
  internal/injector/aspect/advice/call_test.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/server/graphqlgen.go.snap
  internal/injector/builtin/yaml/graphql/gqlgen.yml
  internal/injector/builtin/yaml/graphql/graph-gophers.yml
  internal/injector/builtin/yaml/graphql/graphql-go.yml
  internal/injector/lineinfo/canonicalize.go
  samples/go.mod
  samples/go.sum
  samples/server/graphqlgen.go
Due: Aspects, Injector, Integration Test Suite

Split tracer & profiler startup in separate inits
  internal/injector/builtin/generated.go
  internal/injector/builtin/testdata/client/main.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/yaml/go-main.yml
Due: Injector

chore: update generated files
  internal/injector/builtin/generated.go
Due: Injector

Properly stop the tracer and profiler at the end of main instead of the end of their respective init blocks
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/main.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/yaml/go-main.yml
  internal/jobserver/pkgs/resolve.go
  main_test.go
Due: Injector, Job Server

Restore all tests
  internal/injector/aspect/advice/inject.go
  main_test.go
Due: Aspects, Injector

chore: update generated files
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
Due: Injector

fix: `//dd:span` on `func main()` does not work (#316)
  internal/injector/aspect/advice/inject.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/client/main.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/yaml/go-main.yml
  internal/jobserver/pkgs/resolve.go
  main_test.go
  samples/client/main.go
Due: Aspects, Injector, Job Server

release: v0.9.1
  README.md
  internal/version/version.go
Due: none

Record go-redis v0 client
  README.md
Due: none

Fixup broken test
  internal/ensure/integration_test.go
Due: none

Make linter happy
  internal/ensure/integration_test.go
Due: none

feat: support confluent-kafka-go v1 and v2
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/confluent-kafka-go.v1/gen_test.go
  _integration-tests/tests/confluent-kafka-go.v1/kafka.go
  _integration-tests/tests/confluent-kafka-go.v2/gen_test.go
  _integration-tests/tests/confluent-kafka-go.v2/kafka.go
  go.mod
  go.sum
  internal/injector/aspect/join/join.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/datastreams/confluentinc_kafka.yml
  internal/injector/builtin/yaml/datastreams/confluentinc_kafka_v2.yml
  samples/go.mod
  samples/go.sum
Due: Aspects, Injector, Integration Test Suite

remove unused stuff
  internal/injector/builtin/testdata/client/confluentinc_kafka_v2.go.snap
  internal/injector/builtin/testdata/server/confluentinc_kafka_v2.go.snap
  samples/client/confluentinc_kafka.go
  samples/client/confluentinc_kafka_v2.go
  samples/go.mod
  samples/go.sum
  samples/server/confluentinc_kafka.go
  samples/server/confluentinc_kafka_v2.go
Due: Injector

release: v0.9.1 (#319)
  README.md
  internal/ensure/integration_test.go
  internal/version/version.go
Due: none

working version
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/confluent-kafka-go.v1/kafka.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/datastreams/confluentinc_kafka.yml
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.go
  samples/go.mod
  samples/go.sum
Due: Toolexec Driver, Injector, Integration Test Suite

fix lint
  _integration-tests/tests/confluent-kafka-go.v2/kafka.go
  internal/injector/builtin/yaml/datastreams/confluentinc_kafka.yml
  internal/toolexec/aspect/oncompile.go
  samples/go.mod
Due: Toolexec Driver, Injector, Integration Test Suite

chore: dependency upgrade workflow fails
  .github/workflows/deps-update.yml
Due: none

chore: dependency upgrade workflow fails (#325)
  .github/workflows/deps-update.yml
Due: none

Fixup the broken test
  internal/jobserver/pkgs/resolve_test.go
Due: Job Server

update dd-trace-go version
  _integration-tests/go.mod
  _integration-tests/go.sum
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/datastreams/confluentinc_kafka.yml
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.go
  samples/go.mod
  samples/go.sum
Due: Toolexec Driver, Injector, Integration Test Suite

refactor
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/segmentio_kafka.v0/segmentio_kafka.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/yaml/datastreams/segmentio_kafka_v0.yml
  samples/go.mod
  samples/go.sum
Due: Injector, Integration Test Suite

Set up dependency grouping
  .github/dependabot.yml
Due: none

feat(injector: stdlib): instrument testing.[M, T, B] with CI Visibility
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/civisibility/testing.yml
  internal/injector/builtin/yaml/go-main.yml
Due: Injector

feat: support julienschmidt/httprouter
  _integration-tests/go.mod
  _integration-tests/go.sum
  _integration-tests/tests/julienschmidt_httprouter/gen_test.go
  _integration-tests/tests/julienschmidt_httprouter/julienschmidt_httprouter.go
  go.mod
  go.sum
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/http/julienschmidt_httprouter.yml
  internal/toolexec/aspect/oncompile.go
  internal/toolexec/proxy/compile.go
  samples/go.mod
  samples/go.sum
Due: Toolexec Driver, Injector, Integration Test Suite

WIP: instrument net/http.ServeHTTP implementations
  _integration-tests/tests/net_http/net_http.go
  instrument/http.go
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/testdata/server/chiv5.go.snap
  internal/injector/builtin/testdata/server/gorilla.go.snap
  internal/injector/builtin/testdata/server/main.go.snap
  internal/injector/builtin/testdata/server/other_handlers.go.snap
  internal/injector/builtin/yaml/stdlib/net-http.server.yml
Due: Instruments, Injector, Integration Test Suite

feat(injector: stdlib): fix instrumentation by ading the missing testdeps import
  internal/injector/builtin/generated.go
  internal/injector/builtin/generated_deps.go
  internal/injector/builtin/yaml/go-main.yml
Due: Injector

feat(injector: stdlib): initial civisibility test integration tests
  _integration-tests/tests/civisibility/civisibility_payload_mocks.go
  _integration-tests/tests/civisibility/gen_test.go
  _integration-tests/tests/civisibility/main_test.go
  _integration-tests/tests/civisibility/testing_test.go
Due: Integration Test Suite

feat(injector: stdlib): changes to the tests
  _integration-tests/tests/civisibility/civisibility_payload_mocks.go
  _integration-tests/tests/civisibility/main_test.go
  _integration-tests/tests/civisibility/testing_test.go
Due: Integration Test Suite

Path conditions:
  Generators: any of: **/generator/*.go, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Instruments: any of: instrument/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Go Driver: any of: internal/go*/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Toolexec Driver: any of: internal/toolexec/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Aspects: any of: internal/injector/aspect/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Injector: any of: internal/injector/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Job Server: any of: internal/jobserver/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
  Integration Test Suite: any of: _integration-tests/**, but not: samples/**, tools/**, internal/injector/aspect/advice/code/dot_ast.proxies.go
