Repository DataDog/orchestrion: changes, and which Codecov flags are due for each by the changed paths.
All: Generators, Instruments, Go Driver, Toolexec Driver, Aspects, Injector, Job Server, Integration Test Suite

codecov.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/codecov
codecov:
  notify:
    manual_trigger: true

comment:
  layout: diff, components, files
  behavior: new

ignore:
  - 'samples/**' # This is sample code for instrumentable things
  - 'tools/**' # Repository maintenance tooling
  - 'internal/injector/aspect/advice/code/dot_ast.proxies.go' # Auto-generated proxy code

coverage:
  status:
    project:
      default:
        target: auto
        informational: true
    patch:
      default:
        target: auto
        informational: true

component_management:
  individual_components:
    - component_id: generators
      name: Generators
      paths: ["**/generator/*.go"]
    - component_id: instruments
      name: Instruments
      paths: [instrument/**]
    - component_id: go-driver
      name: Go Driver
      paths: [internal/go*/**]
    - component_id: toolexec-driver
      name: Toolexec Driver
      paths: [internal/toolexec/**]
    - component_id: aspects
      name: Aspects
      paths: [internal/injector/aspect/**]
    - component_id: injector
      name: Injector
      paths: [internal/injector/**]
    - component_id: jobserver
      name: Job Server
      paths: [internal/jobserver/**]
    - component_id: integration-tests
      name: Integration Test Suite
      paths: [_integration-tests/**]
    - component_id: other
      name: Other

Upgrade hugo
  _docs/go.mod
  _docs/go.sum
Due: none

fix(injector: builtin: gorm.io/gorm): do not replace with a function with a different signature
  _integration-tests/tests/gorm/gorm.go
  internal/injector/builtin/yaml/databases/gorm.yml
Due: Injector, Integration Test Suite

remove span.kind client from test assertion
  _integration-tests/tests/gorm/gorm.go
Due: Integration Test Suite

release: v1.0.4
  internal/version/version.go
Due: none

make linter happy again
  internal/injector/config/config-go.go
Due: Injector

Update _docs/content/docs/architecture.md
  _docs/content/docs/architecture.md
Due: none

docs: generate documentation for integrations in `dd-trace-go` (#510)
  _docs/generator/doc.advice.add-blank-import.tmpl
  _docs/generator/doc.advice.add-struct-field.tmpl
  _docs/generator/doc.advice.append-args.tmpl
  _docs/generator/doc.advice.assign-value.tmpl
  _docs/generator/doc.advice.inject-declarations.tmpl
  _docs/generator/doc.advice.prepend-statements.tmpl
  _docs/generator/doc.advice.redirect-call.tmpl
  _docs/generator/doc.advice.wrap-expression.tmpl
  _docs/generator/doc.code.template.tmpl
  _docs/generator/doc.join.all-of.tmpl
  _docs/generator/doc.join.configuration.tmpl
  _docs/generator/doc.join.directive.tmpl
  _docs/generator/doc.join.function-body.tmpl
  _docs/generator/doc.join.function-call.tmpl
  _docs/generator/doc.join.function-declaration.tmpl
  _docs/generator/doc.join.function-name.tmpl
  _docs/generator/doc.join.import-path.tmpl
  _docs/generator/doc.join.not.tmpl
  _docs/generator/doc.join.one-of.tmpl
  _docs/generator/doc.join.package-name.tmpl
  _docs/generator/doc.join.receiver.tmpl
  _docs/generator/doc.join.signature.tmpl
  _docs/generator/doc.join.struct-definition.tmpl
  _docs/generator/doc.join.struct-literal.tmpl
  _docs/generator/doc.join.test-main.tmpl
  _docs/generator/doc.join.type-name.tmpl
  _docs/generator/doc.join.value-declaration.tmpl
  _docs/generator/doc.md.tmpl
  _docs/generator/generator.go
  _docs/generator/main.go
  _docs/generator/template-funcs.go
  _docs/generator/tools.go
  _docs/generator/tools.go.tmpl
  _docs/go.mod
  _docs/go.sum
  _docs/serve.sh
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/injector/config/config.go
  internal/injector/config/visitor.go
Due: Generators, Injector

chore: fix doc generation workflow
  .github/workflows/docsite.yml
Due: none

fix: load built-in aspects from binary instead of resolving YAML
  .github/workflows/deps-update.yml
  .github/workflows/validate.yml
  _docs/go.mod
  _tools/go.mod
  go.mod
  instrument/go.mod
  instrument/go.sum
  internal/injector/config/builtin.go
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/injector/config/testdata/required.snap.yml
  internal/injector/config/validate_test.go
  internal/pin/gomod.go
  internal/pin/pin.go
  orchestrion.yml
  samples/go.mod
  samples/go.sum
Due: Instruments, Injector

Use existing go min boundary
  .github/workflows/deps-update.yml
  .github/workflows/validate.yml
  instrument/go.mod
  instrument/go.sum
  samples/go.mod
  samples/go.sum
Due: Instruments

Upgrade codecov-cli dependency to avoid flakiness
  .github/actions/codecov-cli/requirements-dev.txt
Due: none

Add dependency-type to update groups
  .github/dependabot.yml
Due: none

Try to use python 3.12
  .github/actions/codecov-cli/action.yml
Due: none

fix: load built-in aspects from binary instead of resolving YAML
  .github/actions/codecov-cli/action.yml
  .github/dependabot.yml
  .github/workflows/deps-update.yml
  .github/workflows/validate.yml
  _docs/go.mod
  _tools/go.mod
  go.mod
  instrument/go.mod
  internal/injector/config/builtin.go
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/injector/config/testdata/required.snap.yml
  internal/injector/config/validate_test.go
  internal/pin/gomod.go
  internal/pin/pin.go
  internal/version/version.go
  orchestrion.yml
  samples/go.mod
  samples/go.sum
Due: Instruments, Injector

fix: load built-in aspects from binary instead of resolving YAML (#517)
  .github/actions/codecov-cli/action.yml
  .github/dependabot.yml
  .github/workflows/deps-update.yml
  .github/workflows/validate.yml
  _docs/go.mod
  _tools/go.mod
  go.mod
  instrument/go.mod
  internal/injector/config/builtin.go
  internal/injector/config/config-go.go
  internal/injector/config/config-yml.go
  internal/injector/config/testdata/required.snap.yml
  internal/injector/config/validate_test.go
  internal/pin/gomod.go
  internal/pin/pin.go
  internal/version/version.go
  orchestrion.yml
  samples/go.mod
  samples/go.sum
Due: Instruments, Injector

fix: auto-pin race condition on go.mod file
  internal/pin/pin.go
Due: none

fix: required-version respawning of orchestrion causes build failures
  internal/cmd/go.go
  internal/cmd/toolexec.go
  internal/cmd/version.go
  internal/cmd/version_test.go
  internal/ensure/integration/main.go
  internal/ensure/integration_test.go
  internal/ensure/requiredversion.go
  internal/ensure/requiredversion_test.go
  internal/pin/auto.go
  internal/pin/auto_test.go
Due: none

Acquire separate lock file to avoid blocking on go.mod
  internal/filelock/filelock.go
  internal/pin/auto_test.go
  internal/pin/gomod.go
  internal/pin/pin.go
  internal/pin/pin_test.go
Due: none

chore: fix doc generation workflow (#516)
  .github/workflows/docsite.yml
Due: none

go mod tidy
  _docs/go.mod
Due: none

Upgrade to dd-trace-go v1.71.1, and update internal version tag
  go.mod
  go.sum
  internal/version/version.go
Due: none

fix: build ID mismatch when using `-covermode` without `-cover`
  internal/goflags/flags.go
Due: Go Driver

ensure pin always has a writer available
  internal/pin/pin.go
Due: none

Add unit test
  internal/goflags/flags.go
  internal/goflags/flags_test.go
Due: Go Driver

Make sure coverpkg value is always absolute
  internal/goflags/flags.go
  internal/goflags/flags_test.go
Due: Go Driver

Also make -coverpkg value absolute
  internal/goflags/flags.go
Due: Go Driver

Feedback from @eliottness
  internal/pin/auto.go
  internal/pin/auto_test.go
Due: none

Make linter happy
  internal/goflags/flags.go
  internal/goflags/flags_test.go
Due: Go Driver

fix: build ID mismatch when using `-covermode` without `-cover` (#527)
  internal/goflags/flags.go
  internal/goflags/flags_test.go
  internal/pin/pin.go
Due: Go Driver

fix: required-version respawning of orchestrion causes build failures (#522)
  internal/cmd/go.go
  internal/cmd/toolexec.go
  internal/cmd/version.go
  internal/cmd/version_test.go
  internal/ensure/integration/main.go
  internal/ensure/integration_test.go
  internal/ensure/requiredversion.go
  internal/ensure/requiredversion_test.go
  internal/pin/auto.go
  internal/pin/auto_test.go
Due: none

release: v1.1.0-rc.1
  _docs/go.mod
  _docs/go.sum
  instrument/go.mod
  instrument/go.sum
  internal/version/version.go
  samples/go.mod
  samples/go.sum
Due: Instruments

Don't put +devel in go.mod
  internal/pin/pin.go
Due: none

Fixup test snapshot(s)
  _docs/generator/tools.go
  samples/testdata/client/gorm.go.snap
Due: Generators

Update documentation site
  .github/workflows/docsite.yml
  README.md
  _docs/.gitignore
  _docs/content/docs/built-in/_index.md
  _docs/content/docs/dd-trace-go/.gitignore
  _docs/content/docs/dd-trace-go/_index.md
  _docs/content/docs/dd-trace-go/custom-trace.md
  _docs/content/docs/dd-trace-go/features.md
  _docs/content/docs/dd-trace-go/integrations/_index.md
  _docs/content/docs/getting-started.md
  _docs/content/docs/troubleshooting.md
  _docs/content/docs/uninstalling.md
  _docs/generator/doc.md.tmpl
  _docs/generator/main.go
  internal/pin/pin.go
Due: Generators

Streamline getting started & supported libraries
  README.md
Due: none

Stop suggesting use of go run, it is known to cause issues with disappearing binaries in toolexec mode
  internal/ensure/requiredversion.go
Due: none

release: v1.1.0-rc.1 (#533)
  .github/workflows/docsite.yml
  README.md
  _docs/.gitignore
  _docs/content/docs/built-in/_index.md
  _docs/content/docs/dd-trace-go/.gitignore
  _docs/content/docs/dd-trace-go/_index.md
  _docs/content/docs/dd-trace-go/custom-trace.md
  _docs/content/docs/dd-trace-go/features.md
  _docs/content/docs/dd-trace-go/integrations/_index.md
  _docs/content/docs/getting-started.md
  _docs/content/docs/troubleshooting.md
  _docs/content/docs/uninstalling.md
  _docs/generator/doc.md.tmpl
  _docs/generator/main.go
  _docs/generator/tools.go
  _docs/go.mod
  _docs/go.sum
  instrument/go.mod
  instrument/go.sum
  internal/ensure/requiredversion.go
  internal/pin/pin.go
  internal/version/version.go
  samples/go.mod
  samples/go.sum
  samples/testdata/client/gorm.go.snap
Due: Generators, Instruments

chore: add extra logging around jobserver start
  internal/cmd/server.go
  internal/jobserver/client/env.go
Due: Job Server

properly process windows command line arguments
  go.mod
  go.sum
  internal/goflags/cmdline_unix.go
  internal/goflags/cmdline_windows.go
  internal/goflags/flags.go
Due: Go Driver

Log error message if invalid env var value
  internal/jobserver/client/env.go
Due: Job Server
